/*
BODY {scrollbar-face-color: #6AB3BC; scrollbar-shadow-color: #237684; scrollbar-highlight-color: #A8D7DD; 
scrollbar-3dlight-color: #A8D7DD; scrollbar-darkshadow-color:#237684; scrollbar-track-color: #ffffff; 
scrollbar-arrow-color: #237684} 
*/
A:link { color: #333333; text-decoration: none; font-weight: normal; font-family: "굴림"; font-size: 10pt; } 
A:visited { color: #333333; text-decoration: none; font-weight: normal; 
font-family: "굴림"; font-size: 10pt;} 
A:active{ color: #AD6627; text-decoration:none;font-weight: normal; font-family: "굴림"; font-size: 10pt;} 
A:hover { color: #AD6627; text-decoration:none;font-weight: normal; font-family: "굴림"; font-size: 10pt; }

A.D:link { color: #4C6D25; text-decoration: none; font-weight: normal; font-family: "굴림"; font-size: 10pt; } 
A.D:visited { color: #4C6D25; text-decoration: none; font-weight: normal; 
font-family: "굴림"; font-size: 10pt;} 
A.D:active{ color: #6A8C41; text-decoration:none;font-weight: normal; font-family: "굴림"; font-size: 10pt;} 
A.D:hover { color: #6A8C41; text-decoration:none;font-weight: normal; font-family: "굴림"; font-size: 10pt; }

td { font-family: "굴림"; font-size: 10pt; line-height: 17px; color: #5E5E5E}
th { font-family: "굴림"; font-size: 10pt; line-height: 17px; color: #5E5E5E; text-align:left;}
.a { color: #0033FF; font-weight: bold; font-family: "굴림"; font-size: 10pt; }
.button   { height:19px; border-width:1; border-style:ridge; border-color:#d0d0d0; background-color:#dfdfdf;}
.middle { font-family: "굴림"; font-size: 10pt; line-height: 17px; color: #5E5E5E}


