/* ##### display 469 ##### */
.downfnt469{font-family:굴림;font-size:12px;}
.searchfnt469{font-family:돋움;font-size:11px;}

.back5d469{width:100%;height:100%;
	background-image:url('./mm469/menubarbg.png'),url('./mm469/toprightbg.png'),url('./mm469/bottombg.png');
	background-position:50% 10px, 100% -30px, 0 100%;
	background-size:auto;
	background-repeat:no-repeat,no-repeat,repeat no-repeat;
	background-color:;}
.back5m469{width:100%;height:100%;
	background-image:;
	background-position:;
	background-size:auto;
	background-repeat:no-repeat;}

.mm5dD469-idxR{width:100%;height:60px;}		/* rectangle index */

/* pageshow, nextbtn, prevbtn, firstbtn, lastbtn */
.mm_div5dD469{display:block;position:absolute;left:calc(50% - 265px);top:18px;width:544px;height:26px;margin:0 auto;}

/* desktop buttons */
.mm_ulE001{display:block;position:relative;list-style-type:none;margin:0;padding:0;width:auto;height:auto;}
.mm_ulE001 > li{display:block;float:left;}
.mm_ulE001 img{display:block;margin:0;}

.mm_ulE002{display:block;float:right;list-style-type:none;margin:10px 10px 0 0;padding:0;width:auto;height:41px;}
.mm_ulE002 > li{display:block;float:left;}
.mm_ulE002 > li.none{display:block;float:left;width:41px;height:41px;}
.mm_ulE002 img{display:block;margin:0;}

/* page number show */
.pshow5dD469{width:131px;height:30px;margin:0;}
.pshow_p5dD469{display:block;float:left;width:67px;height:17px;margin:5px 0 0 0px;padding:0;}
.pshow_p5dD469 > input{width:70px;height:17px;padding-top:3px;padding-bottom:-3px;border:0;vertical-align:top;text-align:center;font-family:굴림;font-size:12px;color:#000000;background-color:#FFF;margin:0;}
#pshow_totalpage{display:block;float:left;height:16px;margin:7px 0 0 20px;color:#000;padding-top:1px;font-weight:solid;text-align:center;line-height:18px;font-family:굴림;font-size:12px;}
.pshow5mD469{display:block;position:absolute;right:3px;top:2px;width:50px;height:17px;margin:0;
	font-family:돋움;font-size:9px;text-align:right;color:#444444;}
/* buttons */
.firstbtn5dD469{width:22px;height:22px;margin:3px 5px 0 5px;cursor:pointer;}
.prevbtn5dD469{width:24px;height:25px;margin:2px 8px 0 0;cursor:pointer;}
.nextbtn5dD469{width:24px;height:25px;margin:2px 5px 0 0;cursor:pointer;}
.lastbtn5dD469{width:22px;height:22px;margin:3px 0 0 0;cursor:pointer;}
.pshow5dD469{width:131px;height:30px;margin:0;padding:0;background:url('./mm469/top_line.png') no-repeat 118px 8px;}
.indexbtn5dD469{width:20px;height:37px;margin:-2px 14px 0 10px;padding:0;cursor:pointer;}
.printbtn5dD469{width:30px;height:37px;margin:-2px 12px 0 0;padding:0;cursor:pointer;}
.expbtn5dD469{width:28px;height:37px;margin:-2px 12px 0 0;padding:0;cursor:pointer;}
.glassesbtn5dD469{width:29px;height:37px;margin:-2px 12px 0 0;padding:0;cursor:pointer;}
.fullscrbtn5dD469{width:39px;height:37px;margin:-2px 12px 0 0;padding:0 18px 0 0px;background:url('./mm469/top_line.png') no-repeat 55px 8px;}
.slidebtn5dD469{width:39px;height:36px;margin:0px 12px 0 0;padding:0;cursor:pointer;}
.helpbtn5dD469{width:24px;height:35px;margin:0;padding:10px 5px 0 0;cursor:pointer;}
.closebtn5dD469{width:19px;height:20px;margin:0;padding:10px 10px 0 0;cursor:pointer;}
#facebookbtn{width:25px;height:25px;margin:0;padding:10px 3px 0 0;;cursor:pointer;}
#twitterbtn{width:25px;height:24px;margin:0;padding:11px 8px 0 0;;cursor:pointer;}

/* lower side menu */
#lowersect{z-index:62;display:block;position:absolute;}	/* override z-index */
.lower5dD469{bottom:0;width:100%;height:40px; /* 하단 높이 */
	background-image:;
	background-position:bottom right;
	background-size:auto;
	background-repeat:no-repeat;
	background-color:}
.lower5mD469{left:0;top:300px;width:100%;height:41px;background-color:#658c01;}

/* sns */
.sns_nav5dD469{z-index:4;display:block;position:absolute;left:13px;top:0;width:54px;height:23px;margin:0;}
.sns_ul5dD469{display:block;list-style-type:none;margin:0;padding:0;}
.sns_ul5dD469 > li{display:block;float:left;}
.sns_ul5dD469 > li:not(:first-child){margin-left:2px;}

/* downloadn */
.down5dD012{z-index:2;display:block;position:absolute;left:20px;top:15px;width:116px;height:28px;margin:0;background-image:url('./mm012/down_left.png'),url('./mm012/down_right.png'),url('./mm012/down_center.png');background-position:top left,top right,top 0px left 13px;background-size:auto, auto,90px 28px;background-repeat:no-repeat;}
.down_img{display:block;float:left;margin:5px 0 0 5px;}
.down5dD012 span{display:block;float:left;margin:0 0 0 2px;width:90px;height:28px;overflow:hidden;white-space:nowrap;line-height:28px;font-family:굴림;font-size:12px;color:#ffffff;}

/* search */
.search5dD469{display:block;position:absolute;left:calc(50% - 113px);width:224px;height:22px;margin:0;}
.searchtxt5dD469{display:block;float:left;width:183px;height:22px;margin:0;padding-left:10px;color:#000000;border:0;background:url('./mm469/search_back.png') no-repeat;}
.searchbtn5dD469{display:block;float:left;width:31px;height:22px;margin:0 0 0 -1px;padding:0;vertical-align:middle;border:0;}

.search5mD012{z-index:73;display:block;position:absolute;right:35px;top:43px;margin:0;padding:0;width:200px;height:36px;
	background:url('./mm012/m_popback.png');background-size:cover;}
.search5mD012 > input{-webkit-border-radius:0px;-moz-border-radius:0px;-webkit-appearance:none;}
.searchtxt5mD012{display:block;float:left;width:120px;height:20px;margin:10px 0 0 20px;padding:0;border:1px solid #b8b8b8;background:url('./mm012/m_searchbtn-back.png');}
.searchbtn5mD012{display:block;float:left;width:21px;height:20px;margin:10px 0 0 1px;}

/* combo box */
.cbbox5dD469{z-index:1;display:block;position:absolute;right:10px;top:0px;width:141px;height:26px;margin:0;}
.cbbox5dD469 img{margin:0;}


/* mobile button */
.mm5mD469{width:100%;height:40px;background:url('./mm041/menuback-m.png');}		/* mobile */
.mmpopbtn5mD469{display:block;position:absolute;top:0;left:0;width:45px;height:40px;margin:0;padding:0;cursor:pointer;border-right:1px solid #cacaca;}
.mmturnbtn5mD469{display:block;position:absolute;top:11px;right:13px;width:28px;height:21px;margin:0;padding:0;cursor:pointer;}
.mmlogo5mD469{display:block;position:absolute;top:7px;left:calc(50% - 56px);width:102px;height:25px;padding:0;cursor:pointer;}

.mm_ul_imgE006{width:27px;height:20px;margin:0;}
.mm_ul_imgE007{width:24px;height:19px;margin:10px 0 0 12px;}
.mm_ul_imgE008{width:102px;height:25px;margin:0;}
.mm_ul_imgE009{width:6px;height:11px;margin:0;}


/* mobile popup menu */
.mmpop5mD469{left:0;top:40px;width:190px;height:auto;visibility:hidden;background-color:#484848;}
.mmpop_ul5mD469{display:block;list-style-type:none;margin:0;padding:0;}
.mmpop_ul5mD469 > li{display:block;width:100%;height:36px;margin:0;cursor:pointer;
	background-image:url('./mm041/m_popdivline.png');background-position:0 34px;background-size:100% 2px;background-repeat:no-repeat;}
.mmpop_ul5mD469 > li img{display:block;float:left;margin:6px 0 0 12px;padding:0;}
.mmpop_ul5mD469 > li p{display:block;float:left;margin:6px 0 0 6px;padding:0;color:#ffffff;font-size:13px;line-height:24px;}
.mmpop_ul5mD469 > li span{display:block;float:right;margin:5px 10px 0 0;padding:0;}


/* search */
.search5mD469{z-index:3;display:block;position:relative;width:170px;height:24px;margin:10px 0 10px 20px;padding:0;}
.search5mD469 input{-webkit-border-radius:0px;-moz-border-radius:0px;-webkit-appearance:none;}
.searchtxt5mD469{display:block;float:left;width:120px;height:24px;margin:0;padding:0;border:0 solid #3f535c;}
.searchbtn5mD469{display:block;float:left;width:36px;height:24px;margin-left:1px;}

/* sns */
.sns_nav5mD469{z-index:2;display:block;position:relative;width:100%;height:35px;margin:0;padding:0;background-color:#c5c5c5;}
.sns_ul5mD469{display:block;list-style-type:none;margin:0;padding:0;}
.sns_ul5mD469 > li{display:block;position:relative;float:left;}

.facebookbtn5mD469{width:20px;height:20px;margin:8px 0 0 10px;}
.twitterbtn5mD469{width:28px;height:20px;margin:8px 0 0 0px;}
.kakaobtn5mD469{width:28px;height:20px;margin:8px 0 0 10px;}
.downbtn5mD469{display:block;position:relative;float:right;width:21px;height:20px;margin:8px 15px 0 0;}

