/* ##### display 473 ##### */
.downfnt473{font-family:굴림;font-size:12px;}
.searchfnt473{font-family:돋움;font-size:11px;}

.back5d473{width:100%;height:100%;
	background-image:url('./mm473/btn_bg.png');
	background-position:0 0;
	background-size:100% 100%;
	background-repeat:repeat;
	background-color:;}
.back5m473{width:100%;height:100%;
	background-image:url('./mm473/pattern.png');
	background-position:;
	background-size:auto;
	background-repeat:repeat;}

.mm5dD473-idxR{width:100%;height:66px;background:url('./mm473/top_bg.png') repeat-x 0 0;}		/* rectangle index */

/* pageshow, nextbtn, prevbtn, firstbtn, lastbtn */
.mm_div5dD473{display:block;position:absolute;left:calc(50% - 125px);top:18px;width:250px;height:26px;margin:0 auto;}

/* desktop buttons */
.mm_ulE001{display:block;position:relative;list-style-type:none;margin:0;padding:0;width:auto;height:auto;}
.mm_ulE001 > li{display:block;float:left;}
.mm_ulE001 img{display:block;margin:0;}

.mm_ulE002{display:block;float:right;list-style-type:none;margin:10px 10px 0 0;padding:0;width:auto;height:41px;}
.mm_ulE002 > li{display:block;float:left;}
.mm_ulE002 > li.none{display:block;float:left;width:41px;height:41px;}
.mm_ulE002 img{display:block;margin:0;}

/* page number show */
.pshow5dD473{width:359px;height:47px;margin:-10px 0 0 -55px;background:url('./mm473/pagenum_back.png') no-repeat;z-index:1;}
.pshow_p5dD473{display:block;float:left;width:56px;height:14px;margin:15px 0 0 95px;padding:0;}
.pshow_p5dD473 > input{width:56px;height:14px;padding-top:2px;border:0;vertical-align:top;text-align:center;font-family:굴림;font-size:12px;color:#000000;background-color:#FFF;margin:0;}
#pshow_totalpage{display:block;float:left;height:16px;margin:15px 0 0 35px;color:#000;padding-top:1px;
	font-weight:solid;text-align:center;line-height:18px;font-family:굴림;font-size:12px;}
.pshow5mD473{display:block;position:absolute;right:3px;top:2px;width:50px;height:17px;margin:0;
	font-family:돋움;font-size:9px;text-align:right;color:#444444;}

/* buttons */
.firstbtn5dD473{width:22px;height:22px;margin:-35px 0 0 -35px;cursor:pointer;}
.prevbtn5dD473{width:24px;height:25px;margin:-36px 0 0 -7px;cursor:pointer;}
.nextbtn5dD473{width:24px;height:25px;margin:-36px 0 0 160px;cursor:pointer;}
.lastbtn5dD473{width:22px;height:22px;margin:-35px 0 0 190px;cursor:pointer;}
.slidebtn5dD473{width:74px;height:25px;margin:-36px 0 0 215px;padding:0;cursor:pointer;}
.indexbtn5dD473{width:29px;height:45px;margin:0;padding:0 13px 0 13px;background:url('./mm473/top_line.png') no-repeat right;}
.printbtn5dD473{width:29px;height:45px;margin:0;padding:0 13px 0 12px;background:url('./mm473/top_line.png') no-repeat right;}
.expbtn5dD473{width:38px;height:45px;margin:0;padding:0 6px 0 7px;background:url('./mm473/top_line.png') no-repeat right;}
.glassesbtn5dD473{width:29px;height:45px;margin:0;padding:0 10px 0 10px;background:url('./mm473/top_line.png') no-repeat right;}
.fullscrbtn5dD473{width:23px;height:23px;margin:7px 5px 0 5px;padding:0;}
.helpbtn5dD473{width:29px;height:45px;margin:0;padding:0 10px 0 10px;}
.closebtn5dD473{width:23px;height:23px;margin:7px 5px 0 0;padding:0;cursor:pointer;}


/* lower side menu */
#lowersect{z-index:62;display:block;position:absolute;}	/* override z-index */
.lower5dD473{bottom:0;width:100%;height:40px; /* 하단 높이 */
	background-image:;
	background-position:bottom right;
	background-size:auto;
	background-repeat:no-repeat;
	background-color:}
.lower5mD473{left:0;top:300px;width:100%;height:41px;background-color:#658c01;}

/* sns */
.sns_nav5dD473{z-index:4;display:block;float:right;top:0;width:54px;height:23px;margin:0;}
.sns_ul5dD473{display:block;list-style-type:none;margin:0;padding:0;}
.sns_ul5dD473 > li{display:block;float:right;}
.sns_ul5dD473 > li:not(:first-child){margin-right:5px;}

/* downloadn */
.down5dD473{z-index:2;display:block;float:left;left:0;top:0;width:129px;height:20px;margin:0 0 0 15px;background-image:url('./mm473/downbtn.png');background-repeat:no-repeat;}
.down_img{display:block;float:left;margin:2px 0 0 5px;}
.down5dD473 span{display:block;float:left;margin:-3px 0 0 7px;width:86px;height:20px;overflow:hidden;white-space:nowrap;line-height:28px;font-family:굴림;font-size:11px;color:#fff;}

/* search */
.search5dD473{display:block;float:right;right:100px;width:227px;height:22px;margin:0 -50px 0 5px;}
.searchtxt5dD473{display:block;float:left;width:135px;height:23px;margin:0;padding-left:5px;color:#000000;border:0;background:url('./mm473/search_back.png') no-repeat;}
.searchbtn5dD473{display:block;float:left;width:23px;height:22px;margin:0 0 0 2px;padding:0;vertical-align:middle;}

.search5mD012{z-index:73;display:block;position:absolute;right:35px;top:43px;margin:0;padding:0;width:200px;height:36px;
	background:url('./mm012/m_popback.png');background-size:cover;}
.search5mD012 > input{-webkit-border-radius:0px;-moz-border-radius:0px;-webkit-appearance:none;}
.searchtxt5mD012{display:block;float:left;width:120px;height:20px;margin:10px 0 0 20px;padding:0;border:1px solid #b8b8b8;background:url('./mm012/m_searchbtn-back.png');}
.searchbtn5mD012{display:block;float:left;width:21px;height:20px;margin:10px 0 0 1px;}

/* combo box */
.cbbox5dD473{float:right;z-index:1;display:block;right:10px;top:0px;width:141px;height:26px;margin:0 20px 0 0;}
.cbbox5dD473 img{margin:0;}


/* mobile button */
.mm5mD473{width:100%;height:40px;background:url('./mm041/menuback-m.png');}		/* mobile */
.mmpopbtn5mD473{display:block;position:absolute;top:0;left:0;width:45px;height:40px;margin:0;padding:0;cursor:pointer;border-right:1px solid #cacaca;}
.mmturnbtn5mD473{display:block;position:absolute;top:11px;right:13px;width:28px;height:21px;margin:0;padding:0;cursor:pointer;}
.mmlogo5mD473{display:block;position:absolute;top:7px;left:calc(50% - 56px);width:102px;height:25px;padding:0;cursor:pointer;}

.mm_ul_imgE006{width:27px;height:20px;margin:0;}
.mm_ul_imgE007{width:24px;height:19px;margin:10px 0 0 12px;}
.mm_ul_imgE008{width:102px;height:25px;margin:0;}
.mm_ul_imgE009{width:6px;height:11px;margin:0;}


/* mobile popup menu */
.mmpop5mD473{left:0;top:40px;width:190px;height:auto;visibility:hidden;background-color:#484848;}
.mmpop_ul5mD473{display:block;list-style-type:none;margin:0;padding:0;}
.mmpop_ul5mD473 > li{display:block;width:100%;height:36px;margin:0;cursor:pointer;
	background-image:url('./mm041/m_popdivline.png');background-position:0 34px;background-size:100% 2px;background-repeat:no-repeat;}
.mmpop_ul5mD473 > li img{display:block;float:left;margin:6px 0 0 12px;padding:0;}
.mmpop_ul5mD473 > li p{display:block;float:left;margin:6px 0 0 6px;padding:0;color:#ffffff;font-size:13px;line-height:24px;}
.mmpop_ul5mD473 > li span{display:block;float:right;margin:5px 10px 0 0;padding:0;}


/* search */
.search5mD473{z-index:3;display:block;position:relative;width:170px;height:24px;margin:10px 0 10px 20px;padding:0;}
.search5mD473 input{-webkit-border-radius:0px;-moz-border-radius:0px;-webkit-appearance:none;}
.searchtxt5mD473{display:block;float:left;width:120px;height:24px;margin:0;padding:0;border:0 solid #3f535c;}
.searchbtn5mD473{display:block;float:left;width:36px;height:24px;margin-left:1px;}

/* sns */
.sns_nav5mD473{z-index:2;display:block;position:relative;width:100%;height:35px;margin:0;padding:0;background-color:#c5c5c5;}
.sns_ul5mD473{display:block;list-style-type:none;margin:0;padding:0;}
.sns_ul5mD473 > li{display:block;position:relative;float:left;}

.facebookbtn5mD473{width:20px;height:20px;margin:8px 0 0 10px;}
.twitterbtn5mD473{width:28px;height:20px;margin:8px 0 0 0px;}
.kakaobtn5mD473{width:28px;height:20px;margin:8px 0 0 10px;}
.downbtn5mD473{display:block;position:relative;float:right;width:21px;height:20px;margin:8px 15px 0 0;}

