/* ##### display 473b ##### */
.downfnt473b{font-family:굴림;font-size:12px;}
.searchfnt473b{font-family:돋움;font-size:11px;}

.back5d473b{width:100%;height:100%;
	background-image:url('./mm473b/bottomleftbg.png'),url('./mm473b/toprightbg.png'),url('./mm473b/bg.png');
	background-position:0 100%,100% 0,0;
	background-size:303px 605px,445px 626px,100% 100%;
	background-repeat:no-repeat;
	background-color:;}
.back5m473b{width:100%;height:100%;
	background-image:url('./mm473b/bottomleftbg.png'),url('./mm473b/toprightbg.png'),url('./mm473b/bg.png');
	background-position:0 100%,100% 0,0;
	background-size:101px 201px,148px 208px,100% 100%;
	background-repeat:no-repeat;}

.mm5dD473b-idxR{width:100%;height:60px;background:url('./mm473b/top_bg.png') repeat-x 0 0;}		/* rectangle index */

/* pageshow, nextbtn, prevbtn, firstbtn, lastbtn */
.mm_div5dD473b{display:block;position:absolute;left:calc(50% - 120px);top:18px;width:530px;height:30px;margin:0 auto;}

/* desktop buttons */
.mm_ulE001{display:block;position:relative;list-style-type:none;margin:0;padding:0;width:auto;height:auto;}
.mm_ulE001 > li{display:block;float:left;}
.mm_ulE001 img{display:block;margin:0;}

.mm_ulE002{display:block;float:right;list-style-type:none;margin:10px 10px 0 0;padding:0;width:auto;height:41px;}
.mm_ulE002 > li{display:block;float:left;}
.mm_ulE002 > li.none{display:block;float:left;width:41px;height:41px;}
.mm_ulE002 img{display:block;margin:0;}

/* page number show */
.pshow5dD473b{width:91px;height:21px;margin:4px 0 0 20px;}
.pshow_p5dD473b{display:block;float:left;width:61px;height:21px;margin:0;padding:0;background:url('./mm473b/pagenum_back.png') no-repeat;}
.pshow_p5dD473b > input{width:60px;height:14px;padding-top:4px;border:0;vertical-align:top;text-align:center;font-family:굴림;font-size:12px;color:#000000;background:none;margin:0;}
#pshow_totalpage{display:block;float:left;height:16px;margin:2px 0 0 5px;color:#000;padding-top:1px;
	font-weight:bold;text-align:center;line-height:18px;font-family:굴림;font-size:12px;}
.pshow5mD473b{display:block;position:absolute;right:3px;top:2px;width:50px;height:17px;margin:0;
	font-family:돋움;font-size:9px;text-align:right;color:#444444;}

/* buttons */
.firstbtn5dD473b{width:28px;height:27px;margin:0 0 0 -7px;cursor:pointer;}
.prevbtn5dD473b{width:28px;height:27px;margin:0 0 0 12px;cursor:pointer;}
.nextbtn5dD473b{width:28px;height:27px;margin:0 0 0 7px;cursor:pointer;}
.lastbtn5dD473b{width:28px;height:27px;margin:0 0 0 12px;cursor:pointer;}

.indexbtn5dD473b{width:38px;height:54px;margin:0 13px 0 0;padding:0;cursor:pointer;}
.printbtn5dD473b{width:37px;height:55px;margin:0 10px 0 0;padding:0;cursor:pointer;}
.expbtn5dD473b{width:59px;height:56px;margin:-1px 10px 0 0;cursor:pointer;}
.glassesbtn5dD473b{width:51px;height:55px;margin:0 10px 0 0;padding:0;cursor:pointer;}
.fullscrbtn5dD473b{width:41px;height:58px;margin:-3px 10px 0 0;padding:0;cursor:pointer;}
.helpbtn5dD473b{width:40px;height:60px;margin:-5px 10px 0 0;padding:0;cursor:pointer;}
.closebtn5dD473b{width:30px;height:31px;margin:10px 10px 0 0;padding:0;cursor:pointer;}
.slidebtn5dD473b{width:44px;height:58px;margin:-3px 10px 0 0;padding:0;cursor:pointer;}
.facebook{width:31px;height:31px;margin:0;padding:0;cursor:pointer;}
.twitter{width:31px;height:31px;margin:0;padding:0;cursor:pointer;}

/* lower side menu */
#lowersect{z-index:62;display:block;position:absolute;}	/* override z-index */
.lower5dD473b{bottom:0;width:100%;height:40px; /* 하단 높이 */
	background-image:;
	background-position:bottom right;
	background-size:auto;
	background-repeat:no-repeat;
	background-color:}
.lower5mD473b{left:0;top:300px;width:100%;height:41px;background-color:#658c01;}

/* sns */
.sns_nav5dD473b{z-index:4;display:block;position:absolute;left:13px;top:0;width:225px;height:23px;margin:0;}
.sns_ul5dD473b{display:block;list-style-type:none;margin:0;padding:0;}
.sns_ul5dD473b > li{display:block;float:left;}
.sns_ul5dD473b > li:not(:first-child){margin-left:7px;}

/* downloadn */
.down5dD473b{z-index:2;display:block;float:left;left:0;top:0;width:129px;height:31px;margin:0 0 0 25px;background-image:url('./mm473b/downbtn.png');background-repeat:no-repeat;}
.down_img{display:block;float:left;margin:7px 0 0 5px;}
.down5dD473b span{display:block;float:left;margin:3px 0 0 2px;width:106px;height:28px;overflow:hidden;white-space:nowrap;line-height:28px;font-family:굴림;font-size:11px;color:#878787;}

/* search */
.search5dD473b{display:block;position:absolute;left:calc(50% - 113px);width:270px;height:31px;margin:0;background:url('./mm473b/search_back.png') no-repeat;}
.searchtxt5dD473b{display:block;float:left;width:220px;height:31px;margin:0;padding-left:10px;color:#000000;border:0;background:none;}
.searchbtn5dD473b{display:block;position:absolute;width:17px;height:17px;right:12px;top:7px;margin:0;padding:0;vertical-align:middle;}

.search5mD012{z-index:73;display:block;position:absolute;right:35px;top:43px;margin:0;padding:0;width:200px;height:36px;
	background:url('./mm012/m_popback.png');background-size:cover;}
.search5mD012 > input{-webkit-border-radius:0px;-moz-border-radius:0px;-webkit-appearance:none;}
.searchtxt5mD012{display:block;float:left;width:120px;height:20px;margin:10px 0 0 20px;padding:0;border:1px solid #b8b8b8;background:url('./mm012/m_searchbtn-back.png');}
.searchbtn5mD012{display:block;float:left;width:21px;height:20px;margin:10px 0 0 1px;}

/* combo box */
.cbbox5dD473b{z-index:1;display:block;position:absolute;right:15px;top:0px;width:129px;height:31px;margin:0;}
.cbbox5dD473b img{margin:0;}


/* mobile button */
.mm5mD473b{width:100%;height:40px;background:url('./mm473b/menuback-m.png') repeat-x bottom;}		/* mobile */
.mmpopbtn5mD473b{display:block;position:absolute;top:0;left:0;width:45px;height:40px;margin:0;padding:0;cursor:pointer;border-right:1px solid #b5daa9;}
.mmturnbtn5mD473b{display:block;position:absolute;top:11px;right:13px;width:28px;height:21px;margin:0;padding:0;cursor:pointer;}
.mmlogo5mD473b{display:block;position:absolute;top:7px;left:calc(50% - 56px);width:102px;height:25px;padding:0;cursor:pointer;}

.mm_ul_imgE006{width:27px;height:20px;margin:0;}
.mm_ul_imgE007{width:24px;height:19px;margin:10px 0 0 12px;}
.mm_ul_imgE008{width:102px;height:25px;margin:0;}
.mm_ul_imgE009{width:6px;height:11px;margin:0;}


/* mobile popup menu */
.mmpop5mD473b{left:0;top:40px;width:190px;height:auto;visibility:hidden;background-color:#72b663;}
.mmpop_ul5mD473b{display:block;list-style-type:none;margin:0;padding:0;}
.mmpop_ul5mD473b > li{display:block;width:100%;height:36px;margin:0;cursor:pointer;
	background-image:url('./mm473b/m_popdivline.png');background-position:0 34px;background-size:100% 2px;background-repeat:no-repeat;}
.mmpop_ul5mD473b > li img{display:block;float:left;margin:6px 0 0 12px;padding:0;}
.mmpop_ul5mD473b > li p{display:block;float:left;margin:6px 0 0 6px;padding:0;color:#ffffff;font-size:13px;line-height:24px;}
.mmpop_ul5mD473b > li span{display:block;float:right;margin:5px 10px 0 0;padding:0;}


/* search */
.search5mD473b{z-index:3;display:block;position:relative;width:170px;height:24px;margin:10px 0 10px 20px;padding:0;}
.search5mD473b input{-webkit-border-radius:0px;-moz-border-radius:0px;-webkit-appearance:none;}
.searchtxt5mD473b{display:block;float:left;width:120px;height:24px;margin:0;padding:0;border:0 solid #3f535c;}
.searchbtn5mD473b{display:block;float:left;width:36px;height:24px;margin-left:1px;}

/* sns */
.sns_nav5mD473b{z-index:2;display:block;position:relative;width:100%;height:35px;margin:0;padding:0;background-color:#c5c5c5;}
.sns_ul5mD473b{display:block;list-style-type:none;margin:0;padding:0;}
.sns_ul5mD473b > li{display:block;position:relative;float:left;}

.facebookbtn5mD473b{width:20px;height:20px;margin:8px 0 0 10px;}
.twitterbtn5mD473b{width:28px;height:20px;margin:8px 0 0 0px;}
.kakaobtn5mD473b{width:28px;height:20px;margin:8px 0 0 10px;}
.downbtn5mD473b{display:block;position:relative;float:right;width:21px;height:20px;margin:8px 15px 0 0;}

