/* ##### display 472a ##### */
.downfnt472a{font-family:굴림;font-size:12px;}
.searchfnt472a{font-family:돋움;font-size:11px;}

.back5d472a{width:100%;height:100%;
	background-image:;
	background-position:0% 100%;
	background-size:auto;
	background-repeat:no-repeat;
	background-color:#c1c6ca;}
.back5m472a{width:100%;height:100%;
	background-image:;
	background-position:;
	background-size:auto;
	background-repeat:no-repeat;}

.mm5dD472a-idxR{width:100%;height:60px;}		/* rectangle index */

/* pageshow, nextbtn, prevbtn, firstbtn, lastbtn */
/*.mm_div5dD472a{display:block;position:absolute;left:calc(50% - 265px);top:18px;width:544px;height:26px;margin:0 auto;}*/

/* desktop buttons */
.mm_ulE001{display:block;position:relative;list-style-type:none;margin:0;padding:0;width:auto;height:auto;}
.mm_ulE001 > li{display:block;float:left;}
.mm_ulE001 img{display:block;margin:0;}

.mm_ulE002{display:block;float:right;list-style-type:none;margin:10px 10px 0 0;padding:0;width:auto;height:41px;}
.mm_ulE002 > li{display:block;float:left;}
.mm_ulE002 > li.none{display:block;float:left;width:41px;height:41px;}
.mm_ulE002 img{display:block;margin:0;}


.mm_ulE003{display:block;position:absolute;left:calc(50% - 212px);width:362px;height:43px;margin:0;margin-bottom:16px;list-style-type:none;}
.mm_ulE003 > li{display:block;float:left;}

/* page number show */
.pshow5dD472a{width:118px;height:43px;margin:0;background:url('./mm472a/pagenum_back.png') no-repeat;}
.pshow_p5dD472a{display:block;float:left;width:65px;height:16px;margin:8px 0 0 19px;padding:0;}
.pshow_p5dD472a > input{width:64px;height:16px;padding-top:3px;padding-bottom:-3px;border:0;vertical-align:top;text-align:center;font-family:굴림;font-size:12px;color:#000000;background-color:#FFF;margin:4px 0 0 0;background:url('./mm472a/pagenum_bg.png') no-repeat;}
#pshow_totalpage{display:block;float:left;height:16px;margin:13px 0 0 10px;color:#fff;padding-top:1px;font-weight:bold;text-align:center;line-height:18px;font-family:굴림;font-size:12px;}
.pshow5mD472a{display:block;position:absolute;right:3px;top:2px;width:50px;height:17px;margin:0;
	font-family:돋움;font-size:9px;text-align:right;color:#444444;}
/* buttons */
.firstbtn5dD472a{float:left;width:65px;height:43px;margin:0;cursor:pointer;}
.prevbtn5dD472a{float:left;width:57px;height:43px;margin:0;cursor:pointer;}
.nextbtn5dD472a{float:left;width:57px;height:43px;margin:0;cursor:pointer;}
.lastbtn5dD472a{float:left;width:65px;height:43px;margin:0;cursor:pointer;}
.pshow5dD469{width:118px;height:43px;margin:0;padding:0;cursor:pointer;}
.indexbtn5dD472a{width:73px;height:43px;margin:0;padding:0;cursor:pointer;}
.printbtn5dD472a{width:75px;height:43px;margin:0;padding:0;cursor:pointer;}
.expbtn5dD472a{width:70px;height:43px;margin:0;padding:0;cursor:pointer;}
.glassesbtn5dD472a{width:74px;height:43px;margin:0;padding:0;cursor:pointer;}
.fullscrbtn5dD472a{width:100px;height:43px;margin:0;padding:0;cursor:pointer;}
.slidebtn5dD472a{width:77px;height:43px;margin:0;padding:0;cursor:pointer;}
/*.helpbtn5dD472a{width:24px;height:43px;margin:0;padding:10px 5px 0 0;cursor:pointer;}
.closebtn5dD472a{width:19px;height:20px;margin:0;padding:10px 10px 0 0;cursor:pointer;}*/
#facebookbtn{width:25px;height:25px;margin:10px 0 0 0;padding:0;cursor:pointer;}
#twitterbtn{width:25px;height:25px;margin:10px 0 0 0;padding:0;cursor:pointer;}

/* lower side menu */
#lowersect{z-index:62;display:block;position:absolute;}	/* override z-index */
.lower5dD472a{bottom:0;width:100%;height:53px; /* 하단 높이 */
	background-image:;
	background-position:bottom right;
	background-size:auto;
	background-repeat:no-repeat;
	background-color:}
.lower5mD472a{left:0;top:300px;width:100%;height:41px;background-color:#658c01;}

/* sns */
.sns_nav5dD472a{z-index:4;display:block;position:absolute;left:13px;top:0;width:54px;height:23px;margin:0;}
.sns_ul5dD472a{display:block;list-style-type:none;margin:0;padding:0;}
.sns_ul5dD472a > li{display:block;float:left;}
.sns_ul5dD472a > li:not(:first-child){margin-left:2px;}

/* downloadn */
.down5dD012{z-index:2;display:block;position:absolute;left:20px;top:15px;width:116px;height:28px;margin:0;background-image:url('./mm012/down_left.png'),url('./mm012/down_right.png'),url('./mm012/down_center.png');background-position:top left,top right,top 0px left 13px;background-size:auto, auto,90px 28px;background-repeat:no-repeat;}
.down_img{display:block;float:left;margin:5px 0 0 5px;}
.down5dD012 span{display:block;float:left;margin:0 0 0 2px;width:90px;height:28px;overflow:hidden;white-space:nowrap;line-height:28px;font-family:굴림;font-size:12px;color:#ffffff;}

/* search */
.search5dD472a{display:block;float:left;width:210px;height:44px;margin:0;list-style-type:none;background:url('./mm472a/search_back.png') no-repeat;}
.searchtxt5dD472a{display:block;float:left;width:160px;height:18px;margin:10.5px 0 0 12px;padding-left:0;color:#000000;border:0;;background:url('./mm472a/search_bg.png') no-repeat;}
.searchbtn5dD472a{display:block;float:left;width:24px;height:18px;margin:10.5px 0 0 3px;padding:0;vertical-align:middle;border:0;z-index:3;}



.search5mD012{z-index:73;display:block;position:absolute;right:35px;top:43px;margin:0;padding:0;width:200px;height:36px;
	background:url('./mm012/m_popback.png');background-size:cover;}
.search5mD012 > input{-webkit-border-radius:0px;-moz-border-radius:0px;-webkit-appearance:none;}
.searchtxt5mD012{display:block;float:left;width:120px;height:20px;margin:10px 0 0 20px;padding:0;border:1px solid #b8b8b8;background:url('./mm012/m_searchbtn-back.png');}
.searchbtn5mD012{display:block;float:left;width:21px;height:20px;margin:10px 0 0 1px;}

/* combo box */
.cbbox5dD472a{z-index:1;display:block;position:absolute;right:10px;top:0px;width:143px;height:40px;margin:8px 0 0 0;}
.cbbox5dD472a img{margin:0;}


/* mobile button */
.mm5mD472a{width:100%;height:40px;background:url('./mm041/menuback-m.png');}		/* mobile */
.mmpopbtn5mD472a{display:block;position:absolute;top:0;left:0;width:45px;height:40px;margin:0;padding:0;cursor:pointer;border-right:1px solid #cacaca;}
.mmturnbtn5mD472a{display:block;position:absolute;top:11px;right:13px;width:28px;height:21px;margin:0;padding:0;cursor:pointer;}
.mmlogo5mD472a{display:block;position:absolute;top:7px;left:calc(50% - 56px);width:102px;height:25px;padding:0;cursor:pointer;}

.mm_ul_imgE006{width:27px;height:20px;margin:0;}
.mm_ul_imgE007{width:24px;height:19px;margin:10px 0 0 12px;}
.mm_ul_imgE008{width:102px;height:25px;margin:0;}
.mm_ul_imgE009{width:6px;height:11px;margin:0;}


/* mobile popup menu */
.mmpop5mD472a{left:0;top:40px;width:190px;height:auto;visibility:hidden;background-color:#484848;}
.mmpop_ul5mD472a{display:block;list-style-type:none;margin:0;padding:0;}
.mmpop_ul5mD472a > li{display:block;width:100%;height:36px;margin:0;cursor:pointer;
	background-image:url('./mm041/m_popdivline.png');background-position:0 34px;background-size:100% 2px;background-repeat:no-repeat;}
.mmpop_ul5mD472a > li img{display:block;float:left;margin:6px 0 0 12px;padding:0;}
.mmpop_ul5mD472a > li p{display:block;float:left;margin:6px 0 0 6px;padding:0;color:#ffffff;font-size:13px;line-height:24px;}
.mmpop_ul5mD472a > li span{display:block;float:right;margin:5px 10px 0 0;padding:0;}


/* search */
.search5mD472a{z-index:3;display:block;position:relative;width:170px;height:24px;margin:10px 0 10px 20px;padding:0;}
.search5mD472a input{-webkit-border-radius:0px;-moz-border-radius:0px;-webkit-appearance:none;}
.searchtxt5mD472a{display:block;float:left;width:120px;height:24px;margin:0;padding:0;border:0 solid #3f535c;}
.searchbtn5mD472a{display:block;float:left;width:36px;height:24px;margin-left:1px;}

/* sns */
.sns_nav5mD472a{z-index:2;display:block;position:relative;width:100%;height:35px;margin:0;padding:0;background-color:#c5c5c5;}
.sns_ul5mD472a{display:block;list-style-type:none;margin:0;padding:0;}
.sns_ul5mD472a > li{display:block;position:relative;float:left;}

.facebookbtn5mD472a{width:20px;height:20px;margin:8px 0 0 10px;}
.twitterbtn5mD472a{width:28px;height:20px;margin:8px 0 0 0px;}
.kakaobtn5mD472a{width:28px;height:20px;margin:8px 0 0 10px;}
.downbtn5mD472a{display:block;position:relative;float:right;width:21px;height:20px;margin:8px 15px 0 0;}

