/* ##### display 478b ##### */
.downfnt478b{font-family:굴림;font-size:12px;}
.searchfnt478b{font-family:돋움;font-size:11px;}

.back5d478b{width:100%;height:100%;
	background-image:url('./mm478b/bg.png');
	background-position:0 0;
	background-size:100% 100%;
	background-repeat:repeat;
	background-color:;}
.back5m478b{width:100%;height:100%;
	background-image:url('./mm478b/bg.png');
	background-position:0 0;
	background-size:100% 100%;
	background-repeat:repeat;}

.mm5dD478b-idxR{width:100%;height:60px;}		/* rectangle index */

/* pageshow, nextbtn, prevbtn, firstbtn, lastbtn */
.mm_div5dD478b{display:block;position:absolute;left:calc(50% - 110px);top:18px;width:auto;height:30px;margin:0 auto;}

/* desktop buttons */
.mm_ulE001{display:block;position:relative;list-style-type:none;margin:0;padding:0;width:auto;height:auto;}
.mm_ulE001 > li{display:block;float:left;}
.mm_ulE001 img{display:block;margin:0;}

.mm_ulE002{display:block;float:right;list-style-type:none;margin:10px 10px 0 0;padding:0;width:auto;height:41px;}
.mm_ulE002 > li{display:block;float:left;}
.mm_ulE002 > li.none{display:block;float:left;width:41px;height:41px;}
.mm_ulE002 img{display:block;margin:0;}

/* page number show */
.pshow5dD478b{width:130px;height:21px;margin:4px 0 0 20px;}
.pshow_p5dD478b{display:block;float:left;width:123px;height:21px;margin:0;padding:0;background:url('./mm478b/pagenum_back.png') no-repeat;}
.pshow_p5dD478b > input{width:57px;height:14px;padding:5px 0 0 2px;border:0;vertical-align:top;text-align:center;font-family:굴림;font-size:12px;color:#000000;background:none;margin:0;}
#pshow_totalpage{display:block;float:left;height:16px;margin:2px 0 0 -40px;color:#000;padding-top:1px;
	font-weight:;text-align:center;line-height:18px;font-family:굴림;font-size:12px;}
.pshow5mD478b{display:block;position:absolute;right:3px;top:2px;width:50px;height:17px;margin:0;
	font-family:돋움;font-size:9px;text-align:right;color:#444444;}

/* buttons */
.firstbtn5dD478b{width:12px;height:13px;margin:7px 5px 0 5px;cursor:pointer;}
.prevbtn5dD478b{width:8px;height:13px;margin:7px 0 0 12px;cursor:pointer;}
.nextbtn5dD478b{width:8px;height:13px;margin:7px 5px 0 -7px;cursor:pointer;}
.lastbtn5dD478b{width:12px;height:13px;margin:7px 0 0 12px;cursor:pointer;}

.indexbtn5dD478b{width:27px;height:43px;margin:5px 20px 0 0;padding:0;cursor:pointer;}
.printbtn5dD478b{width:27px;height:43px;margin:5px 20px 0 0;padding:0;cursor:pointer;}
.expbtn5dD478b{width:44px;height:43px;margin:5px 20px 0 0;cursor:pointer;}
.glassesbtn5dD478b{width:38px;height:43px;margin:5px 20px 0 0;padding:0;cursor:pointer;}
.fullscrbtn5dD478b{width:28px;height:43px;margin:5px 20px 0 0;padding:0;cursor:pointer;}
.helpbtn5dD478b{width:26px;height:48px;margin:0px 20px 0 0;padding:0;cursor:pointer;}
.closebtn5dD478b{width:11px;height:11px;margin:17px 15px 0 0;padding:0;cursor:pointer;}
.slidebtn5dD478b{width:34px;height:43px;margin:5px 20px 0 0;padding:0;cursor:pointer;}


/* lower side menu */
#lowersect{z-index:62;display:block;position:absolute;}	/* override z-index */
.lower5dD478b{bottom:0;width:100%;height:40px; /* 하단 높이 */
	background-image:;
	background-position:bottom right;
	background-size:auto;
	background-repeat:no-repeat;
	background-color:}
.lower5mD478b{left:0;top:300px;width:100%;height:41px;background-color:#658c01;}

/* sns */
.sns_nav5dD478b{z-index:4;display:block;float:left;left:0;top:0;width:70px;height:30px;margin:-7px 0 0 18px;}
.sns_ul5dD478b{display:block;list-style-type:none;margin:0;padding:0;}
.sns_ul5dD478b > li{display:block;float:left;margin-right:5px;}
.facebook{width:30px;height:31px;margin:0;padding:0;cursor:pointer;}
.twitter{width:30px;height:31px;margin:0;padding:0;cursor:pointer;}

/* downloadn */
.down5dD478b{z-index:2;display:block;float:left;width:129px;height:31px;margin:-7px 0 0 21px;;background-image:url('./mm478b/downbtn.png');background-repeat:no-repeat;}
.down_img{display:block;float:left;margin:7px 0 0 9px;}
.down5dD478b span{display:block;float:left;margin:3px 0 0 7px;width:95px;height:28px;overflow:hidden;white-space:nowrap;line-height:28px;font-family:굴림;font-size:11px;color:#fff;}

/* search */
.search5dD478b{display:block;position:absolute;left:calc(50% - 113px);width:199px;height:25px;margin:-4px 0 0 0;background:url('./mm478b/search_back.png') no-repeat;}
.searchtxt5dD478b{display:block;float:left;width:195px;height:28px;margin:0;padding-left:7px;color:#000000;border:0;background:none;}
.searchbtn5dD478b{display:block;position:absolute;width:27px;height:25px;right:-27px;top:0;margin:0;padding:0;vertical-align:middle;}

.search5mD012{z-index:73;display:block;position:absolute;right:35px;top:43px;margin:0;padding:0;width:200px;height:36px;
	background:url('./mm012/m_popback.png');background-size:cover;}
.search5mD012 > input{-webkit-border-radius:0px;-moz-border-radius:0px;-webkit-appearance:none;}
.searchtxt5mD012{display:block;float:left;width:120px;height:20px;margin:10px 0 0 20px;padding:0;border:1px solid #b8b8b8;background:url('./mm012/m_searchbtn-back.png');}
.searchbtn5mD012{display:block;float:left;width:21px;height:20px;margin:10px 0 0 1px;}

/* combo box */
.cbbox5dD478b{z-index:1;display:block;position:absolute;right:15px;top:0px;width:129px;height:31px;margin:-7px 3px 0 0;}
.cbbox5dD478b img{margin:0;}


/* mobile button */
.mm5mD478b{width:100%;height:40px;background:url('./mm478b/menuback-m.png') repeat-x bottom;}		/* mobile */
.mmpopbtn5mD478b{display:block;position:absolute;top:0;left:0;width:45px;height:40px;margin:0;padding:0;cursor:pointer;border-right:1px solid #d5cead;}
.mmturnbtn5mD478b{display:block;position:absolute;top:11px;right:13px;width:28px;height:21px;margin:0;padding:0;cursor:pointer;}
.mmlogo5mD478b{display:block;position:absolute;top:7px;left:calc(50% - 56px);width:102px;height:25px;padding:0;cursor:pointer;}

.mm_ul_imgE006{width:27px;height:20px;margin:0;}
.mm_ul_imgE007{width:24px;height:19px;margin:10px 0 0 12px;}
.mm_ul_imgE008{width:102px;height:25px;margin:0;}
.mm_ul_imgE009{width:6px;height:11px;margin:0;}


/* mobile popup menu */
.mmpop5mD478b{left:0;top:40px;width:190px;height:auto;visibility:hidden;background-color:#8a8156;}
.mmpop_ul5mD478b{display:block;list-style-type:none;margin:0;padding:0;}
.mmpop_ul5mD478b > li{display:block;width:100%;height:36px;margin:0;cursor:pointer;
	background-image:url('./mm478b/m_popdivline.png');background-position:0 34px;background-size:100% 2px;background-repeat:no-repeat;}
.mmpop_ul5mD478b > li img{display:block;float:left;margin:6px 0 0 12px;padding:0;}
.mmpop_ul5mD478b > li p{display:block;float:left;margin:6px 0 0 6px;padding:0;color:#ffffff;font-size:13px;line-height:24px;}
.mmpop_ul5mD478b > li span{display:block;float:right;margin:5px 10px 0 0;padding:0;}


/* search */
.search5mD478b{z-index:3;display:block;position:relative;width:170px;height:24px;margin:10px 0 10px 20px;padding:0;}
.search5mD478b input{-webkit-border-radius:0px;-moz-border-radius:0px;-webkit-appearance:none;}
.searchtxt5mD478b{display:block;float:left;width:120px;height:24px;margin:0;padding:0;border:0 solid #3f535c;}
.searchbtn5mD478b{display:block;float:left;width:36px;height:24px;margin-left:1px;}

/* sns */
.sns_nav5mD478b{z-index:2;display:block;position:relative;width:100%;height:35px;margin:0;padding:0;background-color:#b7ae83;}
.sns_ul5mD478b{display:block;list-style-type:none;margin:0;padding:0;}
.sns_ul5mD478b > li{display:block;position:relative;float:left;}

.facebookbtn5mD478b{width:20px;height:20px;margin:8px 0 0 10px;}
.twitterbtn5mD478b{width:28px;height:20px;margin:8px 0 0 0px;}
.kakaobtn5mD478b{width:28px;height:20px;margin:8px 0 0 10px;}
.downbtn5mD478b{display:block;position:relative;float:right;width:21px;height:20px;margin:8px 15px 0 0;}

