/* ##### display 490 ##### */
.downfnt490{font-family:굴림;font-size:12px;}
.searchfnt490{font-family:돋움;font-size:11px;}

.back5d490{width:100%;height:100%;
	background-image:url('./mm490/topleftbg.png'),url('./mm490/toprightbg.png'),url('./mm490/bg.png');
	background-position:0 0,100% 0,0 0;
	background-size:413px 60px,851px 51px,100% 100%;
	background-repeat:no-repeat,no-repeat,no-repeat;
	background-color:;}
.back5m490{width:100%;height:100%;
	background-image:;
	background-position:;
	background-size:auto;
	background-repeat:no-repeat;}

.mm5dD490-idxR{width:100%;height:60px;}		/* rectangle index */

/* pageshow, nextbtn, prevbtn, firstbtn, lastbtn */
/*.mm_div5dD490{display:block;position:absolute;left:calc(50% - 265px);top:18px;width:544px;height:26px;margin:0 auto;}*/

/* desktop buttons */ 
.mm_ulE001{display:block;position:relative;list-style-type:none;margin:0;padding:0;width:auto;height:auto;}
.mm_ulE001 > li{display:block;float:left;}
.mm_ulE001 img{display:block;margin:0;}

.mm_ulE002{display:block;float:right;list-style-type:none;margin:10px 10px 0 0;padding:0;width:auto;height:41px;}
.mm_ulE002 > li{display:block;float:left;}
.mm_ulE002 > li.none{display:block;float:left;width:41px;height:41px;}
.mm_ulE002 img{display:block;margin:0;}

/* page number show */
.pshow5dD490{width:130px;height:23px;margin:10px 5px 0 0;background:url('./mm490/pagenum_back.png') no-repeat;}
.pshow_p5dD490{display:block;float:left;width:60px;height:13px;margin:5px 0 0 8px;padding:0;}
.pshow_p5dD490 > input{width:60px;height:13px;padding-top:-3px;padding-bottom:3px;border:0;vertical-align:top;text-align:center;font-family:굴림;font-size:12px;color:#000000;background-color:#FFF;margin:0;}
#pshow_totalpage{display:block;float:left;height:16px;margin:6px 0 0 20px;color:#484747;padding-top:0px;font-weight:bold;text-align:center;line-height:18px;font-family:굴림;font-size:12px;}
.pshow5mD490{display:block;position:absolute;right:3px;top:2px;width:50px;height:17px;margin:0;
	font-family:돋움;font-size:9px;text-align:right;color:#444444;}
/* buttons */
.firstbtn5dD490{width:39px;height:35px;margin:-2px 2px 0 36px;cursor:pointer;}
.prevbtn5dD490{width:39px;height:35px;margin:-2px 2px 0 2px;cursor:pointer;}
.nextbtn5dD490{width:39px;height:35px;margin:-2px 2px 0 2px;cursor:pointer;}
.lastbtn5dD490{width:39px;height:35px;margin:-2px 2px 0 2px ;cursor:pointer;}
/*.pshow5dD490{width:131px;height:30px;margin:0;padding:0;background:url('./mm490/top_line.png') no-repeat 118px 8px;}*/
.indexbtn5dD490{width:77px;height:32px;margin:6px 15px 0 0px;padding:0;cursor:pointer;}
.printbtn5dD490{width:20px;height:22px;margin:0px 15px 0 48px;padding:0;cursor:pointer;}
.expbtn5dD490{width:42px;height:10px;margin:17px 12px 0 0;padding:0;cursor:pointer;background:url('./mm490/top_line.png') no-repeat 40px 0px;}
.glassesbtn5dD490{width:42px;height:10px;margin:17px 12px 0 0;padding:0;cursor:pointer;background:url('./mm490/top_line.png') no-repeat 40px 0px;}
/*.fullscrbtn5dD490{width:39px;height:37px;margin:-2px 12px 0 0;padding:0 18px 0 0px;background:url('./mm490/top_line.png') no-repeat 55px 8px;}*/
.slidebtn5dD490{width:30px;height:10px;margin:17px 12px 0 0;padding:0;cursor:pointer;}
.helpbtn5dD490{width:24px;height:35px;margin:0;padding:0;cursor:pointer;}
.closebtn5dD490{width:19px;height:20px;margin:0;padding:0px 5px 0 18px;cursor:pointer;}
#facebookbtn{width:25px;height:25px;margin:0;padding:0px;cursor:pointer;}
#twitterbtn{width:25px;height:24px;margin:1px 0 0 0;padding:0;cursor:pointer;}

/* lower side menu */
#lowersect{z-index:62;display:block;position:absolute;}	/* override z-index */
.lower5dD490{bottom:0;width:100%;height:40px; /* 하단 높이 */
	background-image:;
	background-position:bottom right;
	background-size:auto;
	background-repeat:no-repeat;
	background-color:}
.lower5mD490{left:0;top:300px;width:100%;height:41px;background-color:#658c01;}

/* sns */
.sns_nav5dD490{z-index:4;display:block;position:absolute;left:13px;top:0;width:54px;height:23px;margin:0;}
.sns_ul5dD490{display:block;list-style-type:none;margin:0;padding:0;}
.sns_ul5dD490 > li{display:block;float:left;}
.sns_ul5dD490 > li:not(:first-child){margin-left:2px;}

/* downloadn */
.down5dD012{z-index:2;display:block;position:absolute;left:20px;top:15px;width:116px;height:28px;margin:0;background-image:url('./mm012/down_left.png'),url('./mm012/down_right.png'),url('./mm012/down_center.png');background-position:top left,top right,top 0px left 13px;background-size:auto, auto,90px 28px;background-repeat:no-repeat;}
.down_img{display:block;float:left;margin:5px 0 0 5px;}
.down5dD012 span{display:block;float:left;margin:0 0 0 2px;width:90px;height:28px;overflow:hidden;white-space:nowrap;line-height:28px;font-family:굴림;font-size:12px;color:#ffffff;}

/* search */
.search5dD490{display:block;position:absolute;left:calc(50% - 113px);width:238px;height:29px;margin:0;}
.searchtxt5dD490{display:block;float:left;width:194px;height:29px;margin:0;padding-left:10px;color:#000000;border:0;background:url('./mm490/search_back.png') no-repeat;}
.searchbtn5dD490{display:block;float:left;width:33px;height:29px;margin:0 0 0 -6px;padding:0;vertical-align:middle;border:0;}

.search5mD012{z-index:73;display:block;position:absolute;right:35px;top:43px;margin:0;padding:0;width:200px;height:36px;
	background:url('./mm012/m_popback.png');background-size:cover;}
.search5mD012 > input{-webkit-border-radius:0px;-moz-border-radius:0px;-webkit-appearance:none;}
.searchtxt5mD012{display:block;float:left;width:120px;height:20px;margin:10px 0 0 20px;padding:0;border:1px solid #b8b8b8;background:url('./mm012/m_searchbtn-back.png');}
.searchbtn5mD012{display:block;float:left;width:21px;height:20px;margin:10px 0 0 1px;}

/* combo box */
.cbbox5dD490{z-index:1;display:block;position:absolute;right:10px;top:0px;width:138px;height:28px;margin:0;}
.cbbox5dD490 img{margin:0;}


/* mobile button */
.mm5mD490{width:100%;height:40px;background:url('./mm041/menuback-m.png');}		/* mobile */
.mmpopbtn5mD490{display:block;position:absolute;top:0;left:0;width:45px;height:40px;margin:0;padding:0;cursor:pointer;border-right:1px solid #cacaca;}
.mmturnbtn5mD490{display:block;position:absolute;top:11px;right:13px;width:28px;height:21px;margin:0;padding:0;cursor:pointer;}
.mmlogo5mD490{display:block;position:absolute;top:7px;left:calc(50% - 56px);width:102px;height:25px;padding:0;cursor:pointer;}

.mm_ul_imgE006{width:27px;height:20px;margin:0;}
.mm_ul_imgE007{width:24px;height:19px;margin:10px 0 0 12px;}
.mm_ul_imgE008{width:102px;height:25px;margin:0;}
.mm_ul_imgE009{width:6px;height:11px;margin:0;}


/* mobile popup menu */
.mmpop5mD490{left:0;top:40px;width:190px;height:auto;visibility:hidden;background-color:#484848;}
.mmpop_ul5mD490{display:block;list-style-type:none;margin:0;padding:0;}
.mmpop_ul5mD490 > li{display:block;width:100%;height:36px;margin:0;cursor:pointer;
	background-image:url('./mm041/m_popdivline.png');background-position:0 34px;background-size:100% 2px;background-repeat:no-repeat;}
.mmpop_ul5mD490 > li img{display:block;float:left;margin:6px 0 0 12px;padding:0;}
.mmpop_ul5mD490 > li p{display:block;float:left;margin:6px 0 0 6px;padding:0;color:#ffffff;font-size:13px;line-height:24px;}
.mmpop_ul5mD490 > li span{display:block;float:right;margin:5px 10px 0 0;padding:0;}


/* search */
.search5mD490{z-index:3;display:block;position:relative;width:170px;height:24px;margin:10px 0 10px 20px;padding:0;}
.search5mD490 input{-webkit-border-radius:0px;-moz-border-radius:0px;-webkit-appearance:none;}
.searchtxt5mD490{display:block;float:left;width:120px;height:24px;margin:0;padding:0;border:0 solid #3f535c;}
.searchbtn5mD490{display:block;float:left;width:36px;height:24px;margin-left:1px;}

/* sns */
.sns_nav5mD490{z-index:2;display:block;position:relative;width:100%;height:35px;margin:0;padding:0;background-color:#c5c5c5;}
.sns_ul5mD490{display:block;list-style-type:none;margin:0;padding:0;}
.sns_ul5mD490 > li{display:block;position:relative;float:left;}

.facebookbtn5mD490{width:20px;height:20px;margin:8px 0 0 10px;}
.twitterbtn5mD490{width:28px;height:20px;margin:8px 0 0 0px;}
.kakaobtn5mD490{width:28px;height:20px;margin:8px 0 0 10px;}
.downbtn5mD490{display:block;position:relative;float:right;width:21px;height:20px;margin:8px 15px 0 0;}

