@charset "utf-8";

/* Rounded Active and Hover Buttons */
.pagination {display:inline-block;}
.pagination a {color:#000;float:left;padding:8px 16px;text-decoration:none;}
.pagination a.active {background-color:#4caf50;color:#fff;border-radius:5px;}
.pagination a:hover:not(.active) {background-color:#ddd;border-radius:5px;}

/* The w3-bar class can also be used to create next/previous buttons */
.w3-container:before,.w3-container:after,.w3-panel:before,.w3-panel:after{content:"";display:table;clear:both;}
.w3-row:before,.w3-row:after,.w3-row-padding:before,.w3-row-padding:after{content:"";display:table;clear:both;}
.w3-cell-row:before,.w3-cell-row:after,.w3-clear:before,.w3-clear:after{content:"";display:table;clear:both;}
.w3-bar:before,.w3-bar:after{content:"";display:table;clear:both;}

.w3-container,.w3-panel{padding:0.01em 16px;}.w3-panel{margin-top:16px;margin-bottom:16px;}

.w3-left{text-align:left !important;}
.w3-right{text-align:right !important;}
.w3-justify{text-align:justify !important;}
.w3-center{text-align:center !important;}
.w3-left-float{float:left !important;}
.w3-right-float{float:right !important;}

.w3-bar{width:100%;overflow:hidden;}
.w3-center .w3-bar{display:inline-block;width:auto;}
.w3-bar .w3-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0;}
.w3-bar .w3-dropdown-hover,.w3-bar .w3-dropdown-click{position:static;float:left;}
.w3-bar .w3-button{white-space:normal;}
.w3-border{border:1px solid #ccc !important;}
.w3-round-small{border-radius:2px;}
.w3-round,.w3-round-medium{border-radius:4px;}
.w3-round-large{border-radius:8px;}
.w3-round-xlarge{border-radius:16px;}
.w3-round-xxlarge{border-radius:32px;}
.w3-button:hover{color:#000 !important;background-color:#ccc !important;}


/* usr_pagination0 */
.usr_pagination0 {display:inline-block;text-align:center;padding-bottom:8px;width:100%;}

/* usr_pagination1 */
.usr_pagination1 {display:inline-block;text-align:center;padding-bottom:8px;width:100%;}
.usr_pagination1 a {display:inline-block;border:1px solid #c4c4c0;width:34px;height:34px;line-height:34px;}
.usr_pagination1 strong {display:inline-block;border:2px solid #1e75d6;width:32px;height:32px;line-height:32px;color:#1e75d6;}
.usr_pagination1 a:hover {display:inline-block;border:2px solid #1e75d6;width:32px;height:32px;line-height:32px;color:#1e75d6;font-weight:bold;}
.usr_pagination1 a:focus {display:inline-block;border:2px solid #1e75d6;width:32px;height:32px;line-height:32px;color:#1e75d6;font-weight:bold;}
.usr_pagination1 a.on {display:inline-block;border:2px solid #1e75d6;width:32px;height:32px;line-height:32px;color:#1e75d6;}
.usr_pagination1 a.image {border:0;width:36px;height:36px;vertical-align:top;}
.usr_pagination1 a img {width:100%;height:100%;vertical-align:top !important;}


ul.tsc_pagination {margin:8px 0;padding:0px;height:100%;overflow:hidden;font:12px;list-style-type:none;}
ul.tsc_pagination li {float:left;margin:0px;padding:0px;margin-left:5px;}
ul.tsc_pagination li:first-child {margin-left:0px;}
ul.tsc_pagination li a {color:black;display:block;text-decoration:none;padding:7px 10px 7px 10px;}
ul.tsc_pagination li a img {border:none;}

/* A */
ul.tsc_paginationA li a {color:#ffffff;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
/* 01 */
ul.tsc_paginationA01 li a {color:#474747;border:solid 1px #b6b6b6;padding:6px 9px 6px 9px;background:#e6e6e6;background:-moz-linear-gradient(top, #ffffff 1px, #f3f3f3 1px, #e6e6e6);background:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0.02, #ffffff), color-stop(0.02, #f3f3f3), color-stop(1, #e6e6e6));}
ul.tsc_paginationA01 li a:hover,
ul.tsc_paginationA01 li a.on {background:#ffffff;}
/* 02 */
ul.tsc_paginationA02 li a {color:#893a00;background:#ffcb00;background:-moz-linear-gradient(top, #ffd500, #ffcb00);background:-webkit-gradient(linear, 0 0, 0 100%, from(#ffd500), to(#ffcb00));}
ul.tsc_paginationA02 li a:hover,
ul.tsc_paginationA02 li a.on {background:#fff4ba;}
/* 03 */
ul.tsc_paginationA03 li a {background:#ff7217;background:-moz-linear-gradient(top, #ff8e1f, #ff7217);background:-webkit-gradient(linear, 0 0, 0 100%, from(#ff8e1f), to(#ff7217));}
ul.tsc_paginationA03 li a:hover,
ul.tsc_paginationA03 li a.on {color:#c34e00;background:#ffecde;}
/* 04 */
ul.tsc_paginationA04 li a {background:#d22020;background:-moz-linear-gradient(top, #db2b2b, #d22020);background:-webkit-gradient(linear, 0 0, 0 100%, from(#db2b2b), to(#d22020));}
ul.tsc_paginationA04 li a:hover,
ul.tsc_paginationA04 li a.on {color:#9f0f0f;background:#ffe0e0;}
/* 05 */
ul.tsc_paginationA05 li a {background:#699613;background:-moz-linear-gradient(top, #87ab19, #699613);background:-webkit-gradient(linear, 0 0, 0 100%, from(#87ab19), to(#699613));}
ul.tsc_paginationA05 li a:hover,
ul.tsc_paginationA05 li a.on {color:#4f7119;background:#e7f2c7;}
/* 06 */
ul.tsc_paginationA06 li a {background:#1d8a11;background:-moz-linear-gradient(top, #26a116, #1d8a11);background:-webkit-gradient(linear, 0 0, 0 100%, from(#26a116), to(#1d8a11));}
ul.tsc_paginationA06 li a:hover,
ul.tsc_paginationA06 li a.on {color:#176d0e;background:#dcf4c9;}
/* 07 */
ul.tsc_paginationA07 li a {background:#45abec;background:-moz-linear-gradient(top, #5cbcf0, #45abec);background:-webkit-gradient(linear, 0 0, 0 100%, from(#5cbcf0), to(#45abec));}
ul.tsc_paginationA07 li a:hover,
ul.tsc_paginationA07 li a.on {color:#358fdd;background:#dff4ff;}
/* 08 */
ul.tsc_paginationA08 li a {background:#3862c8;background:-moz-linear-gradient(top, #4a81d3, #3862c8);background:-webkit-gradient(linear, 0 0, 0 100%, from(#4a81d3), to(#3862c8));}
ul.tsc_paginationA08 li a:hover,
ul.tsc_paginationA08 li a.on {color:#355ddd;background:#dde8fe;}
/* 09 */
ul.tsc_paginationA09 li a {background:#5a7075;background:-moz-linear-gradient(top, #788c90, #5a7075);background:-webkit-gradient(linear, 0 0, 0 100%, from(#788c90), to(#5a7075));}
ul.tsc_paginationA09 li a:hover,
ul.tsc_paginationA09 li a.on {color:#355ddd;background:#dde8fe;}
/* 10 */
ul.tsc_paginationA10 li a {background:#684ba6;background:-moz-linear-gradient(top, #8663b8, #684ba6);background:-webkit-gradient(linear, 0 0, 0 100%, from(#8663b8), to(#684ba6));}
ul.tsc_paginationA10 li a:hover,
ul.tsc_paginationA10 li a.on {color:#643eb3;background:#eae4f4;}
/* 11 */
ul.tsc_paginationA11 li a {background:#9a6654;background:-moz-linear-gradient(top, #ae846f, #9a6654);background:-webkit-gradient(linear, 0 0, 0 100%, from(#ae846f), to(#9a6654));}
ul.tsc_paginationA11 li a:hover,
ul.tsc_paginationA11 li a.on {color:#78594a;background:#f0e7e3;}
/* 12 */
ul.tsc_paginationA12 li a {background:#323232;background:-moz-linear-gradient(top, #434343, #323232);background:-webkit-gradient(linear, 0 0, 0 100%, from(#434343), to(#323232));}
ul.tsc_paginationA12 li a:hover,
ul.tsc_paginationA12 li a.on {color:#2f2f2f;background:#eaeaea;}

/* B */
ul.tsc_paginationB li {padding-bottom:1px;}
ul.tsc_paginationB li a {border:solid 1px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;padding:6px 9px 6px 9px;}
ul.tsc_paginationB li a:hover,
ul.tsc_paginationB li a.on {color:#ffffff;box-shadow:0px 1px #ededed;-moz-box-shadow:0px 1px #ededed;-webkit-box-shadow:0px 1px #ededed;}
/* 01 */
ul.tsc_paginationB01 li a {color:#a74e0d;border-color:#f3d795;background:#fffdf2;}
ul.tsc_paginationB01 li a:hover,
ul.tsc_paginationB01 li a.on {color:#893a00;text-shadow:0px 1px #ffef42;border-color:#ffa200;background:#ffc800;background:-moz-linear-gradient(top, #ffffff 1px, #ffea01 1px, #ffc800);background:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0.02, #ffffff), color-stop(0.02, #ffea01), color-stop(1, #ffc800));}
/* 02 */
ul.tsc_paginationB02 li a {color:#0a7ec5;border-color:#8dc5e6;background:#f8fcff;}
ul.tsc_paginationB02 li a:hover,
ul.tsc_paginationB02 li a.on {text-shadow:0px 1px #388dbe;border-color:#3390ca;background:#58b0e7;background:-moz-linear-gradient(top, #b4f6ff 1px, #63d0fe 1px, #58b0e7);background:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0.02, #b4f6ff), color-stop(0.02, #63d0fe), color-stop(1, #58b0e7));}
/* 03 */
ul.tsc_paginationB03 li a {color:#4a76c6;border-color:#8aaeef;background:#f7f9fe;}
ul.tsc_paginationB03 li a:hover,
ul.tsc_paginationB03 li a.on {text-shadow:0px 1px #4876c9;border-color:#3d6dc3;background:#5a8ce7;background:-moz-linear-gradient(top, #c2e0ff 1px, #84affe 1px, #5a8ce7);background:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0.02, #c2e0ff), color-stop(0.02, #84affe), color-stop(1, #5a8ce7));}
/* 04 */
ul.tsc_paginationB04 li a {color:#8d62c8;border-color:#baa2da;background:#f9f7fc;}
ul.tsc_paginationB04 li a:hover,
ul.tsc_paginationB04 li a.on {text-shadow:0px 1px #7955ab;border-color:#6f4da0;background:#9168c9;background:-moz-linear-gradient(top, #dfbefa 1px, #b088e7 1px, #9168c9);background:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0.02, #dfbefa), color-stop(0.02, #b088e7), color-stop(1, #9168c9));}
/* 05 */
ul.tsc_paginationB05 li a {color:#ef6420;border-color:#ffbd85;background:#fffaf7;}
ul.tsc_paginationB05 li a:hover,
ul.tsc_paginationB05 li a.on {text-shadow:0px 1px #ca470e;border-color:#d13f11;background:#e95b2b;background:-moz-linear-gradient(top, #ffbe01 1px, #fe7c02 1px, #e95b2b);background:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0.02, #ffbe01), color-stop(0.02, #fe7c02), color-stop(1, #e95b2b));}
/* 06 */
ul.tsc_paginationB06 li a {color:#e92f2f;border-color:#ffa5a5;background:#fff8f8;}
ul.tsc_paginationB06 li a:hover,
ul.tsc_paginationB06 li a.on {text-shadow:0px 1px #b72e2e;border-color:#ad2d2d;background:#e43838;background:-moz-linear-gradient(top, #ff9b9b 1px, #fe5555 1px, #e43838);background:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0.02, #ff9b9b), color-stop(0.02, #fe5555), color-stop(1, #e43838));}
/* 07 */
ul.tsc_paginationB07 li a {color:#916c59;border-color:#d6bfb4;background:#fbf9f8;}
ul.tsc_paginationB07 li a:hover,
ul.tsc_paginationB07 li a.on {text-shadow:0px 1px #866454;border-color:#886756;background:#a37a66;background:-moz-linear-gradient(top, #e9c4b2 1px, #c59882 1px, #a37a66);background:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0.02, #e9c4b2), color-stop(0.02, #c59882), color-stop(1, #a37a66));}
/* 08 */
ul.tsc_paginationB08 li a {color:#478223;border-color:#b2d397;background:#f7faf4;}
ul.tsc_paginationB08 li a:hover,
ul.tsc_paginationB08 li a.on {text-shadow:0px 1px #4e802c;border-color:#478223;background:#599f2f;background:-moz-linear-gradient(top, #9fe355 1px, #79bf4a 1px, #599f2f);background:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0.02, #9fe355), color-stop(0.02, #79bf4a), color-stop(1, #599f2f));}
/* 09 */
ul.tsc_paginationB09 li a {color:#707070;border-color:#cfcfcf;background:#fafafa;}
ul.tsc_paginationB09 li a:hover,
ul.tsc_paginationB09 li a.on {text-shadow:0px 1px #636363;border-color:#5d5d5d;background:#777777;background:-moz-linear-gradient(top, #c0c0c0 1px, #929292 1px, #777777);background:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0.02, #c0c0c0), color-stop(0.02, #929292), color-stop(1, #777777));}
/* 10 */
ul.tsc_paginationB10 li a {color:#444444;border-color:#bebebe;background:#fafafa;}
ul.tsc_paginationB10 li a:hover,
ul.tsc_paginationB10 li a.on {text-shadow:0px 1px #3c3c3c;border-color:#202020;background:#525252;background:-moz-linear-gradient(top, #9f9f9f 1px, #6c6c6c 1px, #525252);background:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0.02, #9f9f9f), color-stop(0.02, #6c6c6c), color-stop(1, #525252));}

/* C */
ul.tsc_paginationC li {padding-bottom:1px;}
ul.tsc_paginationC li a {color:#707070;background:#ffffff;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;border:solid 1px #dcdcdc;padding:6px 9px 6px 9px;}
ul.tsc_paginationC li a:hover,
ul.tsc_paginationC li a.on {color:#ffffff;box-shadow:0px 1px #ededed;-moz-box-shadow:0px 1px #ededed;-webkit-box-shadow:0px 1px #ededed;}
/* 01 */
ul.tsc_paginationC01 li a:hover,
ul.tsc_paginationC01 li a.on {color:#893a00;text-shadow:0px 1px #ffef42;border-color:#ffa200;background:#ffc800;background:-moz-linear-gradient(top, #ffffff 1px, #ffea01 1px, #ffc800);background:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0.02, #ffffff), color-stop(0.02, #ffea01), color-stop(1, #ffc800));}
/* 02 */
ul.tsc_paginationC02 li a:hover,
ul.tsc_paginationC02 li a.on {text-shadow:0px 1px #388dbe;border-color:#3390ca;background:#58b0e7;background:-moz-linear-gradient(top, #b4f6ff 1px, #63d0fe 1px, #58b0e7);background:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0.02, #b4f6ff), color-stop(0.02, #63d0fe), color-stop(1, #58b0e7));}
/* 03 */
ul.tsc_paginationC03 li a:hover,
ul.tsc_paginationC03 li a.on {text-shadow:0px 1px #4876c9;border-color:#3d6dc3;background:#5a8ce7;background:-moz-linear-gradient(top, #c2e0ff 1px, #84affe 1px, #5a8ce7);background:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0.02, #c2e0ff), color-stop(0.02, #84affe), color-stop(1, #5a8ce7));}
/* 04 */
ul.tsc_paginationC04 li a:hover,
ul.tsc_paginationC04 li a.on {text-shadow:0px 1px #7955ab;border-color:#6f4da0;background:#9168c9;background:-moz-linear-gradient(top, #dfbefa 1px, #b088e7 1px, #9168c9);background:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0.02, #dfbefa), color-stop(0.02, #b088e7), color-stop(1, #9168c9));}
/* 05 */
ul.tsc_paginationC05 li a:hover,
ul.tsc_paginationC05 li a.on {text-shadow:0px 1px #ca470e;border-color:#d13f11;background:#e95b2b;background:-moz-linear-gradient(top, #ffbe01 1px, #fe7c02 1px, #e95b2b);background:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0.02, #ffbe01), color-stop(0.02, #fe7c02), color-stop(1, #e95b2b));}
/* 06 */
ul.tsc_paginationC06 li a:hover,
ul.tsc_paginationC06 li a.on {text-shadow:0px 1px #b72e2e;border-color:#ad2d2d;background:#e43838;background:-moz-linear-gradient(top, #ff9b9b 1px, #fe5555 1px, #e43838);background:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0.02, #ff9b9b), color-stop(0.02, #fe5555), color-stop(1, #e43838));}
/* 07 */
ul.tsc_paginationC07 li a:hover,
ul.tsc_paginationC07 li a.on {text-shadow:0px 1px #866454;border-color:#886756;background:#a37a66;background:-moz-linear-gradient(top, #e9c4b2 1px, #c59882 1px, #a37a66);background:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0.02, #e9c4b2), color-stop(0.02, #c59882), color-stop(1, #a37a66));}
/* 08 */
ul.tsc_paginationC08 li a:hover,
ul.tsc_paginationC08 li a.on {text-shadow:0px 1px #4e802c;border-color:#478223;background:#599f2f;background:-moz-linear-gradient(top, #9fe355 1px, #79bf4a 1px, #599f2f);background:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0.02, #9fe355), color-stop(0.02, #79bf4a), color-stop(1, #599f2f));}
/* 09 */
ul.tsc_paginationC09 li a:hover,
ul.tsc_paginationC09 li a.on {text-shadow:0px 1px #636363;border-color:#5d5d5d;background:#777777;background:-moz-linear-gradient(top, #c0c0c0 1px, #929292 1px, #777777);background:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0.02, #c0c0c0), color-stop(0.02, #929292), color-stop(1, #777777));}
/* 10 */
ul.tsc_paginationC10 li a:hover,
ul.tsc_paginationC10 li a.on {text-shadow:0px 1px #3c3c3c;border-color:#202020;background:#525252;background:-moz-linear-gradient(top, #9f9f9f 1px, #6c6c6c 1px, #525252);background:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0.02, #9f9f9f), color-stop(0.02, #6c6c6c), color-stop(1, #525252));}
