@charset "utf-8";

@font-face {
   font-family:"Noto Sans KR";
   font-style:normal;
   font-weight:100;
   src:url("../webfont/NotoSansKR-Regular.woff") format("woff"),
       url("../webfont/NotoSansKR-Regular.woff2") format("woff2"),
       url("../webfont/NotoSansKR-Regular.otf") format("opentype");
}
@font-face {
   font-family:"Noto Sans KR";
   font-style:normal;
   font-weight:300;
   src:url("../webfont/NotoSansKR-Regular.woff") format("woff"),
       url("../webfont/NotoSansKR-Regular.woff2") format("woff2"),
       url("../webfont/NotoSansKR-Regular.otf") format("opentype");
}
@font-face {
   font-family:"Noto Sans KR";
   font-style:normal;
   font-weight:400;
   src:url("../webfont/NotoSansKR-Regular.woff") format("woff"),
       url("../webfont/NotoSansKR-Regular.woff2") format("woff2"),
       url("../webfont/NotoSansKR-Regular.otf") format("opentype");
}
@font-face {
   font-family:"Noto Sans KR";
   font-style:normal;
   font-weight:500;
   src:url("../webfont/NotoSansKR-Bold.woff") format("woff"),
       url("../webfont/NotoSansKR-Bold.woff2") format("woff2"),
       url("../webfont/NotoSansKR-Bold.otf") format("opentype");
}
@font-face {
   font-family:"Noto Sans KR";
   font-style:normal;
   font-weight:700;
   src:url("../webfont/NotoSansKR-Bold.woff") format("woff"),
       url("../webfont/NotoSansKR-Bold.woff2") format("woff2"),
       url("../webfont/NotoSansKR-Bold.otf") format("opentype");
}
@font-face {
   font-family:"Noto Sans KR";
   font-style:normal;
   font-weight:900;
   src:url("../webfont/NotoSansKR-Bold.woff") format("woff"),
       url("../webfont/NotoSansKR-Bold.woff2") format("woff2"),
       url("../webfont/NotoSansKR-Bold.otf") format("opentype");
}