﻿@charset "utf-8";

/* Reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,form,fieldset,p,button,input{margin:0;padding:0;}
body,h1,h2,h3,h4,input,button{font-size:12px;color:#595959;}
body{word-break:keep-all;font-family:돋움,serif;}
table{word-break:normal;table-layout:fixed;}
img,fieldset,iframe{border:0 none;}
li{list-style:none;}
input,select,button{vertical-align:middle;}
img{vertical-align:top;}
em,address{font-style:normal;}
label,button{cursor:pointer;}
a{text-decoration:none;color:#2f3743;}
a:hover {text-decoration:underline;}
button *{position:relative;}
button img{left:-3px;*left:auto;}
option{padding-right:6px;}
hr{display:none;}

/* Common */
.hide{width:1px;height:1px;line-height:1px;font-size:1px;position:absolute;left:-9999px;overflow:hidden;text-indent:-9999px;}