@charset "utf-8";

/* Reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,form,fieldset,p,button,input{margin:0;padding:0;}
body,h1,h2,h3,h4,h5,h6,input,button{font-size:12px;color:#595959;}
body{word-break:keep-all;font-family:돋움,serif;}
img,fieldset,iframe{border:0 none;}
li{list-style:none;}
input,select,button{vertical-align:middle;}
img{vertical-align:middle;}
em,address{font-style:normal;}
label,button{cursor:pointer;}
a{text-decoration:none;color:inherit;}
a:hover {text-decoration:none;}
button *{position:relative;}
button img{left:-3px;}
option{padding-right:6px;}
hr{display:none;}
table{border-spacing:0;}

/* Common */
.hide{width:0;height:0;line-height:0;visibility:hidden;font-size:0;margin:0;padding:0;background:none;display:none;}
