﻿@charset "utf-8";

/* Reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,form,fieldset,p,button,input{margin:0;padding:0;}
body,h1,h2,h3,h4,input,button{font-size:12px;color:#595959;}
body{word-break:keep-all;font-family:돋움,serif;}
table{word-break:normal;table-layout:fixed;}
img,fieldset,iframe{border:0 none;}
li{list-style:none;}
input,select,button{vertical-align:middle;}
img{vertical-align:top;}
em,address{font-style:normal;}
label,button{cursor:pointer;}
a{text-decoration:none;color:#2f3743;}
a:hover {text-decoration:underline;}
button *{position:relative;}
button img{left:-3px;*left:auto;}
option{padding-right:6px;}
hr{display:none;}

/* Common */
.hide{width:1px;height:1px;line-height:1px;font-size:1px;position:absolute;left:-9999px;overflow:hidden;text-indent:-9999px;}

#pass_area{position:fixed;left:0;top:0;right:0;bottom:0;background:rgba(0,0,0,0.5);z-index:100}
#pass_area .inner{width:250px;height:120px;position:absolute;left:50%;top:50%;margin:-60px 0 0 -125px;background:#fff;text-align:center;}
#pass_area .inner p{padding:20px 0;}
#pass_area input[type="password"]{width:130px;height:35px;line-height:35px;border:1px solid #ddd;text-indent:5px;}
#pass_area a{display:inline-block;background:#ddd;color:#000;padding:0 10px;height:30px;line-height:30px;vertical-align:top;}
