@charset "utf-8";

/*@import url("basic.css"); !* basic *!*/
/*@import url("fonts.css"); !* fonts *!*/

/*layer popup*/
.layer {display: none;position: fixed;_position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: 10000;}	
.layer .bg {position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: #000;opacity: .5;filter: alpha(opacity = 50);}
.layer_pop{display:none;position: absolute;top: 50%;left: 50%;width:40%;max-height:700px;background-color: #fff;z-index: 10;padding:20px;border-radius: 10px}
.layer_pop > h1{font-size:22px; font-weight:600; margin: 20px 0;color:#000; }
.layer_pop > p{font-size:16px; line-height: 180%; font-weight: 300; color:#6f6f6f; margin-bottom: 20px}
.layer_pop > .layer_media{width: 100%;height: 100%;padding-top:15px; border-top:1px solid #d2d2d2; border-bottom:1px solid #d2d2d2; max-height:600px; overflow: auto}
.layer_pop > .layer_media img, .layer_pop > .layer_media media{position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
.layer_pop > .layer_media img, .layer_pop > .layer_media video{width: 100%}

.close_btn{margin:10px 0; position: absolute; right:20px; top: 10px}

#main_popup {position: absolute; width:648px; position: absolute; top:40%; left:48%; margin-top:-200px; margin-left:-250px; background:#fff; z-index:15000;}
#main_popup .cont {width:100%;}
#main_popup .cont img{width:100%;}
#main_popup .close {width:100%; height:30px; background:#373737; line-height:30px; padding-left:10px; font-size:12px;color:#fff; box-sizing: border-box}
#main_popup .close #close {float:right; margin-right:10px; cursor:pointer;}
#mask {width: 100%; height: 100%; position: fixed; background: rgba(0,0,0,0.7) repeat; top: 0; left: 0;  z-index: 999;}

.mlay_ppbg {display:none;position:absolute;width:648px;top:40%;left:48%;margin-top:-200px;margin-left:-250px;background:#fff;z-index:15000;}
.mlay_cont {width:100%;}
.mlay_cont img{width:100%;}
.mlay_clbg {width:100%;height:30px;background:#373737;line-height:30px;padding-left:10px;font-size:12px;color:#fff;box-sizing:border-box;}
.mlay_clbt {float:right;margin-right:10px;cursor:pointer;}


@media only screen and (max-width: 1251px) {
	.layer_pop{width:60%;}
	.board_log_btn{right: 10px}
	#main_popup {margin-left: -30%;}
	.mlay_ppbg {display:none;margin-left:-30%;}
}

@media only screen and (max-width: 768px) {
	#main_popup {width: 80%;left: 50%;margin-left: -40%;}
	.mlay_ppbg {display:none;width:80%;left:50%;margin-left:-40%;}
}

@media only screen and (max-width: 641px) {
	#main_popup {width: 80%;left: 50%;margin-left: -40%;}
	.mlay_ppbg {display:none;width:80%;left:50%;margin-left:-40%;}
}
