﻿@charset "utf-8";

#main_popup {position: absolute; width:648px; position: absolute; top:40%; left:48%; margin-top:-200px; margin-left:-250px; background:#fff; z-index:15000;}
#main_popup .cont {width:100%;}
#main_popup .cont img{width:100%;}
#main_popup .close {width:100%; height:30px; background:#373737; line-height:30px; padding-left:10px; font-size:12px;color:#fff; box-sizing: border-box}
#main_popup .close #close {float:right; margin-right:10px; cursor:pointer;}
#mask {width: 100%; height: 100%; position: fixed; background: rgba(0,0,0,0.7) repeat; top: 0; left: 0;  z-index: 999;}

.mlay_ppbg {display:none;position:absolute;width:648px;top:40%;left:48%;margin-top:-200px;margin-left:-250px;background:#fff;z-index:15000;}
.mlay_cont {width:100%;}
.mlay_cont img{width:100%;}
.mlay_clbg {width:100%;height:30px;background:#373737;line-height:30px;padding-left:10px;font-size:12px;color:#fff;box-sizing:border-box;}
.mlay_clbt {float:right;margin-right:10px;cursor:pointer;}

@media only screen and (max-width: 768px) {
	#main_popup {width: 80%;left: 50%;margin-left: -40%;}
	.mlay_ppbg {display:none;width:80%;left:50%;margin-left:-40%;}
}


@media only screen and (max-width: 641px) {
	#main_popup {width: 80%;left: 50%;margin-left: -40%;}
	.mlay_ppbg {display:none;width:80%;left:50%;margin-left:-40%;}
}