@charset "utf-8";

@import url("basic.css"); /* basic */
@import url("fonts.css"); /* fonts */

/* common */
body{font-family:"Noto Sans KR","맑은 고딕",sans-serif;-webkit-text-size-adjust:100%;}
input[type="checkbox"]{width:15px;height:15px;}
input[type="radio"]{width:15px;height:15px;}
input[type="text"]{height:25px;line-height:25px;border:1px solid #dadada;font-size:13px;text-indent:5px;}
input[type="number"]{height:25px;line-height:25px;border:1px solid #dadada;font-size:13px;text-indent:5px;}
input[type="file"]{height:28px;line-height:28px;border:1px solid #dadada;font-size:13px;text-indent:5px;margin-right:5px;}
input[type="password"]{height:25px;line-height:25px;border:1px solid #ebebeb;font-size:13px;text-indent:5px;}
textarea{font-family:"Noto Sans KR","맑은 고딕",sans-serif;border:1px solid #ebebeb;}
select{height:28px;border:1px solid #dadada;font-size:13px;padding:3px;}

/* main_layout */
#wrap{font-weight:300;font-size:14px;line-height:150%;width:100%;color:#000;}
#header{width:100%;}
#header .head_info{width:100%;margin:10px 0;position:relative;}
#header .head_info h1{float:left;padding:0 0 10px 10px;}
#header .head_info .head_right{float:right;}
#header .head_info .head_right ul{overflow:hidden;}
#header .head_info .head_right ul li{display:block;margin:0 10px;float:left;font-size:12px;}
#header .head_info .head_right strong{font-weight:700;}
#header .gnb_warp{float:left;width:100%;}
#header .gnb_warp > ul{display:inline-block;overflow:hidden;width:100%;background-color:#222736;}
#header .gnb_warp > ul li {float:left;font-size:17px;}
#header .gnb_warp > ul li a{color:#fff;display:block;padding:7px 30px 10px 30px;font-weight:500;}
#header .gnb_warp > ul li a:hover {color:#fdd428;padding:7px 30px 10px 30px;}
#header .gnb_warp > ul li a.active{color:#fdd428;padding:7px 30px 10px 30px;}


#header .gnb_warp .open_fullmenu{position:absolute;top:40px;padding:21px;height:16px;right:0;}
#header .fullmenu_wrap{position:absolute;display:none;left:0;right:0;top:93px;background:#fff;z-index:1000;/*background:#fff url("../image/mngr/bg_fullmenu_wrap.jpg") repeat-x center 60px;*/border-bottom:1px solid #dcdcdc;}
#header .fullmenu_wrap .fullmenu_list{max-width:100%;margin:0 auto;position:relative;}
#header .fullmenu_wrap .fullmenu_list .close_fullmenu{position:absolute;right:0;top:0;padding:22px;height:16px;}
#header .fullmenu_wrap .fullmenu_list > ul{overflow:hidden;padding:20px;margin-left:50px;}
#header .fullmenu_wrap .fullmenu_list > ul > li{float:left;}
#header .fullmenu_wrap .fullmenu_list .m_1 > li{width:100%;}
#header .fullmenu_wrap .fullmenu_list .m_2 > li{width:50%;}
#header .fullmenu_wrap .fullmenu_list .m_3 > li{width:33.33%;}
#header .fullmenu_wrap .fullmenu_list .m_4 > li{width:25%;}
#header .fullmenu_wrap .fullmenu_list .m_5 > li{width:20%;}
#header .fullmenu_wrap .fullmenu_list .m_6 > li{width:16.66%;}
#header .fullmenu_wrap .fullmenu_list .m_7 > li{width:14.28%;}
#header .fullmenu_wrap .fullmenu_list .m_8 > li{width:12.5%;}
#header .fullmenu_wrap .fullmenu_list .m_9 > li{width:11.11%;}
#header .fullmenu_wrap .fullmenu_list .m_10 > li{width:10%;}
#header .fullmenu_wrap .fullmenu_list > ul > li > a{font-size:16px;color:#000;padding:20px 0;font-weight:500;}
#header .fullmenu_wrap .fullmenu_list > ul > li > a.on   {color:#c33;border-bottom-color:#0063b2;}
#header .fullmenu_wrap .fullmenu_list > ul > li > a:hover{color:#c33;border-bottom-color:#0063b2;}
#header .fullmenu_wrap .fullmenu_list > ul > li > a:focus{color:#c33;border-bottom-color:#0063b2;}
#header .fullmenu_wrap .fullmenu_list > ul > li.on    > a{color:#c33;border-bottom-color:#0063b2;}
#header .fullmenu_wrap .fullmenu_list > ul > li:hover > a{color:#c33;border-bottom-color:#0063b2;}
#header .fullmenu_wrap .fullmenu_list > ul > li:focus > a{color:#c33;border-bottom-color:#0063b2;}
#header .fullmenu_wrap .fullmenu_list > ul > li > ul{padding:20px 0 0 0;}
#header .fullmenu_wrap .fullmenu_list > ul > li > ul > li{padding-bottom:7px;}
#header .fullmenu_wrap .fullmenu_list > ul > li > ul > li > a{font-size:13px;color:#000;line-height:130%;}
#header .fullmenu_wrap .fullmenu_list > ul > li > ul > li > a.on   {color:#c33;}
#header .fullmenu_wrap .fullmenu_list > ul > li > ul > li > a:hover{color:#c33;}
#header .fullmenu_wrap .fullmenu_list > ul > li > ul > li > a:focus{color:#c33;}

/* full 3depth *//*
#header .fullmenu_wrap .fullmenu_list > ul > li > ul > li > ul{padding-top:10px;}
#header .fullmenu_wrap .fullmenu_list > ul > li > ul > li > ul > li > a{display:block;font-size:14px;color:#666;line-height:150%;background:url("../images/icon/ico_bul01.png") no-repeat left 8px;padding-left:10px;}
#header .fullmenu_wrap .fullmenu_list > ul > li > ul > li > ul > li > a.on   {text-decoration:underline;}
#header .fullmenu_wrap .fullmenu_list > ul > li > ul > li > ul > li > a:hover{text-decoration:underline;}
#header .fullmenu_wrap .fullmenu_list > ul > li > ul > li > ul > li > a:focus{text-decoration:underline;}
*/

#content_wrap{position:relative;float:left;width:100%;}
#content_wrap #lnb{ width:220px;position:absolute;}
#content_wrap #lnb h2 {height:70px;padding-top:30px;text-align:center;font-size:24px;color:#000;line-height:130%;font-weight:700;letter-spacing:-1px;border-bottom:1px solid #ebebeb;}
#content_wrap #lnb ul > li{border-top:1px solid #ebebeb;background:url("../images/mngr/lnb_bg.png") 13px 23px no-repeat;}
#content_wrap #lnb ul > li:first-child{border-top:0;}
#content_wrap #lnb ul > li > a{display:block;font-size:15px;color:#333;height:48px;line-height:48px;padding-left:20px;font-weight:400;letter-spacing:-0.025em}
#content_wrap #lnb ul > li > a.on    {color:#000;background:#e6e6e6 url("../images/mngr/lnb_bg.png") 13px 25px no-repeat;}
#content_wrap #lnb ul > li > a:hover {color:#00f;text-decoration:underline;}
#content_wrap #lnb ul > li > a.active{color:#00f;text-decoration:underline;}
#content_wrap #lnb ul > li > ul{border:0px;}
#content_wrap #lnb ul > li > ul > li{border-top:0px;}
#content_wrap #lnb ul > li > ul > li:last-child{margin-bottom:20px;}
#content_wrap #lnb ul > li > ul > li > a{display:block;font-size:14px;color:#333;height:30px;line-height:30px;background:#fff;padding-left:35px;font-weight:300;}
/*#container > .inner #snb ul > li > ul > li > a.on{color:#fff;background:#00af9d;}*/
#content_wrap #lnb ul > li > ul > li > a.on{color:#00af9d;background:#fff;}
#content_wrap #contents{margin-left:220px;overflow:hidden;border-left:1px solid #e2e2e2;}
#content_wrap #contents > .inner{padding:10px 20px;} /*min-height:730px;}*/
#content_wrap #contents > .inner h3{font-size:24px;font-weight:500;margin-bottom:20px;color:#000000;}
#content_wrap #contents > .inner h4{font-size:16px;font-weight:500;margin-bottom: 5px;color:#001ba1;}

#contents > .inner > .path{overflow:hidden;border-bottom:1px solid #dbdbdb;margin-bottom:20px;}
#contents > .inner > .path > .inner{overflow:hidden;margin:0 auto;padding:10px 0;}
#contents > .inner > .path > .inner > ul{overflow:hidden;float:left;}
#contents > .inner > .path > .inner > ul > li{float:left;background:url("../images/icon/ico_sepa_title.png") left center no-repeat;padding:0 10px 0 15px;}
#contents > .inner > .path > .inner > ul > li > a{display:block;font-size:13px;color:#838383;}
#contents > .inner > .path > .inner > ul > li:first-child{background:none;padding-left:0;}

#content_wrap #contents > .inner .cols_area{position:relative;}
#content_wrap #contents > .inner .cols_area .left_col{float:left;width:40%;margin-right:2%;}
#content_wrap #contents > .inner .cols_area .left_col .tree_area{padding:10px 20px;border:1px solid #eaeaea;}
#content_wrap #contents > .inner .cols_area .right_col{float:right;width:58%;}

#footer{width:100%;position:relative;float:left;}
#footer p {font-size:12px;color:#909090;padding:20px 0;border-top:1px solid #d5d5d5;text-align:center;}
#footer .go_btn{position:fixed;bottom:10px;right:0;}
#footer .go_btn ul li{margin:10px;}


/* tab_area */
.tab_area{padding-bottom:20px;width:100%}
.tab_area > ul{overflow:hidden;}
.tab_area > ul > li{float:left;width:20%;}
.tab_area > ul > li > a{display:block;border:1px solid #ddd;text-align:center;padding:10px 0;margin:1px;font-size:15px;color:#666;letter-spacing:-1px}
.tab_area > ul > li > a.on   {color:#fff;background:#757575;border:1px solid #757575;}
.tab_area > ul > li > a:hover{color:#fff;background:#757575;border:1px solid #757575;}
.tab_area > ul > li > a:focus{color:#fff;background:#757575;border:1px solid #757575;}
.tab_area.t_1 > ul > li{width:100%;}
.tab_area.t_2 > ul > li{width:50%;}
.tab_area.t_3 > ul > li{width:33.33%;}
.tab_area.t_4 > ul > li{width:25%;}
.tab_area.t_5 > ul > li{width:20%;}

/* btn_area */
.btn_area{width:100%;float:left;margin-bottom:20px;}
.btn_area input{cursor:pointer;}

.span_right{display:block;float:right;font-size:12px;}
.span_left{display:block;float:left;font-size:12px;}
.file_img{color:#0025b3;text-decoration:underline;margin-right:5px;}
.file_img img{margin-right:5px;}

.btn_large  {padding:5px 20px 8px 20px;font-size:14px;}
.btn_medium {padding:5px 10px 7px 10px;font-size:13px;}
.btn_small  {padding:3px 10px 5px 10px;font-size:12px;}/*none border*/
.btn_xsmall {padding:0px  5px 2px  5px;font-size:12px;line-height:24px;}

/* color set */
.bt_green     {background-color:#4d9349;color:#fff;border:1px solid #4d9349;}
.bt_grey      {background-color:#676767;color:#fff;border:1px solid #676767;}
.bt_white     {background-color:#ffffff;color:#333;border:1px solid #676767;}
.bt_blue      {background-color:#1b55da;color:#fff;border:1px solid #1b55da;}
.bt_deep_blue {background-color:#3154a3;color:#fff;border:1px solid #1b55da;}
.bt_red       {background-color:#fa2828;color:#fff;border:1px solid #ff0000;}
.bt_light_grey{background-color:#828282;color:#fff;border:1px solid #676767;}
/* border set */
.border_1px   {border:1px solid #999;box-sizing:border-box;}
.search_area  {margin-bottom:15px;}

.board_list{position:relative;clear:both;}
.board_total{font-size:13px;display:inline-block;width:100%;}
.board_total .left {float: left;}
.board_total .right{float:right;}
.board_total .right > span{margin-left:20px;}
.board_total .right > span strong{color:#000;font-weight:900;margin-left:5px;}

/* table layout */
.table{margin-bottom:20px;width:100%;}
.table th, .table td{padding:10px;text-overflow:ellipsis;word-break:break-all;}
.table .left  {text-align:left;}
.table .center{text-align:center;}
.table .right {text-align:right;}

/* table layout list_style */
.table_cols{border-top:1px solid #000;border-bottom:1px solid #000;}
.table_cols th{border-bottom:1px solid #d2d2d2;background-color:#f8f5f5;}
.table_cols td{border-bottom:1px solid #d2d2d2;background-color:#ffffff;}
.table_cols tr:last-child > th{border-bottom:none;}
.table_cols tr:last-child > td{border-bottom:none;}
.table_cols input{margin-right: 5px;}
.table_cols label{margin-right:10px;}


.rows_table{min-height:240px;}
.table_rows{width:100%;border-top:1px solid #d2d2d2;border-collapse:collapse;table-layout:inherit;}
.table_rows thead{background-color:#dfe1e6;font-size:15px;font-weight:300;}
.table_rows tbody>tr.on:hover{background-color:#cfc;cursor:pointer;}
.table_rows th{border-left:1px solid #d2d2d2;color:#000;}
.table_rows th:first-child{border-left:none;}
.table_rows td{border-bottom:1px solid #d2d2d2;border-left:1px solid #d2d2d2;text-align:center;font-size:14px;color:#333;line-height:150%;letter-spacing:-0.5px;}
.table_rows td:first-child{border-left:none;}
.table_rows input[type="checkbox"]{margin:3px;vertical-align:top;}
.table_rows tbody>tr.noti{font-weight:600;background:#fbfbfb;color:#f00;}


/* table layout detail_view style */
.table_view{border-top:1px solid #000;border-bottom:1px solid #000;width:100%;font-size:14px;float:left;}
.table_view th{border-left:1px solid #d2d2d2;border-bottom:1px solid #d2d2d2;background:#f2f7fb;line-height:150%;text-align:left;color:#333;font-weight:500;padding:10px 0 10px 15px;}
.table_view th:first-child{border-left:none;}
.table_view td{border-left:1px solid #d2d2d2;border-bottom:1px solid #d2d2d2;text-align:left;color:#333;}
.table_view input{margin-right:5px;}
.table_view img{max-width:90%;}
.table_view label{margin-right:15px;}
.table_view textarea{margin-bottom:5px;}
.table_view tr:last-child > th{border-bottom:none;}
.table_view tr:last-child > td{border-bottom:none;}
.table_view .no_left{border-left:none;}
.table_view .ln_top{border-top   :1px solid #000 !important;}
.table_view .ln_btm{border-bottom:1px solid #000 !important;}
.table_view .reply_area div:last-child{/*border-bottom:none;*/}
.table_view .reply{display:inline-block;width:100%;border-bottom:1px dotted #d2d2d2;padding:10px 0;}
.table_view .reply .re_left{float:left;width:80%;}
.table_view .reply .re_left span{font-size:13px;/*color:#3e3e3e;*/}
.table_view .reply .re_left span b{font-weight:700;margin-right:10px;color:#000;}
.table_view .reply .re_right{float:right;text-align:right;margin-top:10px;}


/* board style */
.gallery_list > ul{overflow:hidden;margin-left:-3%;margin:0;padding:0;}
.gallery_list > ul > li{float:left;width:22%;margin-left:3%;margin-bottom:2%;display:block;border:1px solid #ebebeb;padding-bottom:15px;box-sizing:border-box;}
.gallery_list > ul > li .img{margin-bottom:10px;padding-bottom:0;height:250px;overflow:hidden;}
.gallery_list > ul > li .img img{width:100%;height:250px;}
.gallery_list > ul > li .tit{font-size:14px;color:#000;line-height:150%;margin:15px 20px;height:45px;overflow:hidden;}
.gallery_list > ul > li .tit input{margin-top:5px;}
.gallery_list > ul > li .tit p{display:inline;padding:10px 0;}
.gallery_list > ul > li .period{border-top:1px solid #ebebeb;margin:0 20px;padding:10px 0;text-align:left;}
/*.programRegi .program_list > ul > li a .period ul li{color:#666;font-size:11px;font-family:"돋움";}*/
.gallery_list > ul > li .period ul li{color:#666;font-size:13px;}
.gallery_list ul>li:hover{background-color:#cfc;cursor:pointer;}

/* paging */
.paging{text-align:center;padding-bottom:40px;width:100%;}
.paging a       {display:inline-block;border:1px solid #c4c4c0;width:32px;height:32px;line-height:32px;text-align:center;}
.paging strong {display:inline-block;border:1px solid #1e75d6;width:32px;height:32px;line-height:32px;color:#1e75d6;text-align:center;}
.paging a.on    {display:inline-block;border:1px solid #1e75d6;width:32px;height:32px;line-height:32px;color:#1e75d6;font-weight:bold;}
.paging a:hover {display:inline-block;border:1px solid #1e75d6;width:32px;height:32px;line-height:32px;color:#1e75d6;font-weight:bold;}
.paging a:focus {display:inline-block;border:1px solid #1e75d6;width:32px;height:32px;line-height:32px;color:#1e75d6;font-weight:bold;}
.paging a.btn   {border:0;width:auto;height:34px;}

.re_paging{text-align:right;width:100%;}
.re_paging a       {display:inline-block;border:1px solid #c4c4c0;width:22px;height:22px;line-height:22px;font-size:12px;padding:0 2px;text-align:center;}
.re_paging a.on    {display:inline-block;border:1px solid #1e75d6;width:22px;height:22px;line-height:22px;color:#1e75d6;}
.re_paging a:hover {display:inline-block;border:1px solid #1e75d6;width:22px;height:22px;line-height:22px;color:#1e75d6;font-weight:bold;}
.re_paging a:focus {display:inline-block;border:1px solid #1e75d6;width:22px;height:22px;line-height:22px;color:#1e75d6;font-weight:bold;}
.re_paging a.btn   {border:0;width:auto;height:22px;vertical-align:top;}


/* info text& */
.info01{background:url("../images/icon/ico_exclam.png") left 2px no-repeat;padding-left:20px;font-size:13px;line-height:16px;display:inline-block;}
.info02{background:url("../images/icon/ico_quest.png" ) left 2px no-repeat;padding-left:20px;font-size:13px;line-height:16px;display:inline-block;}

/* font-color */
.red        {color:#e60000;}
.light_grey {color:#828282;}
.grey       {color:#676767;}
.blue       {color:#1b55da;}

/* login */
#login_wrap{margin:0 auto;text-align:center;}
#login_wrap .login_area{width:360px;background:url("../images/mngr/login_bg.png") center bottom no-repeat;min-height:610px;display:block;margin:40px auto 0;}
#login_wrap .login_area h1{margin-bottom:30px;text-align:center;}
#login_wrap .login_area h2{margin-bottom:30px;text-align:center;font-size:30px;font-weight:500;color:#000;letter-spacing:-0.05em;}
#login_wrap .login_area .form_area{width:100%;display:block;}
#login_wrap .login_area .form_area input{height:50px;border:1px solid #d6d6d6;width:100%;margin:10px 0;}
#login_wrap .login_area .form_area a.log_btn{background-color:#424242;width:100%;color:#fff;padding:15px 0;font-size:14px;display:block;margin-top:15px;}
#login_wrap .login_area .login_info{display:block;width:100%;margin-top:15px;background:url("../images/icon/ico_exclam.png") left 3px no-repeat;padding-left:20px;font-size:13px;color:#000;text-align:left;}

#login_wrap{margin:0 auto;text-align:center;}
#login_wrap .login_area2{width:360px;background:url("../images/mngr/login_bg.png") center bottom no-repeat;min-height:680px;display:block;margin:40px auto 0;}
#login_wrap .login_area2 h1{margin-bottom:30px;text-align:center;}
#login_wrap .login_area2 h2{margin-bottom:30px;text-align:center;font-size:30px;font-weight:500;color:#000;letter-spacing:-0.05em;}
#login_wrap .login_area2 .form_area{width:100%;display:block;}
#login_wrap .login_area2 .form_area input{height:50px;border:1px solid #d6d6d6;width:100%;margin:10px 0;}
#login_wrap .login_area2 .form_area a.log_btn{background-color:#424242;width:100%;color:#fff;padding:15px 0;font-size:14px;display:block;margin-top:15px;}
#login_wrap .login_area2 .login_info{display:block;width:100%;margin-top:15px;background:url("../images/icon/ico_exclam.png") left 3px no-repeat;padding-left:20px;font-size:13px;color:#000;text-align:left;}

.wdata_menu {
    background-color:#63594f;
    color:#fff;
    font-size:18px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* - new0man - begin - */
.progress    {display:none;position:fixed;top:0;left:0;width:100%;height:6px;background-color:#ccc;z-index:1212;}
.progress-bar{width:0%;height:6px;background:#f00;}

/* list */
.list_type1{padding:20px 0;background-color:#f3f4f6;}
.list_type1 li{padding-left:30px; margin-bottom:10px;background:url('../image/common/bul_cir1.png') no-repeat 0 0;font-size:15px;line-height:20px;}
.list_type1 li:last-child{margin-bottom:0;}

.gray_box{position:relative;margin-top:80px;padding:40px;background-color:#f7f7f7;}
.gray_box:after{display:block;clear:both;content:"";}
.gray_box h5{margin-bottom:15px;font-size:23px;font-weight:normal;color:#000;}
.gray_box h4{margin:0;}
.gray_box2{padding:30px 40px;background-color:#f7f7f7;border-top:1px solid #666;border-bottom:1px solid #666;}
.gray_box.border1{margin-top:0;border-top:1px solid #666; border-bottom:1px solid #666;}
.gray_box.border2{margin-top:0;border:1px solid #666;}
.gray_box.border3{margin-top:0;border-top:1px solid #666; border-bottom:1px solid #ddd;background-color:#f7f7f7;padding:80px 20px;}
.gray_box.border4{margin-top:0;border-top:1px solid #666; border-bottom:1px solid #666;background-color:#f7f7f7;padding:0;}

.gray_box3 {background:#f7f7f7;position:relative;height:109px;border-top:1px solid #666;border-bottom:1px solid #ddd;}
.gray_box3 .inner{padding:25px 25px 20px;}
.gray_box3 .desc{color:#555;line-height:1.5;}
.gray_box4 {background-color:#f7f7f7;padding:40px;}
.gray_box5 {background-color:#f7f7f7;padding:20px 25px;}
.gray_box5:after{display:block;clear:both;content:"";}
.gray_box5.btnXS .fl p{line-height:34px;}
.gray_box6 {background:#f7f7f7;display:block;position:relative;width:100%;padding:15px 25px;border-top:1px solid #ddd;border-bottom:1px solid #ddd;xbox-sizing:border-box;}
.gray_box6:after{display:block;clear:both;content:"";}
.gray_box6.all_check{display:table;}
.gray_box6.all_check > div{display:table-cell;}
.gray_box7 {background:#f0f0f0;padding:40px 0;border-radius:5px;text-align:center;}

/* cms 부분에서 사용하는 유의사항 box */
.gray_box .cont h5.fl{margin-bottom:0;width:25%;}
.gray_box .cont .list_wrap{float:left;width:75%;}
.gray_box .cont .list_wrap:after{display:block;clear:both;content:"";}
.gray_box .cont .list_wrap > .list_type2{position:relative;}
.gray_box .cont .list_wrap > .list_type2:after{display:block;clear:both;content:"";}
.gray_box .cont .list_wrap > .list_type2 li{float:left;width:100%;font-size:16px;color:#222;}
.gray_box .cont .list_wrap > .list_type2 .half{width:48%;}
.gray_box .cont button{position:absolute;right:40px;bottom:40px;}
.gray_box .cont .list_wrap > div button{position:relative;right:inherit;bottom:inherit;}
.gray_box .inner{color:#444;}
.gray_box .list_type2 > li{color:#444;font-size:15px;}
.gray_box .list_type2 > li:before{width:3px; height:3px;}

.white_box {padding:40px;border:1px solid #ddd;background:#fff;}
.white_box.radius6 {border-radius:6px;}
.txt_borderBox {padding:22px 0 22px 24px;border:1px solid #ddd;}

.list_type2 > li{padding-left:13px;text-indent:-13px;margin-bottom:10px;font-size:16px;line-height:24px;font-weight:normal;color:#222;text-align:left;}
.list_type2 > li:before{display:inline-block;margin:-4px 10px 0 0;width:2px;height:2px;background:#555;vertical-align:middle;content:"";}
.list_type2 > li:last-child{margin-bottom:0;}
.list_type2 > li > ul,
.list_type2 > li > ol{padding-left:13px;margin-top:10px;}
.list_type2 > li > ol > li{padding-left:0px;list-style-type:decimal;text-indent:0px;}
.list_type2 > li > ul > li{padding-left:0px;text-indent:-7px;margin-bottom:15px;line-height:1;}
.list_type2 > li > ol > li > ul{margin:5px 0;}
.list_type2 > li > ol > li > ul > li:before,
.list_type2 > li > ul > li:before{display:inline-block;padding-right:5px;margin-bottom:5px;content:"-";}
.list_type2 > li > ul > li.nobul{text-indent:-14px;line-height:1.2;word-break: keep-all;}
.list_type2 > li > ul > li.nobul:before{display:none;}
.list_type2 > li.no_bullet{text-indent:0;}
.list_type2 > li.no_bullet:before{display:none;}
.list_type2 > li > dl{margin-top:20px;text-indent:0;}
.list_type2 > li > dl dt{font-size:16px !important;}
.list_type2 > li .block{display:table;}
.list_type2 > li .tit  {display:table-cell;vertical-align:top;padding-right:4px;text-indent:0;white-space:nowrap;}
.list_type2 > li .cont {display:table-cell;vertical-align:top;text-indent:0;}
.list_type2.no_bullet > li{padding-left:0;text-indent:0;}
.list_type2.no_bullet > li:before{display:none;}

ol.list_type2 {padding-left:30px;}
ol.list_type2 > li{padding-left:0px;list-style-type:decimal;text-indent:0px;}
ol.list_type2 > li:before{display:none;}
ol.list_type2 > li > ul{margin:5px 0;padding:0;}
ol.list_type2 > li > ul > li{line-height:1.5;margin-bottom:0;text-indent:0;}
ol.list_type2 > li > ul > li + li{margin-top:10px;}
ol.list_type2 > li > ul > li:before{display:inline-block;padding-right:5px;margin-bottom:5px;content:"-";}
ol.list_type2 > li > ul > li > ul > li{padding-left: 12px;}

.list_type3 {}
.list_type3:after{display:block;clear:both;content:"";}
.list_type3.border{padding:25px 0;border-top:1px solid #ddd;border-bottom:1px solid #ddd;}
.list_type3.paycheck{margin-top:20px;background:url("../image/common/bg_pay_check.png") no-repeat 100% 0;}
.list_type3.paycheck li:first-child,
.list_type3.paycheck li:nth-child(2){padding-right:80px;}
.list_type3.fsz_14 > li{font-size:14px;margin-bottom:0;}
.list_type3.fsz_16 > li{font-size:16px;margin-bottom:0;color:#222;}
.list_type3 > li{margin-bottom:10px;padding-left:13px;text-indent:-13px;text-indent:-10px;line-height:1.5;font-size:15px;font-weight:normal;color:#555;}
.list_type3 > li.bul_dash {font-size:14px;}
.list_type3 > li.bul_dash:before {display:inline-block;padding-left:9px;margin-bottom:5px;content:"-";margin:0;width:auto;height:auto;background:none;vertical-align:top;}
.list_type3 > li.multi_line:before{margin:10px 10px 0 0;vertical-align:top;}
.list_type3 > li:last-child{margin-bottom:0;}
.list_type3 > li:first-child{margin-top:0;}
.list_type3 > li.one_line{line-height:1;}
.list_type3 > li:first-child, .list_type3.brown li:first-child{margin-top:0;}
.list_type3 > li:before{display:inline-block;margin:-4px 10px 0 0;width:2px;height:2px;background:#555;vertical-align:middle;content:"";}
.list_type3 > li > ul{padding-left:13px;margin-top:10px;}
.list_type3 > li > ul > li{margin-bottom:10px;text-indent:-7px;line-height:1;}
.list_type3 > li > ul > li > ul > li{line-height:1.5;}
.list_type3 > li > ul > li:before{display:inline-block;padding-right:5px;margin-bottom:5px;content:"-";}
.list_type3.bul_red > li:before{background:#d60815;}
.list_type3 > li > ol{padding-left:13px; margin-top:10px;}
.list_type3 > li > ol > li{padding-left:0px;list-style-type:decimal;text-indent:0px;}
.list_type3 > li > ol > li > ul{margin:5px 0;}
.list_type3 > li > ol > li > ul > li:before{display:inline-block;padding-right:5px;margin-bottom:5px;content:"-";}
.list_type3 > li button{margin-left:10px;}
.list_type3.brown > li{font-size:18px;font-weight: bold;color:#ab7d55;margin-bottom:5px;}
.list_type3 .fr button{margin-top:4px;}
.list_type3 > li.no_bullet{text-indent:0;}
.list_type3 > li.no_bullet.type{padding-left:0;}
.list_type3 > li.no_bullet:before{display:none;}
.list_type3 > li li.no_bullet:before{display:none;}
.list_type3 > li > button, .list_type3 > li > a{text-indent:0;}

.list_type4{margin-bottom:30px;}
.list_type4 dt{margin-bottom:10px;font-size:16px;font-weight:bold; }
.list_type4 dd{font-size:14px;line-height:24px;color:#555;}
.list_type4 dd:before{display:inline-block;padding-right:5px;content:"-";}

.list_type5 li{position:relative;padding:20px 25px;border-bottom:1px solid #ddd;line-height:1;}
.list_type5 li:after{display:block; clear:both; content:'';}
.list_type5 li input[type="checkbox"] {position:absolute;}
.list_type5 li input[type="checkbox"] + label{position:relative;height:auto;min-height:20px;line-height:20px;box-sizing:border-box;background:transparent;}
.list_type5 li input[type="checkbox"]:hover + label,
.list_type5 li input[type="checkbox"]:focus + label,
.list_type5 li input[type="checkbox"]:checked + label,
.list_type5 li input[type="checkbox"]:disabled + label,
.list_type5.check_right input[type="checkbox"]:checked:hover + label{background:transparent;}
.list_type5 li input[type="checkbox"] + label:before{position:absolute;top:0;left:0;right:auto;display:inline-block;width:20px;height:20px;background:url("../image/common/bg_checkbox_default.png") no-repeat;content:"";}
.list_type5 li input[type="checkbox"]:hover + label:before,
.list_type5 li input[type="checkbox"]:focus + label:before{background:url("../image/common/bg_checkbox_hover.png") no-repeat;}
.list_type5 li input[type="checkbox"]:checked + label:before{border:0;background:url("../image/common/bg_checkbox_check.png") no-repeat;}
.list_type5 li input[type="checkbox"]:checked:hover + label:before,
.list_type5 li input[type="checkbox"]:checked:focus + label:before {border:0;background:url("../image/common/bg_checkbox_checkover.png") no-repeat;}
.list_type5.border1{border-top:1px solid #666;}
.list_type5.border2{border-top:1px solid #ddd;margin-top:10px;}

.list_type6.border{border-top:1px solid #ddd;}
.list_type6 li{position:relative;padding:30px 0;border-bottom:1px solid #ddd;}
.list_type6 li:after{display:block;clear:both;content:""}

.list_type7{}
.list_type7 dt{padding-left:31px;margin-bottom:23px;font-size:23px;line-height:1.3;color:#555;}
.list_type7 dt > span{vertical-align:top;margin:0 10px 0 -30px;font-size: 18px;color:#d60815;font-family:"latofont";font-weight:bold;line-height: 28px;}
.list_type7.dash dd:before{display:inline-block;padding-right:5px;content:"-";}
.list_type7.dash dd{padding-left:15px; margin-bottom:10px; text-indent:-6px;line-height:1.5;font-size:16px;color:#555;}
.list_type7 dd{margin-bottom:10px;line-height:1.5;font-size:16px;color:#555;}

.list_type8{}
.list_type8 > li{padding-left:13px;font-size:16px;text-indent:-7px;}
.list_type8 > li:before{display:inline-block;padding-right:5px;margin-bottom:5px;content:"-";}
.list_type8 ol > li{padding-left:6px;color:#ab7d55;}

/* dl type */
dl.list_type9 {position:relative;}
dl.list_type9 dt{margin-bottom:10px;font-size:15px;color:#444;line-height:1.5;font-weight:bold;}
dl.list_type9 dt:before{display:inline-block;width:3px;height:3px;margin:-4px 10px 0 0;background-color:#555;vertical-align:middle;content:"";}
dl.list_type9 dd{margin-bottom: 6px;font-size:15px;color:#444;line-height:20px;padding-left:12px;}
dl.list_type9 dd:before{display:inline-block;padding-right:5px;margin-bottom:5px;content:"-";}

.list_type10 > li{padding-left:28px;margin-bottom:10px; font-size:0;font-weight:normal;color:#222;text-align:left;}
.list_type10 > li .num{display:inline-block;text-indent:-26px;}
.list_type10 > li span{font-size:16px;line-height:24px;}
.list_type10 > li:last-child{margin-bottom:0;}

.list_type10 > li > ul{margin: 5px 0;line-height:1.5;}
.list_type10 li > ul > li{margin-bottom:6px;font-size:15px;text-indent:-6px;}
.list_type10 > li > ul > li:before{display:inline-block;padding-right:5px;margin-bottom:5px;content:"-";}
.list_type10 > li > ul > li > ul{padding-left: 13px;}

input[type="text"].error_Msg, select.error_Msg{border:1px solid #d60815;background-color:#fff;}
/* - new0man - end - */
