﻿@charset "utf-8";

@import url("basic.css"); /* basic */
@import url("fonts.css"); /* fonts */

#skipNavi{position:absolute;margin:0 auto;width:100%;list-style:none;font-size:1.15em;top:-10.5em;left:0;z-index:999999;}
#skipNavi a:active,
#skipNavi a:focus{position:absolute;padding-top:0.5em;width:100%;height:2em;top:10.5em;text-align:center;color:#000;font-weight:bold;background:#fff;border-bottom:1px solid #475470;outline:0;z-index:999999;}
#wrap{font-family:'Noto Sans KR', '맑은 고딕', sans-serif;-webkit-text-size-adjust:100%;font-weight:300;font-size:12px;line-height:150%;}
select, textarea, input{font-family:'Noto Sans KR', '맑은 고딕', sans-serif;}

/* main_layout */
.top_link{background:#cfcfcf;}
.top_link .inner{max-width:1200px;margin:0 auto;}
.top_link .inner > ul:after{content:'';display:block;clear:both;}
.top_link .inner > ul > li{float:left;margin-left:-1px;position:relative;}
.top_link .inner > ul > li > a{display:block;font-size:14px;color:#fff;line-height:41px;height:41px;width:182px;text-align:center;background:#a9a9a9;border-left:1px solid #cfcfcf;border-bottom:1px solid #a9a9a9}
.top_link .inner > ul > li > a.on{background:#fff;color:#0041b5;border-bottom:1px solid #fff;font-weight:500;}
.top_link .inner > ul > li:first-child{margin-left:0;}
.top_link .inner > ul > li > .top_link_sub{display:none;position:absolute;left:1px;right:1px;top:41px;z-index:1000;background:#847465;border-top:1px solid #65594e}
.top_link .inner > ul > li > .top_link_sub ul{margin:0 5px;}
.top_link .inner > ul > li > .top_link_sub ul li{border-top:1px solid #9b9086;}
.top_link .inner > ul > li > .top_link_sub ul li a{display:block;font-size:12px;color:#fff;text-align:center;height:32px;line-height:32px;}
.top_link .inner > ul > li > .top_link_sub ul li a:hover{color:#ffff00}
.top_link .inner > ul > li > .top_link_sub ul li a:focus{color:#ffff00}
.top_link .inner > ul > li > .top_link_sub ul li:first-child{border-top:0;}
.top_link .inner > ul > li > a.open{background:#65594e;color:#fff;font-weight:500;}
#header{border-bottom:1px solid #ddd;position: relative}
#header .search_top{}
#header .search_top .inner{max-width:1200px;margin:0 auto;text-align:right;position:relative;}
#header .search_top .inner h1{position:absolute;left:50%;top:20px;margin-left:-600px;}
#header .search_top .inner .search_form{margin:20px 10px 20px 0;display:inline-block;vertical-align:top;border:1px solid #acacac;border-radius:50px;width:290px;}
#header .search_top .inner .search_form div{display:inline-block;width:220px;margin-left:18px;vertical-align:top;padding:1px 0;}
#header .search_top .inner .search_form div input[type="text"]{height:36px;line-height:36px;text-indent:5px;font-size:14px;border:0;width:100%;}
#header .search_top .inner .search_form input[type="image"]{padding:9px;}
#header .search_top .inner .zoom{padding:20px 0;display:inline-block;vertical-align:top;margin-right:45px;}
#header .search_top .inner .zoom a{margin-left:2px;}
#header .gnb_wrap{position:absolute;left:50%;top:0;width:580px;margin-left:-150px;}
#header .gnb_wrap .gnb .inner > ul:after{content:'';display:block;clear:both}
#header .gnb_wrap .gnb .inner > ul > li{float:left;padding:0 30px;background:url(../images/icon/ico_bar01.png) no-repeat center left}
#header .gnb_wrap .gnb .inner > ul > li > a{display:block;font-size:18px;color:#000;line-height:80px;height:80px;font-weight:500;}
#header .gnb_wrap .gnb .inner > ul > li:first-child{padding-left:0;padding-right:0;width:110px;background:none;}
#header .gnb_wrap .gnb .inner > ul > li > .gnb_sub{position:absolute;left:50%;top:80px;margin-left:-600px;z-index:101;display:none;}
#header .gnb_wrap .gnb .inner > ul > li > .gnb_sub > ul > li{float:left;margin-right:30px;}
#header .gnb_wrap .gnb .inner > ul > li > .gnb_sub > ul > li > a{display:block;font-size:16px;color:#fff;height:44px;line-height:44px;}
#header .gnb_wrap .gnb .inner > ul > li > .gnb_sub > ul > li:hover > a{color:#ffff00}
#header .gnb_wrap .gnb .inner > ul > li > .gnb_sub > ul > li > a:focus{color:#ffff00}
#header .gnb_wrap .gnb .inner > ul > li > .gnb_sub#gnb_sub01{margin-left:-360px;}
#header .gnb_wrap .gnb .inner > ul > li > .gnb_sub#gnb_sub02{margin-left:-200px;}
#header .gnb_wrap .gnb .inner > ul > li > .gnb_sub#gnb_sub03{margin-left:30px;}
#header .gnb_wrap .gnb .inner > ul > li > .gnb_sub#gnb_sub04{margin-left:150px;}
#header .gnb_wrap .gnb .inner > ul > li > .gnb_sub#gnb_sub04 > ul > li:last-child{margin-right:0;}
#header .bg_gnb_sub{display:none;background:#4b423a;position:absolute;left:0;right:0;top:80px;height:44px;z-index:100}
#header .gnb_wrap .fullmenu{position:absolute;left:0;top:0;right:0;z-index:106;}
#header .gnb_wrap .fullmenu .open_fullmenu{position:absolute;left:50%;top:20px;margin-left:420px;}
#header .gnb_wrap .fullmenu .fullmenu_list{display:none;}
#header .gnb_wrap .fullmenu .fullmenu_list > ul:after{content:'';display:block;clear:both}
#header .gnb_wrap .fullmenu .fullmenu_list > ul > li{float:left;padding:0 30px;background:url(../images/icon/ico_bar01.png) no-repeat 10px left}
#header .gnb_wrap .fullmenu .fullmenu_list > ul > li:first-child{padding-left:0;padding-right:0;width:110px;background:none;}
#header .gnb_wrap .fullmenu .fullmenu_list > ul > li > a{display:block;font-size:18px;color:#000;line-height:80px;height:80px;font-weight:500;background:#fff;}
#header .gnb_wrap .fullmenu .fullmenu_list > ul > li:hover > a{color:#ff6600}
#header .gnb_wrap .fullmenu .fullmenu_list > ul > li > a:focus{color:#ff6600}
#header .bg_fullmenu_list{display:none;background:#4b423a;position:absolute;left:0;right:0;top:80px;height:190px;z-index:105;padding:20px 0;}
#header .gnb_wrap .fullmenu .fullmenu_list > ul > li > .fullmenu_list_sub{padding:20px 0;}
#header .gnb_wrap .fullmenu .fullmenu_list > ul > li > .fullmenu_list_sub > ul > li > a{display:block;font-size:16px;color:#fff;padding:10px 0;letter-spacing: -0.05em}
#header .gnb_wrap .fullmenu .fullmenu_list > ul > li > .fullmenu_list_sub > ul > li > a:hover{color:#ffff00}
#header .gnb_wrap .fullmenu .fullmenu_list > ul > li > .fullmenu_list_sub > ul > li > a:focus{color:#ffff00}
#header .gnb_wrap .fullmenu .fullmenu_list > ul > li > .fullmenu_list_sub > ul > li > ul{padding-left:10px;}
#header .gnb_wrap .fullmenu .fullmenu_list > ul > li > .fullmenu_list_sub > ul > li > ul > li > a{display:block;font-size:12px;color:#e1e1e1;padding:2px 0}
#header .gnb_wrap .fullmenu .fullmenu_list > ul > li > .fullmenu_list_sub > ul > li > ul > li > a:hover{color:#ffff00;}
#header .gnb_wrap .fullmenu .fullmenu_list > ul > li > .fullmenu_list_sub > ul > li > ul > li > a:focus{color:#ffff00;}
#container .main_visual {position: relative; height:405px;}
#container .main_visual ul{overflow: hidden}
#container .main_visual ul li{height:405px;text-align: center}
#container .main_visual ul li img{width:100%; height:405px}
#container .main_visual .bx-wrapper{position:relative;}
#container .main_visual .bx-wrapper .bx-prev{position:absolute;left:50%;top:50%;margin:-20px 0 0 -600px;width:26px;height:40px;text-indent:-9999px;overflow:hidden;display:block;background:url(../images/btns/btn_prev02.png) no-repeat center center;z-index:50}
#container .main_visual .bx-wrapper .bx-next{position:absolute;right:50%;top:50%;margin:-20px -600px 0 0;width:26px;height:40px;text-indent:-9999px;overflow:hidden;display:block;background:url(../images/btns/btn_next02.png) no-repeat center center;z-index:50}
#container .main_visual .bx-wrapper .bx-pager{position:absolute;left:0;right:0;bottom:5%;text-align:center;}
#container .main_visual .bx-wrapper .bx-pager .bx-pager-item{display:inline-block;margin:0 7px;}
#container .main_visual .bx-wrapper .bx-pager .bx-pager-item a{display:block;width:14px;height:14px;text-indent:-9999px;overflow:hidden;background:url(../images/icon/ico_nav.png) no-repeat center right;}
#container .main_visual .bx-wrapper .bx-pager .bx-pager-item a.active{background-position:center left;}
#container .main_section01{background:#495e8f;} 
#container .main_section01 .inner{max-width:1200px;margin:0 auto;padding:15px 0;}
#container .main_section01 .inner ul{overflow:hidden;margin-left:-5%;}
#container .main_section01 .inner ul li{float:left;width:20%;margin-left:5%; text-align: center}
#container .main_section01 .inner ul li a{display:block;}
#container .main_section01 .inner ul li a img{max-width:195px;}
#container .main_section02{padding:50px 0;max-width:1200px;margin:0 auto;overflow:hidden;}
#container .main_section02 .banner{float:left;width:596px;position:relative;margin-right:28px;}
#container .main_section02 .banner ul{overflow:hidden;margin-left:-22px;}
#container .main_section02 .banner ul li{float:left;margin-left:22px;}
#container .main_section02 .gallery{float:left;width:572px;position:relative;}
#container .main_section02 .gallery h2{font-size:20px;color:#000;padding-bottom:25px;}
#container .main_section02 .gallery .btn_more{position:absolute;right:0;top:0;}
#container .main_section02 .gallery .gallery_list ul{overflow:hidden;margin-left:-4%;}
#container .main_section02 .gallery .gallery_list ul li{float:left;width:29.33%;margin-left:4%;overflow: hidden}
#container .main_section02 .gallery .gallery_list ul li a{display:block;}
#container .main_section02 .gallery .gallery_list ul li a .img{width: 100%;height:130px;position: relative;}
#container .main_section02 .gallery .gallery_list ul li a .img img{max-width: 170px;max-height:130px;margin-top: auto;margin-bottom: auto;position: absolute;top: 0;bottom: 0;left: 0;right: 0;margin-left: auto;margin-right: auto;}
#container .main_section02 .gallery .gallery_list ul li a .txt{padding:5px 0 10px 0;font-weight:400;}
#container .main_section02 .gallery .gallery_list ul li a .txt p{font-size:14px;color:#000;line-height:150%;margin-bottom:10px;height:42px;overflow:hidden;}
#container .main_section02 .gallery .gallery_list ul li a .txt .date{display:block;font-size:14px;color:#000;line-height:150%;}
#footer{border-top:1px solid #d1d1d1;font-weight:400;}
#footer .inner{max-width:1200px;margin:0 auto;position:relative;}
#footer .inner .foot_logo{position:absolute;left:0;top:15px;}
#footer .inner .foot_info{padding:20px 180px 20px 240px} 
#footer .inner .foot_info .foot_menu{padding-bottom:5px;}
#footer .inner .foot_info .foot_menu ul{overflow:hidden;}
#footer .inner .foot_info .foot_menu ul li{float:left;margin-right:20px;}
#footer .inner .foot_info .foot_menu ul li a{display:block;font-size:12px;color:#000;line-height:150%;}
#footer .inner .foot_info .foot_tel{font-size:12px;color:#000;line-height:150%;padding-bottom:5px;}
#footer .inner .foot_info .foot_tel li{display:inline-block;margin-right:15px;}
#footer .inner .foot_info .copyright{font-size:12px;color:#000;line-height:150%;}
#footer .inner .family_site{position:absolute;right:0;top:30px;}
#footer .inner .family_site select{height:35px;line-height:35px;font-size:14px;color:#000;border:1px solid #959595;width:160px;}

#wrap.sub #container{max-width:1200px;margin:0 auto;padding:60px 0 90px 0;position:relative;}
#wrap.sub #container #snb{position:absolute;left:0;top:60px;width:260px;border-bottom:2px solid #000;}
#wrap.sub #container #snb .h2_tit{font-size:30px;color:#000;line-height:150%;padding-bottom:20px;border-bottom:2px solid #000;font-weight:500;letter-spacing:-1px;}
#wrap.sub #container #snb > ul > li{}
#wrap.sub #container #snb > ul > li > a{display:block;font-size:18px;color:#000;line-height:50px;height:50px;border-top:1px solid #dcdcdc;font-weight:500;padding-left:5px;}
#wrap.sub #container #snb > ul > li > a.on{background:url("../images/icon/ico_snb_minus.png") no-repeat 95% center;}
#wrap.sub #container #snb > ul > li > a.noChild{background:none;}
#wrap.sub #container #snb > ul > li:first-child > a{border-top:0;}
#wrap.sub #container #snb > ul > li > ul{background:#f7f7f7;border-top:1px solid #dcdcdc}
#wrap.sub #container #snb > ul > li > ul > li > a{display:block;height:42px;line-height:42px;color:#000;padding-left:30px;font-size:14px;font-weight:400;}
#wrap.sub #container #snb > ul > li > ul > li > a.on{background:#65594e url(../images/icon/ico_bul02.png) no-repeat 15px center;color:#fff;}
#wrap.sub #container #contents{margin-left:310px;min-height:700px;}
#wrap.sub #container #contents .h3_tit{font-size:30px;color:#000;line-height:150%;padding-bottom:20px;font-weight:500;letter-spacing:-1px;}
#wrap.sub #container #contents .path{font-size:12px;color:#777;line-height:150%;font-weight:400;padding-bottom:40px;letter-spacing:0;}
#wrap.sub .right_quick{position:absolute;left:50%;top:200px;margin-left:650px;width:103px;}
#wrap.sub .right_quick h2{text-indent:-9999px;overflow:hidden;background:url(../images/coun/img_quick.png) no-repeat center top;height:42px;}
#wrap.sub .right_quick ul li a{display:block;background:url(../images/coun/img_quick.png) no-repeat center top;text-indent:-9999px;height:90px;}
#wrap.sub .right_quick ul li a#right_quick01{height:109px;background-position:center -42px;}
#wrap.sub .right_quick ul li a#right_quick02{background-position:center -151px;}
#wrap.sub .right_quick ul li a#right_quick03{background-position:center -241px;}
#wrap.sub .right_quick ul li a#right_quick04{background-position:center -334px;}
#wrap.sub .right_quick ul li a#right_quick05{background-position:center -422px;}
#wrap.sub .right_quick ul li a#right_quick06{background-position:center -511px;}
#wrap.sub .right_quick ul li a#right_quick07{height:95px;background-position:center -602px;}


#header{display:block;}
#mobile_header{display:none;position:relative;border-bottom:1px solid #ddd;}
#mobile_header .open_mobile_menu{position:absolute;left:0;top:0;z-index:100}
#mobile_header .open_mobile_menu img{height:53px;}
#mobile_header h1 a{display:block;padding:10px 0;text-align:center;}
#mobile_header h1 a img{height:33px;}
#mobile_header .open_mobile_search{position:absolute;right:0;top:0;z-index:100}
#mobile_header .open_mobile_search img{height:53px;}
#mobile_header .mobile_menu{display:none;position:fixed;left:0;top:0;bottom:0;width:100%;z-index:500;background:#fff;overflow-y:auto;}
#mobile_header .mobile_menu .logo{padding:10px;}
#mobile_header .mobile_menu .logo img{height:33px;}
#mobile_header .mobile_menu .close_mobile_menu{position:absolute;right:0;top:0;}
#mobile_header .mobile_menu .close_mobile_menu img{height:53px;}
#mobile_header .mobile_menu .mobile_menu_list{border-top:1px solid #e5e5e5;}
#mobile_header .mobile_menu .mobile_menu_list > ul > li{}
#mobile_header .mobile_menu .mobile_menu_list > ul > li > a{display:block;font-size:16px;color:#191919;line-height:50px;height:50px;background:url(../images/icon/ico_snb_plus.png) no-repeat 97% center;border-bottom:1px solid #e5e5e5;padding:0 10px;font-weight:500;}
#mobile_header .mobile_menu .mobile_menu_list > ul > li > a.on{background-image:url(../images/icon/ico_snb_minus.png);}
#mobile_header .mobile_menu .mobile_menu_list > ul > li > .mobile_menu_list_sub{display:none;background:#f6f6f7;}
#mobile_header .mobile_menu .mobile_menu_list > ul > li > .mobile_menu_list_sub > ul > li > a{display:block;border-bottom:1px solid #e0e0e1;color:#000;padding:0 0 0 10px;height:50px;line-height:50px;font-size:16px;}
#mobile_header .mobile_menu .mobile_menu_list > ul > li > .mobile_menu_list_sub > ul > li > a#mobile_menu_list_sub01{background:#65594e url(../images/icon/ico_min.png) no-repeat 98% center;color:#fff;}
#mobile_header .mobile_menu .mobile_menu_list > ul > li > .mobile_menu_list_sub > ul > li > ul > li > a{display:block;border-bottom:1px solid #e0e0e1;color:#000;padding:0 0 0 20px;height:44px;line-height:44px;font-size:14px;}





/*sub layout*/

.greetings{position:relative;}
.greetings .img{position:absolute;left:0;top:0;}
.greetings .txt{margin-left:410px;}
.greetings .txt h4{font-size:36px;color:#333;line-height:150%;font-weight:500;letter-spacing:-2px;padding-bottom:25px;}
.greetings .txt p{font-size:16px;color:#333;line-height:180%;}
.greetings .txt p strong{font-weight:500;}
.greetings .txt .sign{text-align:right;font-size:16px;color:#000;line-height:150%;font-weight:400;padding-top:30px;}
.greetings .txt .sign strong{display:block;font-size:30px;color:#000;line-height:150%;font-weight:500;}


.section{position:relative;margin-bottom:30px;color:#333;}
.h4_tit{font-size:18px;font-weight:600;line-height:180%;background:url("../images/icon/ico_txt01-02.png") left center no-repeat;padding-left:20px;margin-bottom:10px;}
.sention_txt{font-size:15px;line-height:150%;padding-left:20px;font-weight: 400}
.p_tit{font-size:15px;line-height:180%;padding-left:20px;margin-bottom:5px;margin-top:15px;font-weight: 400; word-break: break-all; letter-spacing: -0.03em;}
.p_tit_np{font-size:15px;line-height:150%;margin-bottom:15px;font-weight: 400;word-break: break-all}
.p_tit b{font-weight:600;color:#60657f;word-break: break-all}
.p_list{font-size:15px;line-height:150%;padding-left:20px;margin-top:15px;font-weight:600;color:#60657f;}
.span_txt{font-size:14px;color:#d37756;}



/*memeber popup*/
.pro_popup{width:100%;position:relative;}
.pro_popup h2{font-size:20px;width:100%;background-color:#d37756;padding:15px 0 15px 20px;box-sizing:border-box;color:#fff;}
.pro_popup .pro_body{position:relative;width:97%;margin:0 auto;}
.pro_popup .pro_bottom{width:97%;margin:0 auto;position:relative;}
.pro_popup .pro_bottom h3{font-size:16px;line-height:180%;font-weight:500;}
.pro_popup .pro_bottom .mem_history{background-color:#f5f5f5;padding:15px;box-sizing:border-box;width:100%;height:150px;overflow-y:scroll;text-align:left;font-size:15px;line-height:150%;}

.img_area {width:100%;text-align:center;}
.profile_list{position:relative;overflow:hidden;}
.profile_list > ul > li{width:45%;float:left;margin:15px 5% 15px 0;}
.profile_list > ul > li:nth-child(2n){margin-right:0;}
.profile_list > ul > li > dl {overflow:hidden;border:1px solid #dfdfdf;}
.profile_list > ul > li > dl > dt{width:35%;float:left;box-sizing:border-box;padding:10px;}
.profile_list > ul > li > dl > dt img{width:100%;}
.profile_list > ul > li > dl > dd{width:60%;float:right;margin:0 auto;}
.profile_list > ul > li > dl > dd > p{font-size:20px;font-weight:600;margin:20px 0;}
.profile_list > ul > li > dl > dd > table{width:95%;font-size:16px;border-top:1px solid #dedede;border-collapse:collapse;}
.profile_list > ul > li > dl > dd > table th{background-color:#f8f8f8;border-bottom:1px solid #dedede;padding:10px;}
.profile_list > ul > li > dl > dd > table td{border-bottom:1px solid #dedede;padding:10px;}



.member_list{position:relative;overflow:hidden;}
.member_list > ul > li{width:48%;float:left;margin:15px 3% 15px 0;}
.member_list > ul > li:nth-child(2n){margin-right:0;}
.member_list > ul > li > dl {overflow:hidden;border:1px solid #dfdfdf;}
.member_list > ul > li > dl > dt{width:35%;float:left;box-sizing:border-box;padding:10px;}
.member_list > ul > li > dl > dt > p{height:152px;overflow:hidden;}
.member_list > ul > li > dl > dt > p img{width:100%;}
.member_list > ul > li > dl > dt > span{ display:block;width:100%;padding:10px;background-color:#60657f;box-sizing:border-box;margin-top:15px;text-align:center;font-size:15px;}
.member_list > ul > li > dl > dt > span a{color:#fff;font-weight:600;display:block;width:100%;}
.member_list > ul > li > dl > dd{width:65%;float:right;margin:0 auto;}
.member_list > ul > li > dl > dd > p{font-size:28px;font-weight:500;margin:30px 0 20px 0;}
.member_list > ul > li > dl > dd > table{width:95%;font-size:15px;border-collapse:collapse;}
.member_list > ul > li > dl > dd > table th{border-top:1px solid #dedede;padding:5px;text-align:left;font-weight:500;}
.member_list > ul > li > dl > dd > table td{border-top:1px solid #dedede;padding:5px;word-break:break-all;white-space:nowrap;text-overflow:ellipsis;}
.member_list > ul > li > dl > dd > table .b_none{border-top:none;}

.member_list_s{position:relative;overflow:hidden;}
.member_list_s > ul > li{width:48%;float:left;margin:15px 3% 15px 0;}
.member_list_s > ul > li:nth-child(2n){margin-right:0;}
.member_list_s > ul > li > dl {overflow:hidden;border:1px solid #dfdfdf;}
.member_list_s > ul > li > dl > dt{width:30%;float:left;box-sizing:border-box;padding:10px;}
.member_list_s > ul > li > dl > dt img{width:98%;}
.member_list_s > ul > li > dl > dt > span{ display:block;width:100%;padding:10px;background-color:#60657f;box-sizing:border-box;margin-top:15px;text-align:center;font-size:15px;}
.member_list_s > ul > li > dl > dt > span a{color:#fff;font-weight:600;display:block;width:100%;}
.member_list_s > ul > li > dl > dd{width:65%;float:right;margin:0 auto;min-height:177px;}
.member_list_s > ul > li > dl > dd > p{font-size:22px;font-weight:500;margin:30px 0 20px 0;}
.member_list_s > ul > li > dl > dd > table{width:95%;font-size:15px;border-collapse:collapse;}
.member_list_s > ul > li > dl > dd > table th{border-top:1px solid #dedede;padding:5px;text-align:left;font-weight:500;}
.member_list_s > ul > li > dl > dd > table td{border-top:1px solid #dedede;padding:5px;word-break:break-all;white-space:nowrap;text-overflow:ellipsis;}
.member_list_s > ul > li > dl > dd > table .b_none{border-top:none;}


.pop_mem{position:relative;overflow:hidden;width:97%;margin:20px auto;}
.pop_mem > dl {overflow:hidden;}
.pop_mem > dl > dt{width:30%;float:left;box-sizing:border-box;}
.pop_mem > dl > dt img{width:98%;}
.pop_mem > dl > dt > span{ display:block;width:100%;padding:10px;background-color:#60657f;box-sizing:border-box;margin-top:15px;text-align:center;font-size:15px;}
.pop_mem > dl > dt > span a{color:#fff;font-weight:600;display:block;width:100%;}
.pop_mem > dl > dd{width:65%;float:right;margin:0 auto;min-height:177px;}
.pop_mem > dl > dd > p{font-size:22px;font-weight:500;margin:0 0 20px 0;}
.pop_mem > dl > dd > table{width:95%;font-size:14px;border-collapse:collapse;}
.pop_mem > dl > dd > table th{border-top:1px solid #dedede;padding:7px 5px;text-align:left;font-weight:500;}
.pop_mem > dl > dd > table td{border-top:1px solid #dedede;padding:7px 5px;word-break:break-all;white-space:nowrap;text-overflow:ellipsis;}
.pop_mem > dl > dd > table .b_none{border-top:none;}



/*list style*/
.list_style01 > ul > li{background:url("../images/icon/ico_txt02.png") 20px 12px no-repeat;padding:2px 0 2px 30px;line-height:150%;font-size:15px;font-weight: 400}
.list_style01 > ul > li > ul{padding:5px 0 5px 0;}
.list_style01 > ul > li > ul > li{text-indent:-8px;padding-left:8px;line-height:150%;}
.list_style01 > ul > li > ul > li b{margin:15px 0 0 0;font-weight:600;color:#60657f;display:block;}
.list_style01 > ul > li > ul > li > ul{padding:5px 0 5px 10px;}
.list_style01 > ul > li > ul > li > ul > li{padding-left:8px;}
.list_style01 > ul > li b{font-weight:600;color:#60657f;}
.list_style01 > ul > li.none{background:none; color:#bf5d22}


.dl_style01{margin:30px 0 20px 20px;}
.dl_style01 > dl {overflow:hidden;width:100%;margin:10px 0;}
.dl_style01 > dl > dt {border-radius:20px;background-color:#60657f;padding:10px 15px;color:#fff;width:25%;min-height:85px;margin-right:2%;float:left;box-sizing:border-box;display:table;}
.dl_style01 > dl > dt > dl {overflow:hidden;display:table-cell;vertical-align:middle;}
.dl_style01 > dl > dt > dl > dt{display:table-cell;vertical-align:middle;font-size:30px;font-weight:600;text-align:left;padding-right:15px;}
.dl_style01 > dl > dt > dl > dd{display:table-cell;vertical-align:middle;font-size:16px;word-break:break-all;}
.dl_style01 > dl > dd{border-radius:20px;border:1px solid #60657f;min-height:85px;float:left;box-sizing:border-box;display:table;padding:10px 20px;width:73%;font-weight: 400}
.dl_style01 > dl > dd ul{display:table-cell;vertical-align:middle;}
.dl_style01 > dl > dd ul li{background:url("../images/icon/ico_txt03.png") left 10px no-repeat;font-size:15px;padding-left:5px;}


.dl_style02{margin:30px 0 20px 20px;}
.dl_style02 > dl {overflow:hidden;width:100%;margin:10px ;0}
.dl_style02 > dl > dt {border-radius:20px;background-color:#5b659b;padding:10px 15px;color:#fff;width:25%;min-height:85px;margin-right:2%;float:left;box-sizing:border-box;display:table;}
.dl_style02 > dl > dt > dl {overflow:hidden;display:table-cell;vertical-align:middle;}
.dl_style02 > dl > dt > dl > dt{display:table-cell;vertical-align:middle;font-size:30px;font-weight:600;text-align:left;padding-right:15px;}
.dl_style02 > dl > dt > dl > dd{display:table-cell;vertical-align:middle;font-size:16px;word-break:break-all;}
.dl_style02 > dl > dd{border-radius:20px;border:1px solid #323f82;min-height:85px;float:left;box-sizing:border-box;display:table;padding:10px 20px;width:73%;font-weight: 400}
.dl_style02 > dl > dd ul{display:table-cell;vertical-align:middle;}
.dl_style02 > dl > dd ul li{background:url("../images/icon/ico_txt03.png") left 10px no-repeat;font-size:15px;padding-left:5px;}

.dl_style03{margin:30px 0 20px 20px;}
.dl_style03 > dl {overflow:hidden;width:100%;margin:10px 0;}
.dl_style03 > dl > dt {border-radius:20px;background-color:#4d6a8b;padding:10px 15px;color:#fff;width:25%;min-height:85px;margin-right:2%;float:left;box-sizing:border-box;display:table;}
.dl_style03 > dl > dt > dl {overflow:hidden;display:table-cell;vertical-align:middle;}
.dl_style03 > dl > dt > dl > dt{display:table-cell;vertical-align:middle;font-size:30px;font-weight:600;text-align:left;padding-right:15px;}
.dl_style03 > dl > dt > dl > dd{display:table-cell;vertical-align:middle;font-size:16px;word-break:break-all;}
.dl_style03 > dl > dd{border-radius:20px;border:1px solid #323f82;min-height:85px;float:left;box-sizing:border-box;display:table;padding:10px 20px;width:73%;font-weight: 400}
.dl_style03 > dl > dd ul{display:table-cell;vertical-align:middle;}
.dl_style03 > dl > dd ul li{background:url("../images/icon/ico_txt03.png") left 10px no-repeat;font-size:15px;padding-left:5px;}


.dl_style04{margin:30px 0 20px 20px;}
.dl_style04 > dl {overflow:hidden;width:100%;margin:10px 0;}
.dl_style04 > dl > dt {border-radius:20px;background-color:#39746b;padding:10px 15px;color:#fff;width:25%;min-height:85px;margin-right:2%;float:left;box-sizing:border-box;display:table;}
.dl_style04 > dl > dt > dl {overflow:hidden;display:table-cell;vertical-align:middle;}
.dl_style04 > dl > dt > dl > dt{display:table-cell;vertical-align:middle;font-size:30px;font-weight:600;text-align:left;padding-right:15px;}
.dl_style04 > dl > dt > dl > dd{display:table-cell;vertical-align:middle;font-size:16px;word-break:break-all;}
.dl_style04 > dl > dd{border-radius:20px;border:1px solid #323f82;min-height:85px;float:left;box-sizing:border-box;display:table;padding:10px 20px;width:73%;font-weight: 400}
.dl_style04 > dl > dd ul{display:table-cell;vertical-align:middle;}
.dl_style04 > dl > dd ul li{background:url("../images/icon/ico_txt03.png") left 10px no-repeat;font-size:15px;padding-left:5px;}

.dl_style05{margin:30px 0 20px 20px;}
.dl_style05 > dl {overflow:hidden;width:100%;margin:10px 0;}
.dl_style05 > dl > dt {border-radius:20px;background-color:#60657f;padding:10px 15px;color:#fff;width:24%;min-height:85px;margin-right:2%;float:left;box-sizing:border-box;display:table;}
.dl_style05 > dl > dt > dl {overflow:hidden;display:table-cell;vertical-align:middle;}
.dl_style05 > dl > dt > dl > dt{display:table-cell;vertical-align:middle;font-size:30px;font-weight:600;text-align:left;padding-right:15px;}
.dl_style05 > dl > dt > dl > dd{display:table-cell;vertical-align:middle;font-size:16px;word-break:break-all;}
.dl_style05 > dl > dd{border-radius:20px;border:1px solid #60657f;min-height:86px;float:left;box-sizing:border-box;display:table;padding:10px 20px;width:73%;font-weight: 400}
.dl_style05 > dl > dd ul{display:table-cell;vertical-align:middle;}
.dl_style05 > dl > dd ul li{background:url("../images/icon/ico_txt03.png") left 10px no-repeat;font-size:15px;padding-left:5px;}


.dl_style_long{margin:30px 0 20px 20px;}
.dl_style_long > dl {overflow:hidden;width:100%;margin:10px 0;}
.dl_style_long > dl > dt {border-radius:20px;background-color:#60657f;padding:10px 15px;color:#fff;width:36%;min-height:85px;margin-right:2%;float:left;box-sizing:border-box;display:table;}
.dl_style_long > dl > dt > dl {overflow:hidden;display:table-cell;vertical-align:middle;}
.dl_style_long > dl > dt > dl > dt{display:table-cell;vertical-align:middle;font-size:30px;font-weight:600;text-align:left;padding-right:15px;}
.dl_style_long > dl > dt > dl > dd{display:table-cell;vertical-align:middle;font-size:16px;word-break:break-all;}
.dl_style_long > dl > dd{border-radius:20px;border:1px solid #60657f;min-height:85px;float:left;box-sizing:border-box;display:table;padding:10px 20px;width:62%;font-weight: 400}
.dl_style_long > dl > dd ul{display:table-cell;vertical-align:middle;}
.dl_style_long > dl > dd ul li{background:url("../images/icon/ico_txt03.png") left 10px no-repeat;font-size:15px;padding-left:5px;}

.oper_step{position: relative}
.oper_step ul{overflow: hidden}
.oper_step ul li{width:22.5%;margin-right: 2%;border-radius: 20px;border:1px solid #60657f;float: left;margin-bottom: 15px;}
.oper_step ul li:nth-child(4n){margin-right:0;}
.oper_step ul li:last-child{border:1px solid #1778b0}
.oper_step ul li strong{text-align: center;color:#fff;background-color:#60657f;font-size: 23px;font-weight: 500;border-radius: 20px;padding: 15px 20px;float: left;margin:5px 7px 5px 5px;}
.oper_step ul li strong.blue{background-color:#1778b0}
.oper_step ul li p{font-size: 16px; text-align: left; padding-top: 18px}
.oper_info{font-size: 15px;line-height: 180%}


/*gallery style*/
.photo_gall_list{position:relative}
.photo_gall_list > ul{overflow:hidden;margin-top: 30px}
.photo_gall_list > ul > li{float:left;width:210px;margin-bottom:2%;border:1px solid #ebebeb;margin-right:10px;}
.photo_gall_list > ul > li:nth-child(4n){margin-right:0}
.photo_gall_list > ul > li .img{width:210px; height:140px; position: relative;}
.photo_gall_list > ul > li .img img{max-width: 210px;max-height:140px;margin-top: auto;margin-bottom: auto;position: absolute;top: 0;bottom: 0;left: 0;right: 0;margin-left: auto;margin-right: auto}
.photo_gall_list > ul > li .tit p{font-size:15px;color:#000;line-height:150%;text-align:center;margin:0 20px;height:30px;overflow:hidden;padding:0 10px;white-space:nowrap;text-overflow:ellipsis;word-break:break-all;width:75%;font-weight: 400}
.photo_gall_list > ul > li .period{border-top:1px solid #ebebeb;margin:0 20px;padding:5px 0 7px 0;text-align:center;}
/*.programRegi .program_list > ul > li a .period ul li{color:#666;font-size:11px;font-family:"돋움";}*/
.photo_gall_list > ul > li .period ul li{color:#666;font-size:14px;}


/*sub layout_게시판 기본리스트*/
.program_search{background:#f5f5f5;border:1px solid #ebebeb;padding:10px;overflow:hidden;margin:0 auto 20px;text-align:center;}
.program_search label{font-size:14px;margin:0 5px 0 20px;vertical-align:middle;}
.program_search select{font-size:14px;padding:4px;border:1px solid #cbcbcb;}
.program_search input{margin:0;padding:4px;font-size:14px;border:1px solid #cbcbcb;}
.program_search .hide{position:absolute;left:-5000px;height:0;line-height:0;text-indent:-5000px;}
.program_search .form01{display:inline}
.program_search .form02{display:inline}
.program_search .form01 img{vertical-align:middle}
.program_search .form02 input[type="checkbox"]{margin-left:10px}
.program_search .form_btn{display:inline;padding:6px 15px;background-color:#232323;border-radius:5px;color:#fff;text-align:center;width:50px;font-size:14px;display:inline-block;}
.program_search table{width:100%;}
.program_search table th{text-align:left;padding:3px 7px;font-size:14px;margin:0 5px 0 20px;vertical-align:middle;}
.program_search table td{text-align:left;padding:3px 7px;}


.board_total{font-size:15px;margin-bottom:20px;}
.board_total select{height:25px;font-size:12px;margin-right:10px;}
.table_list{border-top:2px solid #333;margin-bottom:30px;}
.table_list table{width:100%;border-collapse:collapse;}
.table_list table .first{border-left:0;}
.table_list table .left{text-align:left;padding-left:15px;padding-right:10px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;word-break:break-all;}
.table_list table .none_border{border-left:none;}
.table_list table th{border-bottom:1px solid #d2d2d2;border-right:1px solid #d2d2d2;font-size:15px;color:#333;line-height:150%;text-align:center;padding:5px 0;background:#f2f7fb;font-weight:500;}
.table_list table td{border-bottom:1px solid #d2d2d2;border-left :1px solid #d2d2d2;font-size:15px;color:#333;line-height:150%;text-align:center;letter-spacing:-0.5px;padding:5px 0;font-weight:400;}
.table_list table th:last-child{border-right:none;}
.table_list table td:first-child{border-left:none;}
.table_list table input[type="checkbox"]{margin:3px;vertical-align:top;}
.table_list.table_nextprev{border-top:1px solid #d2d2d2;}
.table_list .img img{width:90%;}


.table_view{border-top:2px solid #333;;}
.table_view table{width:100%;border-collapse:collapse;}
.table_view table .first{border-left:0;}
.table_view table .left{text-align:left;padding-left:15px;padding-right:10px;}
.table_view table th{border-bottom:1px solid #d2d2d2;border-left:1px solid #d2d2d2;font-size:15px;color:#333;line-height:150%;text-align:center;padding:10px 0;background:#f2f7fb;font-weight:500;}
.table_view table th:first-child{border-left:none;}
.table_view table td{border-bottom:1px solid #d2d2d2;border-left:1px solid #d2d2d2;font-size:15px;color:#333;line-height:150%;text-align:left;letter-spacing:-1px;padding:10px;font-weight:400;}
.table_view table td .list li{background:url("../images/icon/ico_bul01.png") no-repeat left 15px;padding-left:8px;line-height:150%;padding-top:5px;}
.table_view table td .list li:first-child{padding-top:0;background-position:left 10px;}
.table_view table td.cont{padding:20px;word-break:break-all;text-align:left;line-height:180%;}
.table_view table td.cont img{width:95%;}
.table_view table td .textarea{border:1px solid #ebebeb;vertical-align:top;}
.table_view table td .textarea textarea{width:100%;border:0;padding:0;margin:0;height:300px;font-family:"Noto Sans KR";line-height:150%;vertical-align:top;}
.table_view table td .info{font-size:13px;color:#999999;font-weight:300;line-height:150%;padding:5px 0;}
.table_view table td .work{font-size:15px;color:#0066b3;font-weight:500;display:block;padding-bottom:8px;}
.table_view table tr.background{background:#f8fbfd;}
.table_view table .file img{vertical-align:middle;margin-right:5px;}
.table_view table .file a{color:#0063bf;}
.table_view.table_nextprev{border-top:1px solid #d2d2d2;}


.search_table{border-top:2px solid #333;}
.search_table table{width:100%;border-collapse:collapse;}
.search_table table .first{border-left:0;}
.search_table table .left{text-align:left;padding-left:15px;padding-right:10px;}
.search_table table th{border-bottom:1px solid #d2d2d2;border-left:1px solid #d2d2d2;font-size:15px;color:#333;line-height:150%;text-align:center;padding:10px 0;background:#f2f7fb;font-weight:500;}
.search_table table th:first-child{border-left:none;}
.search_table table td{border-bottom:1px solid #d2d2d2;border-left:1px solid #d2d2d2;font-size:15px;color:#333;line-height:150%;text-align:left;letter-spacing:-1px;padding:10px;}
.search_table table label{margin-right:15px;}


/*본문 table*/
.content_table{border-top:2px solid #333;margin-bottom:30px;}
.content_table table{width:100%;border-collapse:collapse;}
.content_table table .left{text-align:left;padding-left:15px;}
.content_table table .none_border{border-left:none;}
.content_table table th{border-bottom:1px solid #d2d2d2;border-right:1px solid #d2d2d2;font-size:15px;color:#333;line-height:150%;text-align:center;padding:10px 0;background:#f2f7fb;font-weight:500;}
.content_table table td{border-bottom:1px solid #d2d2d2;border-right:1px solid #d2d2d2;font-size:15px;color:#333;line-height:150%;text-align:center;letter-spacing:-0.5px;padding:10px 0;font-weight:400;}
.content_table table th:last-child{border-right:none;}
.content_table table td:last-child{border-right:none;}
.content_table table input[type="checkbox"]{margin:3px;vertical-align:top;}
.content_table table .left_border{border-left:1px solid #d2d2d2;}

.content_table_row{border-top:2px solid #333;margin-bottom:30px;}
.content_table_row table{width:100%;border-collapse:collapse;}
.content_table_row table th{border-bottom:1px solid #d2d2d2;border-right:1px solid #d2d2d2;font-size:15px;color:#333;line-height:150%;text-align:center;padding:10px 0;background:#f2f7fb;font-weight:500;}
.content_table_row table td{border-bottom:1px solid #d2d2d2;border-left :1px solid #d2d2d2;font-size:15px;color:#333;line-height:150%;text-align:left;letter-spacing:-0.5px;padding:10px 0 10px 10px;font-weight:400;}
.content_table_row table th:last-child{border-right:none;}
.content_table_row table td:first-child{border-left:none;}



/*tab style*/
.con_tab_area{margin-bottom:30px;}
.con_tab_area > ul{overflow:hidden;border-left:1px solid #e3e3e3;}
.con_tab_area > ul > li{float:left;width:25%;}
.con_tab_area > ul > li > a{display:block;text-align:center;font-size:16px;color:#000;height:40px;line-height:40px;border:1px solid #e3e3e3;border-bottom:1px solid #60657f;margin-left:-1px;}
.con_tab_area > ul > li > a.on{font-weight:400;color:#fff;background:#60657f;border-color:#60657f;}
.con_tab_area.two > ul > li{width:50%;}
.con_tab_area.three > ul > li{width:33.3%;}
.con_tab_area.four > ul > li{width:25%;}
.con_tab_area.five > ul > li{width:20%;}
.con_tab_area.six > ul > li{width:16.66%;}
.con_tab_area.seven > ul > li{width:14.28%;}



/*search box*/
.search_box{border:1px solid #ebebeb;padding:15px;background:#f5f5f5;margin-bottom:20px;}
.search_box ul{overflow:hidden;width:95%;margin:0 auto;background:url("../images/icon/ico_search02.png") right center no-repeat;}
.search_box ul li{font-size:14px;line-height:180%;display:block;}
.search_box b{font-weight:400;color:#1a347f;}



.grey_box{border:1px solid #ebebeb;padding:15px;background:#f5f5f5;margin:20px 0;}
.grey_box ul{overflow:hidden;width:95%;margin:0 auto;}
.grey_box ul li{font-size:15px;line-height:180%;display:block;background:url(../images/icon/ico_txt03.png)left 12px no-repeat;padding-left: 10px;font-weight: 400}
.grey_box b{font-weight:400;color:#1a347f;}

.grey_box04{border:1px solid #ebebeb;padding:15px;background:#f5f5f5;margin:20px 0;}
.grey_box04 ol{width:95%;margin:0 auto;}
.grey_box04 ol li{font-size:16px;line-height:200%;font-weight: 400;list-style:decimal}
.grey_box04 b{font-weight:400;color:#1a347f;}

.grey_info{border:1px solid #ebebeb;padding:15px;background:#f5f5f5;margin:20px 0; padding:20px 20px 10px 20px; box-sizing: border-box; font-size: 15px; line-height: 180%; font-weight:400; word-break: break-all}


.watch_area > ul{overflow: hidden;border:1px solid #ebebeb;}
.watch_area > ul > li{width:31%; margin:30px 10px; text-align: center; font-size: 15px; padding: 20px; float: left; box-sizing: border-box; border-right:1px solid #ebebeb}
.watch_area > ul > li:last-child{margin-right:0;border-right:none}
.watch_area > ul > li > strong{font-size:23px; font-weight:500;margin-bottom: 25px;color:#000; display: inline-block}
.watch_area > ul > li > p {line-height: 150%;display: block;min-height: 80px; font-weight: 400}
.watch_area > ul > li > img{text-align: center; margin: 15px 0}


.board_login{position: relative; padding:40px 0; box-sizing: border-box; border:2px solid #e9e9e9; margin: 0 auto}
.board_login ul{overflow: hidden; margin-bottom:15px;margin-left:10%}
.board_login ul li{background:url("../images/icon/ico_txt03.png") 0 12px no-repeat; font-size: 16px; font-weight: 500;line-height:150%; padding-left: 10px}
.board_login .login_input{position: relative; width: 70%;margin-left:10%}
.board_login .login_input input[type="text"]{font-size:16px;width:85%;height:40px;line-height:40px;margin:5px 0; border-radius:5px; padding-left:10px;border:1px solid #cbcbcb}
.board_login .login_input input[type="password"]{font-size:16px;width:85%;height:40px;line-height:40px;margin:5px 0;border-radius:5px;padding-left:10px;border:1px solid #cbcbcb}
.board_login .login_input span{position: absolute;left:89%;font-size: 22px;display: block;padding: 38px;background-color:#60657f;top:0px;border-radius: 5px;margin-top: 5px;}
.board_login .login_input span a{color:#fff}
.board_login .login_input placeholder{color:#c4c4c4}

.board_log_btn{text-align: right;margin-bottom:15px;position: absolute;right: 0;margin-top: -55px;}
.board_log_btn a{display:inline-block; padding: 5px 10px; color:#000;border:1px solid #b3b3b3; font-size:13px; font-weight:400}


/*paging*/
.paging{text-align:center;padding-bottom:40px;}
.paging a{display:inline-block;border:1px solid #c4c4c0;width:34px;height:34px;line-height:34px;}
.paging strong{display:inline-block;border:2px solid #1e75d6;width:32px;height:32px;line-height:32px;color:#1e75d6;}
.paging a:hover{display:inline-block;border:2px solid #1e75d6;width:32px;height:32px;line-height:32px;color:#1e75d6;font-weight:bold;}
.paging a:focus{display:inline-block;border:2px solid #1e75d6;width:32px;height:32px;line-height:32px;color:#1e75d6;font-weight:bold;}
.paging a.on{display:inline-block;border:2px solid #1e75d6;width:32px;height:32px;line-height:32px;color:#1e75d6;}
.paging a:hover{text-decoration: none}
.paging a.btn{border:0;width:auto;height:34px;vertical-align:top;}
.paging a.l_font{font-size:19px; line-height: 28px}
.paging a.l_font:hover{line-height:26px}


/*button style*/
.btn_group{overflow:hidden;padding:20px 0;}
.btn_group .center{text-align:center;}
.btn_group .left{float:left;}
.btn_group .right{float:right;}
.btn_group .btn_style01  {display:inline-block;background:#b4b4b4;color:#fff;font-size:18px;text-align:center;height:50px;line-height:50px;font-weight:400;margin:0 2px;padding:0 20px;}
.btn_group .btn_style02  {display:inline-block;background:#ff6000;color:#fff;font-size:18px;text-align:center;height:50px;line-height:50px;font-weight:400;margin:0 2px;padding:0 20px;}
.btn_group .btn_style03  {display:inline-block;background:#3e474d;color:#fff;font-size:16px;text-align:center;height:50px;line-height:50px;font-weight:400;margin:0 2px;padding:0 20px;}
.btn_group .btn_style04  {display:inline-block;background:#b4b4b4;color:#fff;font-size:16px;text-align:center;height:50px;line-height:50px;font-weight:400;margin:0 2px;padding:0 20px;}
.btn_group .s_btn_style01{display:inline-block;background:#b4b4b4;color:#fff;font-size:14px;text-align:center;height:32px;line-height:32px;font-weight:400;margin:0 2px;padding:0 20px;}
.btn_group .s_btn_style02{display:inline-block;background:#ff6000;color:#fff;font-size:14px;text-align:center;height:32px;line-height:32px;font-weight:400;margin:0 2px;padding:0 20px;}
.btn_group .s_btn_style03{display:inline-block;background:#3e474d;color:#fff;font-size:14px;text-align:center;height:32px;line-height:32px;font-weight:400;margin:0 2px;padding:0 20px;}
.btn_group .s_btn_style04{display:inline-block;background:#b4b4b4;color:#fff;font-size:14px;text-align:center;height:32px;line-height:32px;font-weight:400;margin:0 2px;padding:0 20px;}

.btn_group .btn3_style01 {display:inline-block;background:#00bfff;color:#fff;font-size:14px;text-align:center;height:30px;line-height:30px;font-weight:400;margin:0 2px;padding:0 20px;}
.btn_group .btn3_style02 {display:inline-block;background:#ff6000;color:#fff;font-size:14px;text-align:center;height:30px;line-height:30px;font-weight:400;margin:0 2px;padding:0 20px;}
.btn_group .btn3_style03 {display:inline-block;background:#3e474d;color:#fff;font-size:14px;text-align:center;height:30px;line-height:30px;font-weight:400;margin:0 2px;padding:0 20px;}
.btn_group .btn3_style04 {display:inline-block;background:#b4b4b4;color:#fff;font-size:14px;text-align:center;height:30px;line-height:30px;font-weight:400;margin:0 2px;padding:0 20px;}
.btn_group .btn4_style01 {display:inline-block;background:#00bfff;color:#fff;font-size:16px;text-align:center;height:40px;line-height:40px;font-weight:400;margin:0 2px;padding:0 20px;}
.btn_group .btn4_style02 {display:inline-block;background:#ff6000;color:#fff;font-size:16px;text-align:center;height:40px;line-height:40px;font-weight:400;margin:0 2px;padding:0 20px;}
.btn_group .btn4_style03 {display:inline-block;background:#3e474d;color:#fff;font-size:16px;text-align:center;height:40px;line-height:40px;font-weight:400;margin:0 2px;padding:0 20px;}
.btn_group .btn4_style04 {display:inline-block;background:#00bfff;color:#fff;font-size:16px;text-align:center;height:40px;line-height:40px;font-weight:400;margin:0 2px;padding:0 20px;}
.btn_group .btn5_style01 {display:inline-block;background:#b4b4b4;color:#fff;font-size:18px;text-align:center;height:50px;line-height:50px;font-weight:400;margin:0 2px;padding:0 20px;}
.btn_group .btn5_style02 {display:inline-block;background:#ff6000;color:#fff;font-size:18px;text-align:center;height:50px;line-height:50px;font-weight:400;margin:0 2px;padding:0 20px;}
.btn_group .btn5_style03 {display:inline-block;background:#3e474d;color:#fff;font-size:18px;text-align:center;height:50px;line-height:50px;font-weight:400;margin:0 2px;padding:0 20px;}
.btn_group .btn5_style04 {display:inline-block;background:#b4b4b4;color:#fff;font-size:18px;text-align:center;height:50px;line-height:50px;font-weight:400;margin:0 2px;padding:0 20px;}


/* Calendar Styles */
.calender_area {position:relative;margin-bottom:20px}
.calender_area .calenda_header {position:relative;padding-bottom: 20px; overflow: hidden}
.calender_area .calenda_header .cal_left{float: left; width:40%;text-align: left}
.calender_area .calenda_header .cal_right{float:right; width:60%;}
.calender_area .calenda_header span.title {font-size:30px;line-height:35px;font-family:Verdana;color:#333;font-weight:bold;padding:0; vertical-align: middle}
.calender_area .calenda_header a{display:inline-block;padding-top:4px}
.calender_area .calenda_header .view {position:absolute;top:0;right:0;}
.calender_area .calenda_header .cal_sel{float: left; position: absolute; left: 0}
.calender_area .calenda_header .cal_info{float: left; position: absolute; right: 0; top: 0}
.calender_area table{word-break: break-all}

.calendar {width:100%; margin-bottom:20px; border-collapse:collapse;}
.calendar thead th{padding:10px 0 10px 0; text-align:center; border-left:1px solid #d2d2d2;border-right:1px solid #d2d2d2; border-top:1px solid #000; font-weight:600; font-size: 14px; background-color:#f2f7fb}
.calendar td {width:14%; height:90px; vertical-align:top; border:1px solid #d2d2d2; line-height:18px; font-size:12px; text-align:center; padding-bottom:20px;}
.calendar td a{}
.calendar td.today {background:#eaf3fc;}
.calendar td.prev-next div.date {color:#9C9C9C;}
.calendar td.holiday {background:#DDFFDE;}
.calendar th.sun, .calendar td div.sun {color:#cd2424;}
.calendar th.sat, .calendar td div.sat {color:#0a61a9;}
.calendar div.date {text-align:left; font-size:16px; padding:5px 10px 0 5px; margin-bottom:10px; line-height:16px; border-bottom:0px solid #ddd;width: 100%; overflow: hidden;box-sizing: border-box; font-weight: 400}
.calendar div.date > .d_number{float: left;margin-top: 5px}
.calendar div a.reserve01{font-size:14px; border-radius: 20px; background-color:#0b6fc5; color:#fff; padding: 5px 10px; text-align: center;display:inline-block}
.calendar div a.reserve02{font-size:14px; border-radius: 20px; background-color:#d37756; color:#fff; padding: 5px 10px; text-align: center;display:inline-block}
.calendar div.day-content {position:relative;}
.calender_area .p_icon {margin:0 2px}
.calender_area .p_icon ul{margin: 0 auto}
.calender_area .p_icon li {float:left;margin:8px 0;; text-align: left; padding:5px; border-bottom:1px dotted #c9c9c9;width:100%; box-sizing: border-box}
.calender_area .p_icon li:last-child{border-bottom:none}
.calender_area .p_icon li span {margin-bottom:5px}
.calender_area .p_icon li p{line-height:14px; padding-bottom:3px}
.calender_area .p_icon li a{display: block; width:100%;color:#fff;}
.calender_area .p_icon li a > span{color:#fff;background-color:#1778b0;text-overflow:ellipsis; width:95%; border-radius: 5px; white-space: nowrap; text-align: center; display: inline-block; padding: 5px 3px; overflow: hidden}
.calender_area .p_icon li a:hover{text-decoration: underline;color:#004cb4}

.icon_guide{width:100%;text-align: right}
.icon_guide a.cal_btn01{display:inline-block; border-radius: 5px; color:#fff; font-weight: 400; font-size: 14px; background-color:#60657f; border:1px solid #424867;padding:5px 10px;margin-right: 15px}
.icon_guide a.cal_btn03{display:inline-block; border-radius: 5px; color:#fff; font-weight: 400; font-size: 14px; background-color:#7a6a5b; border:1px solid #44392f;padding:5px 10px;}
.icon_guide a.cal_btn02{display:inline-block; border-radius: 5px; color:#fff; font-weight: 400; font-size: 14px; background-color:#65594e; border:1px solid #44392f;padding:5px 10px;}


/*공통*/
.p_left_10{padding-left:10px;}
.p_left_15{padding-left:15px;}
.p_left_20{padding-left:20px;}
.p_left_25{padding-left:25px;}
.p_left_30{padding-left:30px;}
.p_left_35{padding-left:35px;}
.p_left_40{padding-left:40px;}
.p_left_50{padding-left:50px;}

.m_left_10{margin-left:10px;}
.m_left_20{margin-left:20px;}
.m_left_30{margin-left:30px;}
.m_left_40{margin-left:40px;}
.m_left_50{margin-left:50px;}

.m_b_0{margin-bottom: 0}
.m_b_10{margin-bottom:10px}
.m_b_20{margin-bottom:20px}
.m_b_30{margin-bottom:30px}
.m_b_40{margin-bottom:40px}
.m_b_50{margin-bottom:50px}
.m_b_60{margin-bottom:60px}
.m_b_70{margin-bottom:70px}
.m_b_80{margin-bottom:80px}
.m_b_90{margin-bottom:90px}
.m_b_100{margin-bottom:100px}

.m_t_0{margin-top: 0}
.m_t_10{margin-top:10px}
.m_t_20{margin-top:20px}
.m_t_30{margin-top:30px}
.m_t_40{margin-top:40px}
.m_t_50{margin-top:50px}
.m_t_60{margin-top:60px}
.m_t_70{margin-top:70px}
.m_t_80{margin-top:80px}
.m_t_90{margin-top:90px}
.m_t_100{margin-top:100px}



#council_popup{position:relative; width: 100%; overflow: hidden;font-family:"Noto Sans KR","맑은 고딕","sans-serif";}
#council_popup .council_wrap{overflow: hidden; width:100%;}
#council_popup .council_wrap .council_top{background-color:#4b423a; box-sizing: border-box; position:relative; display: inline-block;float: left; width: 100%}
#council_popup .council_wrap .council_top h2{font-size:18px; font-weight: 500; float: left; width: 60%;padding: 20px;color:#fff}
#council_popup .council_wrap .council_top .coun_right_mn{position: absolute; right: 0}
#council_popup .council_wrap .council_top .coun_right_mn > ul{float: right;position: relative}
#council_popup .council_wrap .council_top .coun_right_mn > ul > li{float: left; box-sizing: border-box;}
#council_popup .council_wrap .council_top .coun_right_mn > ul > li > span{}
#council_popup .council_wrap .council_top .coun_right_mn > ul > li > a{color: #fff; display: inline-block;padding:25px 20px 22px 20px;}
#council_popup .council_wrap .council_top .coun_right_mn > ul > li > a:hover{text-decoration: none;color:#FFEB3D }
#council_popup .council_wrap .council_top .coun_right_mn > ul > li:last-child{border-right:none}
#council_popup .council_wrap .council_top .coun_right_mn > ul > li:hover{background-color:#29211a}
#council_popup .council_wrap .council_top .coun_right_mn > ul > li img{margin: 0 5px}
#council_popup .council_wrap .council_top .coun_right_mn > ul > li > div{display: none; z-index:1001; position: absolute; top:67px; left: 0; width: 80%; padding: 1em 0; box-sizing: border-box; background-color:#29211a;border-radius: 0 0 10px 10px}
#council_popup .council_wrap .council_top .coun_right_mn > ul > li > div > ul{padding: 0 0 0 1.5em; box-sizing: border-box}
#council_popup .council_wrap .council_top .coun_right_mn > ul > li > div > ul > li{position:relative; display:inline-block; width:100%; padding:2px 0 2px 0; box-sizing:border-box;color:#fff;margin: 5px 0;line-height: 130%}
#council_popup .council_wrap .council_top .coun_right_mn > ul > li > div > ul > li > a{color:#fff;font-size:13px;font-weight: 300}

#council_popup .council_wrap .council_body{padding: 20px; box-sizing: border-box;float: left; min-height: 500px; font-size: 15px}
#council_popup .council_wrap .council_body .council_left{float: left; width:65%;background-color:#f5f5f5}
#council_popup .council_wrap .council_body .council_left .coun_media{height: auto; width:100%;}
#council_popup .council_wrap .council_body .council_left .coun_media img, #council_popup .council_wrap .council_body .council_left .coun_media media{width:100%;}
#council_popup .council_wrap .council_body .council_left .media_txt{width: 100%;}
#council_popup .council_wrap .council_body .council_left .media_txt p{height:170px; overflow-y: scroll; padding: 20px; box-sizing: border-box}
#council_popup .council_wrap .council_body .council_right{float: right; width:33%;}
#council_popup .council_wrap .council_body .council_right .media_profile{float: left; width:100%; margin-bottom: 20px;background-color:#f5f5f5; padding:20px; box-sizing: border-box}
#council_popup .council_wrap .council_body .council_right .media_profile h2, #council_popup .council_wrap .council_body .council_right .media_list h2{font-size:20px; font-weight: 500; color:#000; margin-bottom:10px}
#council_popup .council_wrap .council_body .council_right .media_profile{position:relative;overflow:hidden;}
#council_popup .council_wrap .council_body .council_right .media_profile > dl {overflow:hidden;border:1px solid #dfdfdf;}
#council_popup .council_wrap .council_body .council_right .media_profile > dl > dt{width:25%;float:left;box-sizing:border-box;padding:10px;}
#council_popup .council_wrap .council_body .council_right .media_profile > dl > dt > p{height:auto;overflow:hidden;}
#council_popup .council_wrap .council_body .council_right .media_profile > dl > dt > p img{width:100%;}
#council_popup .council_wrap .council_body .council_right .media_profile > dl > dt > span{ display:block;width:100%;padding:5px;background-color:#60657f;box-sizing:border-box;margin-top:15px;text-align:center;font-size:14px;}
#council_popup .council_wrap .council_body .council_right .media_profile > dl > dt > span a{color:#fff;font-weight:500;display:block;width:100%;}
#council_popup .council_wrap .council_body .council_right .media_profile > dl > dd{width:70%;float:right;margin:0 auto;}
#council_popup .council_wrap .council_body .council_right .media_profile > dl > dd > p{font-size:25px;font-weight:400;margin:10px 0 10px 0; color:#000;border-bottom:1px solid #dfdfdf; width: 90%; padding: 0 0 10px 0}
#council_popup .council_wrap .council_body .council_right .media_profile > dl > dd > table{width:95%;font-size:15px;border-collapse:collapse;}
#council_popup .council_wrap .council_body .council_right .media_profile > dl > dd > table th{padding:10px 10px 10px 0;text-align:left;font-weight:500;}
#council_popup .council_wrap .council_body .council_right .media_profile > dl > dd > table td{padding:10px;word-break:break-all;white-space:nowrap;text-overflow:ellipsis;font-weight: 400;letter-spacing: -0.05em}
#council_popup .council_wrap .council_body .council_right .media_profile > dl > dd > table .b_none{border-top:none;}
#council_popup .council_wrap .council_body .council_right .media_list{float: left; background-color:#f5f5f5; width: 100%; padding: 20px; box-sizing: border-box}
#council_popup .council_wrap .council_body .council_right .media_list ul{overflow: hidden}
#council_popup .council_wrap .council_body .council_right .media_list ul > li{border-bottom:1px solid #dfdfdf;padding: 10px;background:url("../images/icon/ico_txt03.png") 5px 20px no-repeat}
#council_popup .council_wrap .council_body .council_right .media_list ul > li:last-child{border-bottom:none; }
#council_popup .council_wrap .council_body .council_right .media_list ul > li > ul{padding-top: 5px}
#council_popup .council_wrap .council_body .council_right .media_list ul > li > ul > li{border-bottom:none; padding: 5px; font-size: 13px; background:none}
#council_popup .council_wrap .council_body .council_right .media_list ul > li > span{float: right; background-color:#cacaca; border-radius: 5px; display: inline-block; padding:3px; font-size: 11px; border:1px solid #a4a4a4; text-align: center; color:#000}


/*layer popup*/
.layer {display: none;position: fixed;_position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: 10000;}	
.layer .bg {position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: #000;opacity: .5;filter: alpha(opacity = 50);}
.layer_pop{display:none;position: absolute;top: 50%;left: 50%;width:40%;max-height:700px;background-color: #fff;z-index: 10;padding:20px;border-radius: 10px}
.layer_pop > h1{font-size:22px; font-weight:600; margin: 20px 0;color:#000; }
.layer_pop > p{font-size:16px; line-height: 180%; font-weight: 300; color:#6f6f6f; margin-bottom: 20px}
.layer_pop > .layer_media{width: 100%;height: 100%;padding-top:15px; border-top:1px solid #d2d2d2; border-bottom:1px solid #d2d2d2; max-height:600px; overflow: auto}
.layer_pop > .layer_media img, .layer_pop > .layer_media media{position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
.layer_pop > .layer_media img, .layer_pop > .layer_media video{width: 100%}

.close_btn{margin:10px 0; position: absolute; right:20px; top: 10px}

/*popup 의사일정*/
.clender_pop {margin:0 0 20px 20px;font-size:100%;line-height: 180%; font-size: 15px}
.clender_pop dt {width:9%; text-align: left;font-weight:600;float: left;}
.clender_pop dd{font-weight: 400; padding-left:12%;background:url("../images/icon/ico_bul06.png") 11% 10px no-repeat;}
.clender_pop dd strong{font-weight: 600}
.clender_pop dd ul{overflow: hidden}
.clender_pop dd ul li{display: block;}
.clender_pop dd ul li ul li{background:url("../images/icon/ico_txt03.png") 15px 12px no-repeat;padding:2px 0 2px 20px;line-height: 150%}



.photo_view_title{overflow: hidden;line-height: 40px; border-bottom:1px solid #d2d2d2; margin-bottom:20px; padding-bottom:10px}
.photo_view_title > h2{color:#000; font-size: 20px; font-weight: 400; float: left}
.photo_view_title > span{float: right; display: inline-block; font-size: 15px; color:#666666}

.photo_area .photo_viewer{width: 100%;}
.photo_area .photo_viewer {position: relative; height: 550px;}
.photo_area .photo_viewer ul{overflow: hidden}
.photo_area .photo_viewer ul li{height:550px;text-align: center}
.photo_area .photo_viewer ul li img{width:100%; height: 550px}
.photo_area .photo_viewer .bx-wrapper{position:relative;}
.photo_area .photo_viewer .bx-wrapper .bx-pager{position:absolute;left:0;right:0;bottom:5%;text-align:center;}
.photo_area .photo_viewer .bx-wrapper .bx-pager .bx-pager-item{display:inline-block;margin:0 7px;}
.photo_area .photo_viewer .bx-wrapper .bx-pager .bx-pager-item a{display:block;width:14px;height:14px;text-indent:-9999px;overflow:hidden;background:url("../images/icon/ico_nav.png") no-repeat center right;}
.photo_area .photo_viewer .bx-wrapper .bx-pager .bx-pager-item a.active{background-position:center left;}

.photo_area .photo_viewer .bx-controls-direction a { position:absolute; top:280px; display:block; width:50px; height:91px; text-indent:-9999px; } /* 컨트롤 */
.photo_area .photo_viewer .bx-controls-direction a.bx-prev { left:40px; background:url("../images/btns/btn_prev02.png") no-repeat center center;}
.photo_area .photo_viewer .bx-controls-direction a.bx-next { right:40px; background:url("../images/btns/btn_next02.png") no-repeat center center; }


.photo_area .photo_viewer_pager{width:100%; position: relative;border-top:1px solid #d2d2d2; padding:10px; box-sizing: border-box; margin-top: 20px;border-bottom:1px solid #d2d2d2;}
.photo_area .photo_viewer_pager ul{overflow: hidden}
.photo_area .photo_viewer_pager ul li{float: left; width:19%; margin:0.5%}
.photo_area .photo_viewer_pager ul li a { background:#fff; }
.photo_area .photo_viewer_pager ul li a img { width:100%; height:100px; opacity:0.7;}
.photo_area .photo_viewer_pager ul li a:active img,
.photo_area .photo_viewer_pager ul li a:focus img,
.photo_area .photo_viewer_pager ul li a:hover img { opacity:1;border:3px solid #000; box-sizing: border-box}

.col_hidden{display:block}
.border_left_none{border-left:none}
.border_right_none{border-right:none}

#main_popup {position: absolute; width:648px; position: absolute; top:40%; left:48%; margin-top:-200px; margin-left:-250px; background:#fff; z-index:15000;}
#main_popup .cont {width:100%;}
#main_popup .cont img{width:100%;}
#main_popup .close {width:100%; height:30px; background:#373737; line-height:30px; padding-left:10px; font-size:12px;color:#fff; box-sizing: border-box}
#main_popup .close #close {float:right; margin-right:10px; cursor:pointer;}
#mask {width: 100%; height: 100%; position: fixed; background: rgba(0,0,0,0.7) repeat; top: 0; left: 0;  z-index: 999;}

.mlay_ppbg {display:none;position:absolute;width:648px;top:40%;left:48%;margin-top:-200px;margin-left:-250px;background:#fff;z-index:15000;}
.mlay_cont {width:100%;}
.mlay_cont img{width:100%;}
.mlay_clbg {width:100%;height:30px;background:#373737;line-height:30px;padding-left:10px;font-size:12px;color:#fff;box-sizing:border-box;}
.mlay_clbt {float:right;margin-right:10px;cursor:pointer;}


/*box style*/


@media only screen and (max-width: 1551px) {
	#wrap.sub .right_quick{display:none;}
}

@media only screen and (max-width: 1251px) {
	#header{display:none;}
	#mobile_header{display:block;}
	#container .main_visual {height:auto;}
	#container .main_visual ul li{height:  auto; text-align: center}
	#container .main_visual ul li img{width:100%;height:auto}
	#container .main_visual .bx-wrapper .bx-prev{display:none;}
	#container .main_visual .bx-wrapper .bx-next{display:none;}
	#header .search_top .inner h1{left:10px;margin-left:0;}
	#header .search_top .inner .zoom{padding-right:10px;}
	#header .gnb_wrap{top:36px;left:auto;right:10px;margin-left:0;width:auto;}
	#header .gnb_wrap .gnb{padding-right:130px;}
	#header .search_top .inner h1{text-align: left}
	#header .search_top .inner h1 img{width:80%}
	#header .gnb_wrap .gnb .inner > ul > li{padding:0 15px;}
	#header .gnb_wrap .gnb .inner > ul > li:first-child{width:60px;}
	#header .gnb_wrap .gnb .inner > ul > li > a{font-size:14px;padding-left:0;}
	#header .gnb_wrap .gnb .inner > ul > li > .gnb_sub{left:10px;margin-left:auto;}
	#header .gnb_wrap .gnb .inner > ul > li > .gnb_sub > ul > li{margin:0 5px;display:inline-block;float:none;}
	#header .gnb_wrap .gnb .inner > ul > li > .gnb_sub > ul > li > a{font-size:12px;}
	#header .gnb_wrap .gnb .inner > ul > li > .gnb_sub#gnb_sub01{margin-left:-20px;}
	#header .gnb_wrap .gnb .inner > ul > li > .gnb_sub#gnb_sub02{margin-left:-20px;}
	#header .gnb_wrap .gnb .inner > ul > li > .gnb_sub#gnb_sub03{margin-left:185px;}
	#header .gnb_wrap .gnb .inner > ul > li > .gnb_sub#gnb_sub04{margin-left:220px;}
	#header .bg_gnb_sub{top:116px;}
	#header .gnb_wrap .fullmenu .open_fullmenu{left:auto;margin-left:0;right:0;}
	#header .gnb_wrap .fullmenu .fullmenu_list{left:10px;margin-left:auto;}
	#header .gnb_wrap .fullmenu .fullmenu_list > ul > li{padding:0 15px;}
	#header .gnb_wrap .fullmenu .fullmenu_list > ul > li:first-child{width:90px;}
	#header .gnb_wrap .fullmenu .fullmenu_list > ul > li > a{font-size:14px;}
	#header .gnb_wrap .fullmenu .fullmenu_list > ul > li > .fullmenu_list_sub{padding:10px 0 10px 0}
	#header .gnb_wrap .fullmenu .fullmenu_list > ul > li > .fullmenu_list_sub > ul > li > a{padding:3px;}
	#header .gnb_wrap .fullmenu .fullmenu_list > ul > li > .fullmenu_list_sub > ul > li > a{font-size:12px;}
	#header .gnb_wrap .fullmenu .fullmenu_list > ul > li > .fullmenu_list_sub > ul > li > ul{padding-left:10%}
	#header .gnb_wrap .fullmenu .fullmenu_list > ul > li > .fullmenu_list_sub > ul > li > ul > li > a{display:block;font-size:11px;color:#d1d1d1;padding:0;}
	#header .bg_fullmenu_list{top:116px;height:105px;}
	/*
	#header .gnb_wrap .fullmenu .fullmenu_list{padding-right:45px;}
	#header .gnb_wrap .fullmenu .fullmenu_list > ul > li{width:14.28%;}
	#header .gnb_wrap .fullmenu .fullmenu_list > ul > li:first-child{width:14.28%;}
	#header .gnb_wrap .fullmenu .fullmenu_list > ul > li:first-child > .fullmenu_list_sub{padding-left:20%;}
	#header .gnb_wrap .fullmenu .fullmenu_list > ul > li > a{font-size:14px;padding-left:0;text-align:center;}
	#header .gnb_wrap .fullmenu .fullmenu_list > ul > li > .fullmenu_list_sub{padding:10px 0 10px 20%}
	#header .gnb_wrap .fullmenu .fullmenu_list > ul > li > .fullmenu_list_sub > ul > li > a{padding:3px;}
	#header .gnb_wrap .fullmenu .fullmenu_list > ul > li > .fullmenu_list_sub > ul > li > a{font-size:12px;}
	#header .gnb_wrap .fullmenu .fullmenu_list > ul > li > .fullmenu_list_sub > ul > li > ul{padding-left:10%}
	#header .gnb_wrap .fullmenu .fullmenu_list > ul > li > .fullmenu_list_sub > ul > li > ul > li > a{display:block;font-size:11px;color:#d1d1d1;padding:0;}
	*/
	.top_link .inner > ul > li > a{font-size:12px;height:35px;line-height:35px;width:130px;}
	.top_link .inner > ul > li > .top_link_sub{top:35px;}
	#container .main_section01 .inner{padding:15px;overflow-x:auto;}
	#container .main_section01 .inner ul{margin-left:0;}
	#container .main_section01 .inner ul li{margin-left: 0; margin-right:5%;width:20%}
	#container .main_section01 .inner ul li:last-child{margin-right:0}
	#container .main_section01 .inner ul li a img{width:100%;}
	#container .main_section02{padding:40px 15px;}
	#container .main_section02 .banner{width:48%;margin-right:4%;margin-bottom:6%;}
	#container .main_section02 .banner ul{margin-left:-2%;}
	#container .main_section02 .banner ul li{margin-left:2%;width:44%;}
	#container .main_section02 .banner ul li:first-child{width:52%}
	#container .main_section02 .banner ul li a img{width:100%;}
	#container .main_section02 .gallery{width:48%;}
	#container .main_section02 .gallery h2{font-size:18px;}
	#footer .inner .foot_logo{left:15px;}
	#footer .inner .foot_logo img{height:30px;}
	#footer .inner .foot_info{padding:15px 120px 15px 165px}
	#footer .inner .family_site{right:15px;top:15px;}
	#footer .inner .family_site select{font-size:12px;width:100px;}
	
	#wrap.sub #container{padding:30px 0;}
	#wrap.sub #container #snb{display:none;}
	#wrap.sub #container #contents{margin:0 15px;}
	#wrap.sub #container #contents .h3_tit{font-size:24px;padding-bottom:10px;}
	#wrap.sub #container #contents .path{padding-bottom:20px;}
	.greetings .img{width:30%;}
	.greetings .img img{width:100%;}
	.greetings .txt{margin-left:35%;}
	.greetings .txt h4{font-size:24px;}
	.greetings .txt p{font-size:14px;line-height:150%;}
	.greetings .txt .sign{font-size:14px;}
	.greetings .txt .sign strong{font-size:24px;}
	
	.img_area img{width:100%;}
	
	#council_popup .council_wrap .council_body .council_left{float:none; width:100%;margin-bottom: 20px}
	#council_popup .council_wrap .council_body .council_right{float: none; width: 100%;}
	#council_popup .council_wrap .council_body .council_left .media_txt p{height: 240px}
	#council_popup .council_wrap .council_body .council_right .media_profile > dl > dt{width:20%;}
	#council_popup .council_wrap .council_body .council_right .media_profile > dl > dd{width:75%}
	#council_popup .council_wrap .council_body .council_right .media_profile > dl > dt > p {height:auto}
	
	.layer_pop{width:60%;}
	.board_log_btn{right: 10px}
	
}

@media only screen and (max-width: 768px) {
	
	.top_link .inner{padding:0 10px;}
	.top_link .inner > ul > li{width:33.33%;}
	.top_link .inner > ul > li > a{width:100%;}
	// 2020.02.19
	//#container .main_visual{height: auto}
	//#container .main_visual ul li{height:0;overflow:hidden;padding-bottom:12.5%;}
	//#container .main_visual ul li img{width:170%;position:absolute;left:50%;transform: translate(-50%, 0);height: 100%}
	#container .main_section02{padding-bottom:20px;}
	#container .main_section02 .banner{width:100%;margin-right:0;float:none;}
	#container .main_section02 .gallery{width:100%;float:none;}
	#footer .inner .foot_logo{position:static;padding:15px}
	#footer .inner .foot_info{padding:0 15px 15px 15px}
	#footer .inner .foot_info .foot_tel li{word-break:break-all;}
	#footer .inner .family_site{position:static;padding:0 15px 15px 15px;}
	#footer .inner .family_site select{width:100%;-webkit-appearance: none; /* 네이티브 외형 감추기 */ -moz-appearance: none; appearance: none; background:url(../images/icon/ico_arrow.png) no-repeat 98% center; background-size:auto 5px;border-radius:0;}
	
	.greetings .img{width:80%;margin:0 auto 20px auto;position:static;max-width:317px;}
	.greetings .txt{margin-left:0;}
	
	.section{width:98%}
	.h4_tit{font-size:16px;font-weight:500;line-height:160%;}
	.sention_txt{font-size:13px;line-height:130%;}
	.p_tit{font-size:13px;line-height:130%;}
	.p_tit_np{font-size:13px;line-height:130%;}
	.p_tit b{font-weight:500;}
	.p_list{font-size:14px;line-height:130%;font-weight:500;}
	.span_txt{font-size:13px;}
	
	.grey_box ul{width:100%}
	.grey_box ul li{font-size:13px;line-height:150%;}
	
	.content_table table .left{padding-left:10px;}
	.content_table table th{font-size:13px;line-height:130%;padding:5px 0;font-weight:400;}
	.content_table table td{font-size:13px;color:#333;line-height:130%;padding:5px 0;}
	
	.content_table_row table th{font-size:13px;color:#333;line-height:130%;text-align:center;padding:5px 0;font-weight:400;}
	.content_table_row table td{font-size:13px;color:#333;line-height:130%;padding:5px 0 5px 5px;}

	.list_style01{margin-bottom:25px}
	.list_style01 > ul > li{line-height:130%;font-size:13px;background:url("../images/icon/ico_txt02.png") 20px 9px no-repeat}
	
	.dl_style01{}
	.dl_style01 > dl {width:97%;border-radius:10px;border:1px solid #60657f;}
	.dl_style01 > dl > dt {border-radius:0;background-color:#fff;padding:5px 15px;color:#000;width:100%;min-height:40px;margin-right:0;float:none;}
	.dl_style01 > dl > dd{border-radius:0;border:none;min-height:auto;float:none;padding:5px 15px 10px 15px;width:100%;}
	.dl_style01 > dl > dt > dl > dt{font-size:22px; padding-right:10px}
	.dl_style01 > dl > dd ul li{font-size:13px}



	.dl_style02{}
	.dl_style02 > dl {width:97%;border-radius:10px;border:1px solid #60657f;}
	.dl_style02 > dl > dt {border-radius:0;background-color:#fff;padding:5px 15px;color:#000;width:100%;min-height:40px;margin-right:0;float:none;}
	.dl_style02 > dl > dd{border-radius:0;border:none;min-height:auto;float:none;padding:5px 15px 10px 15px;width:100%;}
	.dl_style02 > dl > dt > dl > dt{font-size:22px; padding-right:10px}
	.dl_style02 > dl > dd ul li{font-size:13px}

	.dl_style03{}
	.dl_style03 > dl {width:97%;border-radius:10px;border:1px solid #60657f;}
	.dl_style03 > dl > dt {border-radius:0;background-color:#fff;padding:5px 15px;color:#000;width:100%;min-height:40px;margin-right:0;float:none;}
	.dl_style03 > dl > dd{border-radius:0;border:none;min-height:auto;float:none;padding:5px 15px 10px 15px;width:100%;}
	.dl_style03 > dl > dt > dl > dt{font-size:22px; padding-right:10px}
	.dl_style03 > dl > dd ul li{font-size:13px}

	.dl_style04{}
	.dl_style04 > dl {width:97%;border-radius:10px;border:1px solid #60657f;}
	.dl_style04 > dl > dt {border-radius:0;background-color:#fff;padding:5px 15px;color:#000;width:100%;min-height:40px;margin-right:0;float:none;}
	.dl_style04 > dl > dd{border-radius:0;border:none;min-height:auto;float:none;padding:5px 15px 10px 15px;width:100%;}
	.dl_style04 > dl > dt > dl > dt{font-size:22px; padding-right:10px}
	.dl_style04 > dl > dd ul li{font-size:13px}

	.dl_style05{}
	.dl_style05 > dl {width:97%;border-radius:10px;border:1px solid #60657f;}
	.dl_style05 > dl > dt {border-radius:0;background-color:#fff;padding:5px 15px;color:#000;width:100%;min-height:40px;margin-right:0;float:none;}
	.dl_style05 > dl > dd{border-radius:0;border:none;min-height:auto;float:none;padding:5px 15px 10px 15px;width:100%;}
	.dl_style05 > dl > dt > dl > dt{font-size:22px; padding-right:10px}
	.dl_style05 > dl > dd ul li{font-size:13px}

	.dl_style_long{}
	.dl_style_long > dl {width:97%;border-radius:10px;border:1px solid #60657f;}
	.dl_style_long > dl > dt {border-radius:0;background-color:#fff;padding:5px 15px;color:#000;width:100%;min-height:40px;margin-right:0;float:none;}
	.dl_style_long > dl > dd{border-radius:0;border:none;min-height:auto;float:none;padding:5px 15px 10px 15px;width:100%;}
	.dl_style_long > dl > dt > dl > dt{font-size:22px; padding-right:10px}
	.dl_style_long > dl > dd ul li{font-size:13px}
	

	.program_search{padding: 5px}
	.program_search label{font-size:11px;margin:0 3px;}
	.program_search select{font-size:11px;padding:2px}
	.program_search input{font-size:11px;padding: 3px}
	.program_search .form_btn{padding:3px;font-size:11px;}
	.program_search table th{padding:3px;font-weight: 100;font-size:11px; }
	.program_search table td{padding:3px;font-size:11px;}
	
	.program_search_row{}
	.program_search_row label{font-size:12px;margin:0 5px 0 10px;}
	.program_search_row select{font-size:12px;}
	.program_search_row input{font-size:12px;}
	.program_search_row .form_btn{padding:5px;font-size:12px;width:30px; letter-spacing: -0.05em}
	.program_search_row table{width:100%;}
	.program_search_row table th{padding:5px;font-size:12px; font-weight: 100;}
	.program_search_row table td{padding:5px;}
	
	.paging{text-align:center;padding-bottom:40px;}
	.paging a{display:inline-block;border:1px solid #c4c4c0;width:auto;height:auto;line-height:inherit;padding:5px}
	.paging strong{display:inline-block;border:1px solid #1e75d6;width:auto;height:auto;line-height:inherit;color:#1e75d6;padding:5px}
	.paging a:hover{display:inline-block;border:1px solid #1e75d6;width:auto;height:auto;line-height:inherit;color:#1e75d6;font-weight:bold;}
	.paging a:focus{display:inline-block;border:1px solid #1e75d6;width:auto;height:auto;line-height:inherit;color:#1e75d6;font-weight:bold;}
	.paging a.on{display:inline-block;border:1px solid #1e75d6;width:auto;height:auto;line-height:inherit;color:#1e75d6;}
	.paging a.l_font{width:auto;height:auto;line-height:inherit;vertical-align:top;}
	
	
	#council_popup .council_wrap .council_top h2{float:none; width:100%;}
	#council_popup .council_wrap .council_top .coun_right_mn{position:relative;float: none; width: 100%;border-top:1px solid #29211a}
	#council_popup .council_wrap .council_top .coun_right_mn ul{float:none; width:100%; }
	#council_popup .council_wrap .council_top .coun_right_mn > ul > li{width:25%; text-align: center}
	#council_popup .council_wrap .council_top .coun_right_mn > ul > li > a{padding:15px }
	#council_popup .council_wrap .council_top .coun_right_mn > ul > li > div{top:50px; left: 0; width:55%;left:10%}
	#council_popup .council_wrap .council_top .coun_right_mn > ul > li > div > ul > li{text-align: left}
	#council_popup .council_wrap .council_body .council_right .media_profile > dl > dt{width:30%}
	#council_popup .council_wrap .council_body .council_right .media_profile > dl > dd{width:68%}
	#council_popup .council_wrap .council_body .council_right .media_profile > dl > dt > p{height: auto}
	
	.layer_pop{width:80%;}
	.layer_pop > h1{font-size: 16px}
	.clender_pop dt {width:15%; text-align: left;font-weight:600;float: left;font-size: 13px}
	.clender_pop dd{font-weight: 400; padding-left:16%;font-size: 13px;background:url("../images/icon/ico_bul06.png") 15% 10px no-repeat;}
	
	#footer .go_site .go_inner > li > a{font-size: 14px}
	#footer .go_site .go_inner > li > div{max-height: 400px; overflow-y: scroll}
	#footer .go_site .go_inner > li > div > ul > li{width:100%; margin:0}
	#footer .go_site .go_inner > li > div > ul > li > a{font-size: 12px}
	#footer .go_site .go_inner > li > div > ul{padding:0 0 0 10px}
	
	.photo_area .photo_viewer {height:450px;}
	.photo_area .photo_viewer ul li{height:450px;}
	.photo_area .photo_viewer ul li img{height:450px}
	
	.photo_area .photo_viewer .bx-controls-direction a{top:200px}
	
	.photo_gall_list > ul > li{float:left;width:230px;margin-bottom:2%;border:1px solid #ebebeb;margin-right:15px;}
	.photo_gall_list > ul > li:nth-child(4n){margin-right:10px}
	.photo_gall_list > ul > li:nth-child(3n){margin-right:0}
	.photo_gall_list > ul > li .img{width:230px;height: 170px;position: relative;}
	.photo_gall_list > ul > li .img img{max-width: 230px;max-height: 170px;/* margin-top: auto; *//* margin-bottom: auto; *//* position: absolute; *//* top: 0; *//* bottom: 0; *//* left: 0; *//* right: 0; *//* margin-left: auto; *//* margin-right: auto; */}
	.photo_gall_list > ul > li .tit p{margin:0 0;width:90%}
	.photo_gall_list > ul > li .period ul li{font-size:12px;}


	.grey_box04{padding:10px}
	.grey_box04 ol li{font-size:13px;line-height:140%;padding-left: 7px; margin:10px 0}
	
	.grey_info{font-size: 13px; line-height: 150%;}


	.oper_step ul li{width:48%;margin-right: 2%;border-radius: 20px;border:1px solid #60657f;float: left;margin-bottom: 15px;}
	.oper_step ul li:nth-child(2n){margin-right:0;}
	.oper_step ul li:last-child{border:1px solid #1778b0}
	.oper_step ul li strong{font-size:18px;padding: 10px 15px;float: left;margin:5px 10px 5px 5px;}
	.oper_step ul li p{font-size: 13px;padding-top:15px}
	.oper_info{font-size:13px;line-height:150%}
	
	
	.watch_area > ul > li{width:100%; margin:0;font-size: 15px; padding:10px 20px;border-bottom:1px solid #ebebeb; border-right: none; text-align: left}
	.watch_area > ul > li:last-child{border-bottom:none}
	.watch_area > ul > li > strong{margin-bottom: 10px; font-size: 17px}
	.watch_area > ul > li > p {line-height: 150%;display: block;min-height:auto; font-weight: 400; font-size: 13px}
	
	.calender_area .calenda_header span.title{font-size:25px}
	
	.calender_area .calenda_header .cal_left{float: none; width:100%;margin-bottom:10px}
	.calender_area .calenda_header .cal_right{float:none; width:100%;margin-bottom:10px}

	.board_login ul{margin-left:8%}
	.board_login ul li{background:url("../images/icon/ico_txt03.png") 0 12px no-repeat; font-size:14px;}
	.board_login .login_input{position: relative; width:80%;margin-left:8%}
	.board_login .login_input input[type="text"]{font-size:14px;width:75%;height:30px;line-height:30px;margin:5px 0;}
	.board_login .login_input input[type="password"]{font-size:14px;width:75%;height:30px;line-height:30px;margin:5px 0;}
	.board_login .login_input span{position: absolute;left:80%;font-size:20px;padding:28px;}
	
	.board_log_btn{right: 10px; margin-top: -40px; font-size:12px; padding:3px 5px}
	#main_popup {width: 80%;left: 50%;margin-left: -40%;}
	.mlay_ppbg {display:none;width:80%;left:50%;margin-left:-40%;}
}

@media only screen and (max-width: 641px) {

	#container .main_section02 .gallery .gallery_list ul li a .img{height:80px}
	#container .main_section02 .gallery .gallery_list ul li a .img img{max-width:100px;max-height:80px;}
	
	.h4_tit{font-size:15px;}	
	.history_list > ul > li{padding:30px 0 30px 0;}
	.history_list > ul > li .years{font-size:20px;width:100%;float: none; position: relative; left: 0; top: 0}
	.history_list > ul > li .years span{display: inline; margin: 0 0 0 15px}
	.history_list > ul > li .month > ul{padding:20px 0 0 0}
	.history_list > ul > li .month > ul > li > p{font-size:13px}
	.history_list > ul > li .month > ul > li > strong{font-size:13px}
	
	.member_list > ul > li > dl > dd > p{margin:20px 0 0px 0}
	.member_list > ul > li > dl > dt > span{padding: 2px}
	.member_list > ul > li > dl > dt > span a{font-size: 11px; font-weight: 100; }
	
	
	.photo_gall_list > ul > li{width:100%}
	.photo_gall_list > ul > li .img{height:auto;width: 100%;}
	.photo_gall_list > ul > li .img img{height:auto;position: relative;max-width: none;width: 100%;max-height: none;}
	.photo_gall_list > ul > li .tit p{font-size:13px;}
	.photo_gall_list > ul > li .period ul li{font-size:12px;}
	
	.content_table table .left{padding-left:5px;}
	.content_table table th{font-size:12px;}
	.content_table table td{font-size:12px;}
	
	.content_table_row table th{font-size:12px;}
	.content_table_row table td{font-size:12px;}
	
	.grey_box ul li{background:url(../images/icon/ico_txt03.png)left 10px no-repeat; padding-left: 7px}
	
	.layer_pop{width:90%;}
	.photo_area .photo_viewer {height:300px;}
	.photo_area .photo_viewer ul li{height:300px;}
	.photo_area .photo_viewer ul li img{height:300px}
	
	.photo_area .photo_viewer_pager ul li a img {height:70px;}
	.photo_area .photo_viewer .bx-controls-direction a{top:120px}
	.photo_area .photo_viewer .bx-controls-direction a.bx-next{right: 10px}
	.photo_area .photo_viewer .bx-controls-direction a.bx-prev{left: 10px}
	
	
	.col_hidden{display:none}
	
	.clender_pop dt {width:16%;}
	.clender_pop dd{font-size: 13px;background:url("../images/icon/ico_bul06.png") 17% 10px no-repeat;padding-left:20%}
	
	.board_login ul{margin-left:8%}
	.board_login ul li{background:url("../images/icon/ico_txt03.png") 0 12px no-repeat; font-size:14px;}
	.board_login .login_input{position: relative; width:85%;margin-left:8%}
	.board_login .login_input input[type="text"]{font-size:14px;width:100%;height:30px;line-height:30px;padding-left: 0}
	.board_login .login_input input[type="password"]{font-size:14px;width:100%;height:30px;line-height:30px;padding-left: 0}
	.board_login .login_input span{position: relative;left:inherit;font-size:17px;padding:15px 0;top: inherit; width:100%; text-align: center}

	#main_popup {width: 80%;left: 50%;margin-left: -40%;}
	.mlay_ppbg {display:none;width:80%;left:50%;margin-left:-40%;}
}