<%@ page language="java" contentType="text/html;charset=utf-8" pageEncoding="utf-8" %>
	<style>
	/*@-ms-viewport{width:device-width;}*/
	/*@-o-viewport{width:device-width;}*/
	/*#header .search_top .inner .search_form img{padding:9px;}*/
	</style>
	<link rel='shortcut icon' type='image/x-icon' href='<%= request.getContextPath() %>/images/common/council.ico'>
	<link rel='stylesheet' media='all' href='<%= request.getContextPath() %>/jquerys/jQuery-ui-1.11.4/jquery-ui.min.css'/>
	<link rel='stylesheet' media='all' href='<%= request.getContextPath() %>/css/style_new.css'/>
	<link rel='stylesheet' media='all' href='<%= request.getContextPath() %>/css/lightslider.css'/>
	<link rel='stylesheet' media='all' href='<%= request.getContextPath() %>/plugins/fotorama/fotorama.css'/>
	<link rel='stylesheet' media='all' href='<%= request.getContextPath() %>/plugins/waitMe/waitMe.min.css'/>
	<script src='<%= request.getContextPath() %>/jquerys/jquery-2.2.4.min.js'></script>
	<script src='<%= request.getContextPath() %>/jquerys/jquery.form-4.2.2.js'></script>
	<script src='<%= request.getContextPath() %>/jquerys/jquery.fileDownload-1.4.5.js'></script>
	<script src='<%= request.getContextPath() %>/jquerys/jquery.blockUI-2.70.0.js'></script>
	<script src='<%= request.getContextPath() %>/jquerys/jquery.highlight-5.closure.js'></script>
	<script src='<%= request.getContextPath() %>/jquerys/jQuery-ui-1.11.4/jquery-ui.min.js'></script>
	<script src='<%= request.getContextPath() %>/scripts/jquery.bxslider.js'></script>
	<script src='<%= request.getContextPath() %>/jquerys/bxslider/jquery.bxslider.min.js'></script>
	<!--[if lt IE 9]>
	<script src='//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'></script>
	<script src='<%= request.getContextPath() %>/plugins/ie7-2.1(beta4)/IE9.js'>IE7_PNG_SUFFIX=".png";</script>
	<![endif]-->
	<script src='<%= request.getContextPath() %>/jquerys/lightslider.js'></script>
	<script src='<%= request.getContextPath() %>/plugins/fotorama/fotorama.js'></script>
	<script src='<%= request.getContextPath() %>/plugins/waitMe/waitMe.min.js'></script>
	<script src='<%= request.getContextPath() %>/scripts/_reset.js'></script>
	<%--<script src='<%= request.getContextPath() %>/scripts/script.js'></script>--%>
	<script>
	jQuery(function($){
		var loading = $("<img id='loadImage' src='<%= request.getContextPath() %>/images/common/loading.gif' style='width:64px;height:64px;' alt='load'/>").appendTo(document.body).hide();
		$.ajax({
			type          : "post", 
			url           : "<%= request.getContextPath() %>/cmmn/visitor.do", 
			dataType      : "html", 
			success       : function(data,status,xhr  ){var $VI=$("#visitor");$VI.empty();$VI.html(data);}, 
			error         : function(xhr ,status,error){console.log(xhr.responseText);alert("Code: "+xhr.status+"\nMessage: "+error);}
		});
<%	boolean[] requestURI		= new boolean[6];
	requestURI[0] = request.getRequestURI().contains("/coun/hope");
	requestURI[1] = request.getRequestURI().contains("/coun/base/noticeHope");
	requestURI[2] = request.getRequestURI().contains("/coun/visit");
	requestURI[3] = request.getRequestURI().contains("/coun/acts/visitIntro");
	requestURI[4] = request.getRequestURI().contains("/coun/tip");
	requestURI[5] = request.getRequestURI().contains("/coun/base/noticeTip");
	if( !egovframework.com.cmm.util.BaseUtility.isValidNull( session.getAttribute("DIinto") ) ) { 
			if( requestURI[0] || requestURI[1] || requestURI[2] || requestURI[3] || requestURI[4] || requestURI[5] ) {
//				out.print("\t\twindow.onload = function(){fncClearTime();initTimer();}");
			} else { 
				session.removeAttribute("NMinto");
				session.removeAttribute("DIinto");
//				out.print("\t\talert(\"\'실명인증 사용\' 메뉴가 아닌 다른 메뉴로 이동할 경우 본인인증이 만료됩니다.\");");
			}
	} %>
		var filetag = "<tr><th>첨부파일</th><td@ id='file_base#'><label for='fileBase#' class='hide'>첨부파일</label><input type='file' id='fileBase#' name='fileBase#' class='w90_p'/></td></tr>";
		$("#fileAdd01").click(function(e){$(".table_write>table>tbody:last").append(filetag.replace(/@/,"").replace(/#/gi,parseInt($("[id^=file_base]:last").attr("id").replace("file_base",""))+1));$(document).scrollTop($(document).height());});
		$("#fileAdd03").click(function(e){$(".table_write>table>tbody:last").append(filetag.replace(/@/," colspan='3'").replace(/#/gi,parseInt($("[id^=file_base]:last").attr("id").replace("file_base",""))+1));$(document).scrollTop($(document).height());});
	});
	var fcBaseRemove    = function(obj,sid){
		if($("[id^='file_base']").length<=1){obj.closest("td").empty().html("<label for='fileBase1' class='hide'>첨부파일</label><input type='file' id='fileBase1' name='fileBase1' class='w90_p'/>");}else{obj.closest("tr").remove();}
		$("#condDele").val($("#condDele").val()+sid);
	};<jsp:include page="/WEB-INF/views/cmmn/pop_script.jsp" flush="true"><jsp:param name="tb" value="g"/></jsp:include>
	var fnKeyDownFinder    = function(){
		// 엔터키가 눌렸을 때 실행할 내용
		console.log('key',window.event.keyCode);
		if (window.event.keyCode == 13) {
			fnTopsFinder();
		}
	};
	var fnTopsFinder    = function(){
		// doActLoadShow();
		var $form=$("#frmDetail");
		var  view=$("#searchTopsText").val();
		// alert('onclick: '+$form.length);
		if($form.length<=0){$form=$("<form/>").attr({id:"frmDetail",name:"frmDetail",method:"post"});$(document.body).append($form);}
		if($form.length<=1){$form.empty();}
		$("<input/>").attr({type:"hidden",id:"pageCurNo",name:"pageCurNo",value:"1"}).appendTo($form);
		$("<input/>").attr({type:"hidden",id:"searchText",name:"searchText",value:view}).appendTo($form);
		if($form.length<=1){$form.attr({"action":"<%= request.getContextPath() %>/coun/base/search.do","method":"post","target":"_self"}).submit();}
	};
	var fnActOpenPlus   = function(){
		var opWin = window.open("","scrAuth","width=500,height=550,top=100,left=100,fullscreen=no,menubar=no,status=no,toolbar=no,titlebar=yes,location=no,scrollbar=no",false);
		$("#frmDefault").attr({"action":"https://nice.checkplus.co.kr/CheckPlusSafeModel/checkplus.cb","method":"post","target":"scrAuth"}).submit();
		opWin.focus();
	};
	var isEmpty = function(input) {
		if (
			typeof input === "undefined" ||
			input === null ||
			input === "" ||
			input.length === 0 ||
			(typeof input === "object" && !Object.keys(input).length)
		) {
			return true;
		}
		else return false;


		// if (input === undefined)
		// {
		// 	return true;
		// }
		// else if(input === null)
		// {
		// 	return true;
		// }
		// else if(input === "")
		// {
		// 	return true;
		// }
		// else
		// {
		// 	return false;
		// }
	};
	var previewAjax = function(url) {
		var apiKey = "XOZA9PEOMEOVZFAQ2SCZCQ";
		var cc = "ptc";

		var fPath = "https://ptcouncil.go.kr/datas" + url;
		var fName = url.substring(url.lastIndexOf('/'));
		fName = fName.substring(1);

		var fileUrl = encodeURIComponent(fPath);
		var fileName = encodeURIComponent(fName);

		window.open("https://viewstory.net/previewAjax.do?apikey={0}&cc={1}&url={2}&fileName={3}".format(apiKey, cc, fileUrl, fileName),"a", "width=1200, height=1000, left=100, top=50");
	};
	var  preListen = function(url) {
		var apiKey = "XOZA9PEOMEOVZFAQ2SCZCQ";
		var cc = "ptc";

		var fPath = "https://ptcouncil.go.kr/datas" + url;
		var fName = url.substring(url.lastIndexOf('/'));
		fName = fName.substring(1);

		var fileUrl = encodeURIComponent(fPath);
		var fileName = encodeURIComponent(fName);
		window.open("https://viewstory.net/voiceOverAjax.do?apikey={0}&cc={1}&url={2}&fileName={3}".format(apiKey, cc, fileUrl, fileName), "a", "width=1200, height=1000, left=100, top=50");
	};
	var previewAjaxApp = function(filename) {
		var apiKey = "XOZA9PEOMEOVZFAQ2SCZCQ";
		var cc = "ptc";

		var fPath = "https://ptcouncil.go.kr/datas/app/" + filename;

		var fileUrl = encodeURIComponent(fPath);
		var fileName = encodeURIComponent(filename);

		window.open("https://viewstory.net/previewAjax.do?apikey={0}&cc={1}&url={2}&fileName={3}".format(apiKey, cc, fileUrl, fileName),"a", "width=1200, height=1000, left=100, top=50");
	};
	var  preListenApp = function(filename) {
		var apiKey = "XOZA9PEOMEOVZFAQ2SCZCQ";
		var cc = "ptc";

		var fPath = "https://ptcouncil.go.kr/datas/app/" + filename;

		var fileUrl = encodeURIComponent(fPath);
		var fileName = encodeURIComponent(filename);
		window.open("https://viewstory.net/voiceOverAjax.do?apikey={0}&cc={1}&url={2}&fileName={3}".format(apiKey, cc, fileUrl, fileName), "a", "width=1200, height=1000, left=100, top=50");
	};
	String.prototype.format = function() {
		var formatted = this;
		for( var arg in arguments ) {
			formatted = formatted.replace("{" +arg + "}", arguments[arg]);}
		return formatted;
	};
    // loading 문제로 추가함
    // if( window.addEventListener ) {
        window.addEventListener('pageshow', (event) => {
            if (event.persisted || window.performance.getEntriesByType("navigation")[0].type === 'back_forward') {
                doActLoadHide();
            }
        }, false);
    // }
	</script>