@charset "utf-8";

/* .profile */

.sub_tab_Area{float:left;  margin-bottom: 20px;  }
.sub_tab_Area{font-size:1.3em; width:100%; border-bottom:1px solid #ddd;}
.sub_tab_Area ul{margin: 0;padding: 0;}
.sub_tab_Area li{display: inline-block; width:22.5%; margin:0 5px 5px; 0;  height:46px; text-align:center; border:1px solid #ddd;}
.sub_tab_Area li a.on{border-bottom:1px solid #fff; background:#3c9593 url("../../images/intro/org1_bg.png") no-repeat; background-position:left top; color: #fff;   }
.sub_tab_Area li a{ position:relative; display:block; background: #fff; color: #000; padding:0 30px; line-height:46px; text-decoration:none; font-size:16px;}
.sub_tab_Area li a::hover,
.sub_tab_Area li a.on{background:#fff; color:#7ea21e; }
.sub_tab_Area.two > ul > li{width:45%;}
.sub_tab_Area.three > ul > li{width:28%;}
.sub_tab_Area.four > ul > li{width:25%;}
.sub_tab_Area.five > ul > li{width:20%;}
.sub_tab_Area.six > ul > li{width:16.66%;}
.sub_tab_Area.seven > ul > li{width:14.28%;}
.sub_tab_Area.eight > ul > li{width:22.5%;}

#sub_active{float:left; width:100%;}
#sub_active .normal_list img,
#sub_memberlist .normal_list img{max-width:119px;}
.profile{float:left; width:49%; margin:30px 0 25px 0; padding:30px 0 0 0; color:#333; border-radius:10px;   border:1px solid rgba(41,46,68,0.15); box-sizing:border-box;}
.profile:hover{border-color:rgba(41,46,68,0.5);}
.profile.profile_right{float:right;}
.profile dl{position:relative; float:left; width:100%; padding:0 0 0 38%; box-sizing:border-box;}
.profile dt{position: absolute; top:0; left:7.7%;}
.profile dt img{max-width:120px; max-height:145px;  border:1px solid #e5e5e5;min-width: 120px;}
.profile dd{float:left; width:100%; min-height:230px;}
.profile .name {overflow:hidden; width:100%; padding:8px 0 20px 0; font-family: 'PTAnbo'}
.profile .name strong{float:left; display:block; line-height:30px; font-size:27px; font-weight:900; color:#000; letter-spacing:-2px;}
.profile dd ul{clear:both; width:90%;}
.profile dd li{position:relative; padding:0 0 4px 87px; line-height:135%; box-sizing:border-box;}
.profile dd li *{display:inline-block; vertical-align:top;}
.profile dd li:before{border:none;background: #5ca49a;top: 8px;width: 4px;height: 4px;}
.profile dd li em{position:absolute;top:0;left: 11px;width:85px;letter-spacing:2px;}
.profile dd li:first-child em{letter-spacing:13px;}
.profile dd li:nth-child(3) em{letter-spacing:0;}
.profile dd li span{width:100%; word-break:break-all;}
.profile dd li .colon{position:absolute;top:0;left: 78px;width:auto;}
.profile .btns{clear:both; overflow:hidden; width:100%; min-height:0; padding:0;  }
.profile .btns a{position:relative; float:left; width:100%; height:60px; line-height:60px; font-weight:400; border-top:1px solid rgba(41,46,68,0.1); color:#292e45; border-radius:0 0 10px 10px; background:#f3f3f8; text-align:center; text-decoration:none; box-sizing:border-box;}
.profile .btns a:hover{z-index:1; background:#6c6c6c; color:#fff; border-color:rgba(41,46,68,0.2);}
#sub_memberlist .profile .btns a:first-child{width:100%; border-right:none; border-radius:0 0 10px 10px;}


/*기존 member css */
.member_list{position:relative;overflow:hidden; }
.member_list > ul > li{width:49%;float:left;}
.member_list > ul > li:nth-child(2n){margin-right:0;}
.member_list > ul > li > dl {overflow:hidden; color:#333; border-radius:10px; margin: 10px;  border:1px solid rgba(41,46,68,0.15); box-sizing:border-box;}
.member_list > ul > li > dl:hover {border-color:rgba(41,46,68,0.5);}
.member_list > ul > li > dl > dt{width:35%;float:left;box-sizing:border-box;}
.member_list > ul > li > dl > dt > p{height:200px;overflow:hidden;}
.member_list > ul > li > dl > dt > p img{width:100%; max-width:128px; max-height:152px; margin: 15px; border:1px solid #e5e5e5}
.member_list > ul > li > dl > dt > span{display:block;width:100%;  box-sizing:border-box;margin-top:40px;text-align:center; }
.member_list > ul > li > dl > dt > span a{display:inline-block;   min-width:300%; height:60px; line-height:60px;color:#292e45; font-size:16px; font-weight:500; letter-spacing:-1px; text-align:center; vertical-align:top; border-radius:0 0 10px 10px; border:1px solid rgba(41,46,68,0.1); background:#f3f3f8; border-bottom:none; box-sizing:border-box; text-decoration:none}
.member_list > ul > li > dl > dt > span a:hover{background:#6c6c6c; color:#fff; border-color:rgba(41,46,68,0.2);}
.member_list > ul > li > dl > dd{width:60%;float:right; padding-left: 5px}
.member_list > ul > li > dl > dd > p{font-family: 'PTAnbo'; font-size:27px; font-weight:900; color:#000; margin:30px 0 20px 0;}
.member_list > ul > li > dl > dd > table{min-width:240px; width:100%;border-collapse:collapse;}
.member_list > ul > li > dl > dd > table th{font-size:15px; position: relative; padding:0 0 10px 10px; text-align:left;font-weight:500; box-sizing:border-box;}
.member_list > ul > li > dl > dd > table th::before{content: '';display: block; position: absolute; top: 10px;left: 0;height: 5px;width: 5px;border-radius: 50%;background: #3c9593;}
.member_list > ul > li > dl > dd > table td{font-size:15px; color: #4d4d4d;padding:0 0 10px 10px;word-break:break-all;font-weight: 400;letter-spacing: -0.05em}
.member_list > ul > li > dl > dd > table .b_none{border-top:none;}

.member_list_s{position:relative;overflow:hidden; }
.member_list_s > ul > li{width:49%;float:left;}
.member_list_s > ul > li:nth-child(2n){margin-right:0;}
.member_list_s > ul > li > dl {overflow:hidden; color:#333; border-radius:10px; margin: 10px;  border:1px solid rgba(41,46,68,0.15); box-sizing:border-box;}
.member_list_s > ul > li > dl:hover {border-color:rgba(41,46,68,0.5);}
.member_list_s > ul > li > dl > dt{width:35%;float:left;box-sizing:border-box;}
.member_list_s > ul > li > dl > dt > p{height:152px;overflow:hidden; }
.member_list_s > ul > li > dl > dt > p img{max-width:120px; max-height:135px;  margin: 15px;  border:1px solid #e5e5e5;min-width: 120px;}
.member_list_s > ul > li > dl > dt > span{display:block;width:100%;  box-sizing:border-box;margin-top:40px;text-align:center; }
.member_list_s > ul > li > dl > dt > span a{display:inline-block;   min-width:300%; height:60px; line-height:60px;color:#292e45; font-size:16px; font-weight:500; letter-spacing:-1px; text-align:center; vertical-align:top; border-radius:0 0 10px 10px; border:1px solid rgba(41,46,68,0.1); background:#f3f3f8; border-bottom:none; box-sizing:border-box; text-decoration:none}
.member_list_s > ul > li > dl > dt > span a:hover{background:#6c6c6c; color:#fff; border-color:rgba(41,46,68,0.2);}
.member_list_s > ul > li > dl > dd{width:60%;float:right; padding-left: 5px}
.member_list_s > ul > li > dl > dd > p{font-family: 'PTAnbo'; font-size:27px; font-weight:900; color:#000; margin:30px 0 20px 0;}
.member_list_s > ul > li > dl > dd > table{width:95%;font-size:15px;border-collapse:collapse;}
.member_list_s > ul > li > dl > dd > table th{ position: relative; padding:0 0 5px 10px; text-align:left;font-weight:500; box-sizing:border-box;}
.member_list_s > ul > li > dl > dd > table th::before{content: '';display: block; position: absolute; top: 10px;left: 0;height: 5px;width: 5px;border-radius: 50%;background: #3c9593;}
.member_list_s > ul > li > dl > dd > table td{padding:5px;word-break:break-all;white-space:nowrap;text-overflow:ellipsis;font-weight: 400;letter-spacing: -0.05em}
.member_list_s > ul > li > dl > dd > table .b_none{border-top:none;}



#pro_popupArea h2 {color:#fff; font-size:36px; background:#6faca3; line-height: 50px; padding: 0 20px;}
#pro_popupArea dl{position:relative; float:left; width:100%; padding:0 0 0 38%; box-sizing:border-box;}
#pro_popupArea dt{position: absolute; top:0; left:5% !important;}
#pro_popupArea dt img{max-width:120px;  border:1px solid #e5e5e5;min-width: 120px;}
#pro_popupArea dd{float:left; width:400px !important; min-height:200px; margin-left: -50px !important;}
#pro_popupArea .name {overflow:hidden; width:100%; padding:8px 0 20px 0; font-family: 'PTAnbo'}
#pro_popupArea .name strong{float:left; display:block; line-height:30px; font-size:27px; font-weight:900; color:#000; letter-spacing:-2px;}
#pro_popupArea dd ul{clear:both; width:90%;}
#pro_popupArea dd li{position:relative; padding:0 0 4px 87px; line-height:135%; box-sizing:border-box;}
#pro_popupArea dd li *{display:inline-block; vertical-align:top;}
#pro_popupArea dd li:before{border:none;background: #5ca49a;top: 8px;width: 4px;height: 4px;}
#pro_popupArea dd li em{position:absolute;top:0;left: 11px;width:85px;letter-spacing:2px;}
#pro_popupArea dd li:first-child em{letter-spacing:13px;}
#pro_popupArea dd li:nth-child(3) em{letter-spacing:0;}
#pro_popupArea dd li span{width:100%; word-break:break-all;}
#pro_popupArea dd li .colon{position:absolute;top:0;left: 78px;width:auto;}
#pro_popupArea .pop_memb {padding: 20px !important;}
#pro_popupArea .pro_bottom{clear: both; padding: 20px;}
#pro_popupArea h4{font-weight: 600; font-size:24px; padding:10px; }
#pro_popupArea h4:before{ content:'';display: inline-block; vertical-align: middle;  width:25px;height:25px;margin:0 10px 0 0 ; border:7px solid #368e33;border-left:7px solid #5ab357;border-top:7px solid #5ab357;border-radius:50%;background:none;}
#pro_popupArea .mem_history { padding: 20px; height: 142px; overflow-y: scroll; border:1px #ddd solid; border-radius:10px;}
.btn_group{ overflow:hidden; width:100%; min-height:0; padding:0;  }
.btn_group a{position:relative; float:left; width:100%; height:60px; line-height:60px; font-weight:400; border-top:1px solid rgba(41,46,68,0.1); border-right:1px solid rgba(41,46,68,0.15); color:#292e45; border-radius:0 0 10px 10px; background:#f3f3f8; text-align:center; text-decoration:none; box-sizing:border-box;}
.btn_group a:hover{z-index:1; background:#82a8a2; color:#fff; border-color:rgba(41,46,68,0.2);}





/* Calendar Styles */

#calendarArea{width:100%; margin:0 0 50px 0; box-sizing:border-box;}
.calender_btn span.title{font-family: 'PTAnbo'; font-size:30px; float:left; width:30%; padding: 20px;}
.calendar {clear: both; width:100%;border-collapse:collapse;table-layout:fixed;text-align:center;border-top: 3px solid #3c9593;box-sizing:border-box; margin-bottom:20px; }
.calendar th{padding:11px 5px;color:#333;border:1px solid #ddd;border-left:none;font-weight: 300;}
.calendar thead th{border-top:none;background: #f2f2f2;font-weight: 600;}
.calendar td{padding:11px 5px; height:90px; vertical-align:top; border:1px solid #ddd; border-left:none; word-break:break-all; font-size:15px; box-sizing:border-box; background:#fff;}
.calendar th:last-child,
.calendar td:last-child{border-right:none;}
.calendar td[colspan="6"]{padding:50px 0;}
.calendar td a{}
.calendar td.today {background:#eaf3fc;}
.calendar td.prev-next div.date {color:#9C9C9C;}
.calendar td.holiday {background:#DDFFDE;}
.calendar th.sun, .calendar td div.sun {color:#cd2424;}
.calendar th.sat, .calendar td div.sat {color:#0a61a9;}
.calendar div.date {text-align:left; font-size:16px; padding:5px 10px 0 5px; margin-bottom:10px; line-height:16px; border-bottom:0px solid #ddd;width: 100%; overflow: hidden;box-sizing: border-box; font-weight: 400}
.calendar div.date > .d_number{float: left;margin-top: 5px}
.calendar div a.reserve{font-size:14px; border-radius: 5px; background-color:#cb7903; color:#fff; padding: 5px 10px; text-align: center;display:inline-block; text-decoration-line: none;}
.calendar div a.reserve:hover{background-color:#cb5d03;}
.calendar div a.reserve_01{font-size:14px; border-radius: 10px; background-color:#d37756; color:#fff; padding: 5px 10px; text-align: center;display:inline-block; text-decoration-line: none;}
.calendar div.day-content {position:relative;}
.icon_btn{ text-align: right;}
.icon_btn a{text-decoration-line: none;}
.icon_btn a.cal_btn01{display:inline-block; line-height:25px; border-radius: 5px; width:50px;  height:25px; text-align: center; color:#fff; font-weight: 400; font-size: 14px; background-color:#449596; padding:5px 10px;}
.icon_btn a.cal_btn03{display:inline-block; line-height:25px; border-radius: 5px; width:60px;  height:25px; text-align: center; color:#fff; font-weight: 400; font-size: 14px; background-color:#446280; padding:5px 10px;}
.icon_btn a.cal_btn02{display:inline-block; line-height:25px; border-radius: 5px; width:60px;  height:25px; text-align: center; color:#fff; font-weight: 400; font-size: 14px; background-color:#446280; padding:5px 10px;}
.calendar .p_icon {margin:0 2px}
.calendar .p_icon ul{margin: 0 auto}
.calendar .p_icon li {float:left;margin:8px 0; text-align: left; padding:5px; border-bottom:1px dotted #c9c9c9;width:100%; box-sizing: border-box}
.calendar .p_icon li:last-child{border-bottom:none}
.calendar .p_icon li span { font-size:11px; margin-bottom:5px}
.calendar .p_icon li p{line-height:14px; padding-bottom:3px}
.calendar .p_icon li a{display: block; width:100%;color:#fff;}
.calendar .p_icon li a > span{color:#fff;background-color:#57a700;text-overflow:ellipsis; width:95%; border-radius: 5px; white-space: nowrap; text-align: center; display: inline-block; padding: 5px 3px; overflow: hidden}
.calendar .p_icon li a > span:hover{color:#fff;background-color:#217301;}
.calendar .p_icon li a:hover{text-decoration: underline;color:#004cb4}
.icon_btn a.cal_btn01:hover{background-color:#606e7b;}
.icon_btn a.cal_btn02:hover{background-color:#2b4967;}
.icon_btn a.cal_btn03:hover{background-color:#2b4967;}


/*cast list */
.generalArea{position: relative;width:100%;}
.generalArea .list_left{float: left; width:50%; margin-bottom:10px; }
.generalArea .list_right{float: right; width:45%;}
.generalArea .list_left ul{overflow: hidden; width: 97%; margin:0 auto }
.generalArea .list_left ul > li{font-size: 15px;margin: 5px 0; padding-left:7px}
.generalArea .list_left ul > li > a{font-weight: 400}
.generalArea .list_left ul > li > ul{margin: 2px 0}
.generalArea .list_left ul > li > ul > li{padding-left:12px; margin:3px 0;}
.generalArea .list_left ul > li > ul > li > a{font-size: 13px;color:#000}


.generalArea .list_left02{float: left; width:45%;}
.generalArea .list_left02 > h2, .generalArea .list_right > h2{font-size:19px; font-weight: 500; margin-bottom: 20px; border-bottom:2px solid #c5c5c5; padding: 15px 0; color:#000}
.generalArea .list_left02 ul{overflow: hidden; width: 97%; margin:0 auto}
.generalArea .list_left02 ul > li{font-size: 15px;margin: 5px 20px 5px 5px;  padding-left:7px; display: inline-block}
.generalArea .list_left02 ul > li > a{font-weight: 400}
.generalArea .list_left02 ul > li > ul{margin: 2px 0}
.generalArea .list_left02 ul > li > ul > li{padding-left:12px; margin:3px 0;display: inline-block}
.generalArea .list_left02 ul > li > ul > li > a{font-size: 13px;color:#000}



.generalArea .list_right ul{overflow: hidden;width: 97%; margin-bottom:10px;}
.generalArea .list_right ul > li{font-size: 15px;margin: 5px 0; padding-left:7px}
.generalArea .list_right ul > li > a{font-weight: 400}
.generalArea .list_right ul > li > ul{margin: 2px 0}
.generalArea .list_right ul > li > ul > li{padding-left:15px; font-weight: 14px;margin:3px 0;}
.generalArea .list_right ul > li > ul > li > a{font-size: 13px;color:#000}


.l_list {position:relative;  height:350px; border-top:3px #3c9593 solid; padding-top: 10px; border-bottom:1px #ddd solid; box-sizing:border-box; word-break:keep-all; font-size: 14px;}
.l_list > li{position:relative; padding:0 0 5px 10px; box-sizing:border-box; word-break:keep-all;}
.l_list > li:before {content: '';display: block; position: absolute; top: 10px;left: 0;height: 5px;width: 5px;border-radius: 50%;background: #cacaca;}


/* board_btn */
.btn{display:inline-block; min-width:150px; height:40px; line-height:40px; padding:0 12px; color:#fff; font-size:18px; font-weight:500; letter-spacing:-1px; text-align:center; vertical-align:top; border-radius:5px; border:1px solid #64636e; background:#64636e; box-sizing:border-box; text-decoration:none !important;}
.btn.blue{border-color:#292e44; background:#292e44;}
.btn.orange{border-color:#f88020; background:#f88020;}
.btn.white{color:#555; border-color:#555; background:#fff;}
.btn.xls{border-color:#417d45; background:#417d45;}
.btn:hover{color:#64636e; background:#fff; transition:0.2s linear;}
.btn.blue:hover{color:#292e44;}
.btn.orange:hover{color:#f88020;}
.btn.white:hover{color:#fff; background:#555;}
.btn.xls:hover{color:#417d45;}
.btn .glyphicon{top:-1px; vertical-align:middle; margin:0 2px 0 0;}

.board_btn{text-align:right;}
.board_btn .btn + .btn{margin:0 0 0 5px;}

.board_n_list .btn{min-width:130px; height:40px; line-height:38px; margin:0 2px 6px; font-size:14px; font-weight:400;border-color:#3c9593; background:#3c9593;}
.board_n_list .btn:hover{color:#3c9593; background-color:#fff;}

#search_result .title .btn{height:35px; line-height:33px; margin:-3px 0 0 5px; font-size:15px;}


/*board_list*/
.board_list{clear:both;width:100%;margin:0 0 20px 0;border-collapse:collapse;border-top: 3px solid #3c9593;  table-layout: fixed;}
.board_list tbody tr:hover{background:#f1f1f1; transition:background 0.25s ease-in-out;}
.board_list th{padding:13px 5px; text-align:center; color:#000; font-weight:600;}
.board_list thead th{border-bottom: 1px solid #3c9593;}
.board_list td{padding:14px 5px;text-align:center;border: 1px solid #ddd; border-bottom-color: #ddd;border-right:none;color:#666;background:none;box-sizing:border-box;}
.board_list th:first-child,
.board_list td:first-child{border-left:none;}
.board_list td.line_on{border-bottom:1px solid #d2d2d2;border-left:1px solid #d2d2d2;}
.board_list td.line_out{border-left:none;}
.board_list .none,
.board_list td[colspan="6"]{padding:50px 0;}
.board_list .notice{display:inline-block;height:23px;line-height: 23px;padding:0 10px;border-radius:23px;color:#fff;font-size:90%;background: #3c9593;}
.board_list .con,
.board_list .sbj{text-align:left;padding-left:17px; width:300px; white-space:nowrap; overflow:hidden;text-overflow:ellipsis; box-sizing:border-box;  }
.board_list .none{padding:20px 0; border-right:none;}
.board_list .del_reason{font-size:12px;vertical-align:middle}
.board_list .del_reason i{display:inline-block; margin-right:3px; color:#fd3223}
.board_list .del{opacity:0.6; text-decoration:line-through;}
.board_list .total{font-weight: 500; color:#3c9593; }
.board_list td select{max-width:95px;}


/*report_list*/
.report_list{clear:both;width:100%;margin:0 0 10px 0;border-collapse:collapse;border-top: 3px solid #3c9593;  table-layout: fixed;}
.report_list li{width:100%; padding:15px 5px; margin:0 0 10px 0; box-sizing:border-box; vertical-align:top;} 
.report_list li *{display:block;}
.report_list li a{overflow:hidden;  border-bottom:1px solid #ddd; background:#fff; padding-bottom: 10px;}
.report_list li .img{float: left; overflow:hidden; width:25%; text-align:center; border-radius: 5px;}
.report_list li .img img{display:inline; margin: 0 12px; height:180px; object-fit: cover; border-radius: 5px;  transition:all 0.25s ease-in-out;}
.report_list li a:hover img,
.report_list li a:focus img{transform:scale(1.1); margin: 0 12px;}
.report_list li .title{ display:inline-block; width:60%;  overflow:hidden; padding:0 5px; text-overflow:ellipsis; white-space:nowrap;  font-weight:800; padding: 5px;}
.report_list li .subject{ display:inline; color:#838383; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; padding-top:20px; padding-left:10px; margin-bottom: 20px;}
.report_list li .date{display:inline; color:#838383; font-size:85%; padding:20px 10px;}

/*board_list_memb*/
.board_list_memb{clear:both;width:100%;margin:0 0 20px 0;border-collapse:collapse;border-top: 3px solid #3c9593;  table-layout: fixed;}
.board_list_memb tbody tr:hover{background:#f1f1f1; transition:background 0.25s ease-in-out;}
.board_list_memb th{padding:13px 5px; text-align:center; color:#000; font-weight:600;}
.board_list_memb thead th{border-bottom: 1px solid #3c9593;}
.board_list_memb td{padding:14px 5px;text-align:center; border-bottom: 1px #ddd solid;border-bottom-color: #ddd;background:none;box-sizing:border-box;}
.board_list_memb th:first-child,
.board_list_memb td:first-child{border-left:none;}
.board_list_memb .none,
.board_list_memb td[colspan="6"]{padding:50px 0;}
.board_list_memb img {width: 120px; max-height: 140px;}

/*paging*/
.paging{clear:both;padding-bottom:40px; text-align: center;}
.paging a{display:inline-block;border:1px solid #c4c4c0;width:34px;height:34px;line-height:34px;}
.paging strong{display:inline-block;border:2px solid #3c9593;width:32px;height:32px;line-height:32px;color:#3c9593;}
.paging a:hover{display:inline-block;border:2px solid #3c9593;width:32px;height:32px;line-height:32px;color:#3c9593;font-weight:bold;}
.paging a:focus{display:inline-block;border:2px solid #3c9593;width:32px;height:32px;line-height:32px;color:#3c9593;font-weight:bold;}
.paging a.on{display:inline-block;border:2px solid #3c9593;width:32px;height:32px;line-height:32px;color:#3c9593;}
.paging a:hover{text-decoration: none}
.paging a.btn{border:0;width:auto;height:34px;vertical-align:top;}
.paging a.l_font{font-size:19px; line-height: 28px}
.paging a.l_font:hover{line-height:26px}


/* content에 들어갈 table */
.table_wrap{width:100%; margin:0 0 50px 0; box-sizing:border-box;}
.table_info{display:none; margin:0 0 5px !important; line-height:130%; font-size:13px; color:#0023e8;}
.board_n_list{clear:both; width:100%; border-collapse:collapse;table-layout:fixed;text-align:center;border-top: 3px solid #3c9593;box-sizing:border-box;}
.board_n_list th{padding:11px 5px;color:#333;border:1px solid #ddd;border-left:none;font-weight: 300;}
.board_n_list thead th{border-top:none;background: #f2f2f2;font-weight: 600;}
.board_n_list td{padding:11px 5px; border:1px solid #ddd; border-left:none; word-break:break-all; font-size:15px; box-sizing:border-box; background:#fff;}
.board_n_list th:last-child,
.board_n_list td:last-child{border-right:none;}



/*board write */
.board_write{clear:both;width:100%;border-collapse:collapse;table-layout:fixed;text-align:center;border-top: 3px solid #3c9593;box-sizing:border-box; margin-bottom: 20px;}
.board_write th{padding:11px 5px;color:#333;border:1px solid #ddd;border-left:none;font-weight: 300;}
.board_write thead th{border-top:none;background: #f2f2f2;font-weight: 600;}
.board_write td{padding:11px 5px; border:1px solid #ddd; border-left:none; word-break:break-all; font-size:15px; box-sizing:border-box; background:#fff;}
.board_write th:last-child,
.board_write td:last-child{border-right:none;}
.board_write td{border-bottom:1px solid #d2d2d2;border-left:1px solid #d2d2d2;font-size:15px;color:#333;line-height:150%;text-align:left;letter-spacing:-1px;padding:10px;font-weight:400;}
.board_write td .list li{padding-left:8px;line-height:150%;padding-top:5px;}
.board_write td .list li:first-child{padding-top:0;background-position:left 10px;}
.board_write td.cont{padding:20px;word-break:break-all;text-align:left;line-height:180%;}
.board_write td img{width:95%;}
.board_write td textarea{border:1px solid #ebebeb;vertical-align:top;}
.board_write td .info{font-size:13px;color:#999999;font-weight:300;line-height:150%;padding:5px 0;}
.board_write td .work{font-size:15px;color:#0066b3;font-weight:500;display:block;padding-bottom:8px;}
.board_write span .date{color: #EC831B;}
.board_write tr.background{background:#f8fbfd;}
.board_write input[type="checkbox"]{width:15px;height:15px;padding:3px}
.board_write input[type="radio"]{width:15px;height:15px;padding:3px}
.board_write input[type="text"]{border:1px solid #ddd;height:38px;line-height:38px;font-size:15px;}
.board_write input[type="number"]{border:1px solid #ddd;height:38px;line-height:38px;font-size:15px}
.board_write input[type="file"]{border:1px solid #ddd;height:42px;line-height:42px;font-size:15px;}
.board_write input[type="password"]{border:1px solid #ddd;height:38px;line-height:38px;font-size:15px;}
.board_write select{border:1px solid #ddd;height:38px;font-size:15px;padding:3px;}
.board_write .file img{vertical-align:middle;margin-right:5px;}
.board_write .file a{color:#0063bf;}
.board_write .file{font-size:12px;}
.board_write.table_nextprev{border-top:1px solid #d2d2d2;}



/* board_view */
.board_view{clear:both;width:100%;margin:0 0 25px;border-collapse:collapse;border-top: 3px solid #3c9593;}
.board_view thead th{padding:12px 5px; text-align:center; font-weight:600; border-bottom:1px solid #ddd; background:#f6f6f6;}
.board_view tbody th{border-bottom:1px solid #ddd;}
.board_view td{padding:13px 0; line-height:150%; text-align:center; border-bottom:1px solid #ddd; background:none;}
.board_view .last-child{background:none;}
.board_view td input.file{width:100%; background:#fff;} 
.board_view td input{margin:0 0 3px 0;} 

.board_view .sbj,
.board_view .con{padding-left:13px; text-align:left;}
.board_view .pic img{max-width:100%;}
.board_view .txt{padding:10px;}
.board_view .pdf_link{margin:0 auto;}
.board_view #attach_content p.image img {width:100%}

.board_view .left{text-align:left;padding-left:15px;padding-right:10px;}
.board_view th{border-bottom:1px solid #d2d2d2;border-left:1px solid #d2d2d2;font-size:15px;color:#333;line-height:150%;text-align:center;padding:10px 0;background:#f2f7fb;font-weight:500;}
.board_view th:first-child{border-left:none;}
.board_view th.line_on{border-bottom:1px solid #d2d2d2;border-left:1px solid #d2d2d2;}
.board_view td.line_out{border-left:none;}
.board_view td{border-bottom:1px solid #d2d2d2;border-left:1px solid #d2d2d2;font-size:15px;color:#333;line-height:150%;text-align:left;letter-spacing:-1px;padding:10px;font-weight:400;}
.board_view td .list li{padding-left:8px;line-height:150%;padding-top:5px;}
.board_view td .list li:first-child{padding-top:0;background-position:left 10px;}
.board_view td.cont img{width:100%;}
.board_view td .textarea{border:1px solid #ebebeb;vertical-align:top;}
.board_view td .textarea textarea{width:100%;border:0;padding:0;margin:0;height:300px;font-family:"Noto Sans KR";line-height:150%;vertical-align:top;}
.board_view td .info{font-size:13px;color:#999999;font-weight:300;line-height:150%;padding:5px 0;}
.board_view td .work{font-size:15px;color:#0066b3;font-weight:500;display:block;padding-bottom:8px;}
.board_view tr.background{background:#f8fbfd;}
.board_view .file img{vertical-align:middle;margin-right:5px;}
.board_view .file a{color:#0063bf;}
.board_view .table_nextprev{border-top:1px solid #d2d2d2;}
.board_view a.btn_view{display:inline-block; text-align: center; padding:2px 0 ; line-height: 20px; border-radius:5px; border: 1px #ddd solid; width:85px; text-decoration-line: none;}
.board_view a.btn_view::before{content: ''; display:inline-block; background: url("../../images/board_view__icon.png")no-repeat; height:20px;width: 22px; vertical-align: middle;  }
.board_view a.btn_sound{display:inline-block; text-align: center; padding:2px 0 ; line-height: 20px; border-radius:5px; border: 1px #ddd solid; width:80px; text-decoration-line: none;}
.board_view a.btn_sound::before{content: ''; display:inline-block;  background: url("../../images/board_sound_icon.png")no-repeat; height:20px;width: 22px; vertical-align: middle; }
.board_view a.btn_view:hover{color:#fff; background:#2a82a2; }
.board_view a.btn_sound:hover{color:#fff; background:#2a82a2;  }
.board_view a.btn_list_view{display:inline-block; text-align: center; padding:2px 0 ; line-height: 20px; border-radius:5px; border: 1px #ddd solid; width:95px; text-decoration-line: none;}
.board_view a.btn_list_view::before{content: ''; display:inline-block;  background: url("../../images/board_list_view_icon.png")no-repeat; height:20px;width: 22px; vertical-align: middle; }
.board_view a.btn_list_view:hover{color:#fff; background:#cb7f3a; }
.board_view th span.date{ margin-left: 50px; font-size:13px; color:#1c7882; }
.board_view .board_movie{width:480px; margin:0 auto; text-align:center;}
.attached_file{display:inline-block !important;}
.board_contents ul {list-style: circle inside; margin:0; padding:0;}
.board_contents ol {list-style: decimal inside; margin:0; padding:0;}
.board_contents ul li,
.board_contents ol li {list-style: inherit;}
.board_contents em { font-style: italic; }
.board_contents table caption {position:initial; left:initial; position:initial; width:inherit; height:initial; font-size:initial; line-height:initial; overflow:initial; text-align:initial;}
.board_contents ul li img{width:100%;}

.photo_head {float: right;}
.photo_head li{display: inline-block; width:7%; margin:0 2% 2%; 0;  height:40px; }

/* 비밀번호 */
#password{clear:both; width:100%; margin:0 auto; padding:10px; border-top:2px solid #d4d4d4; border-bottom:1px solid #d4d4d4; box-sizing:border-box;}
#password .detail{margin:0 0 5px 0;}
#password .detail .title{margin:0 0 10px 0;}
#password .btn{margin:25px 0 0 0; text-align:center;}

/* */
.box_chk {padding:40px 0 45px;background: #ebeef2;text-align:center;}
.box_chk .inner{width:100%; margin:0 0 20px;}
.box_chk .inner *{display:block; margin:0 auto;}
.box_chk .tit{font-size:22px;}
.box_chk label{padding:4px 0 12px; font-weight:400; color:#333;}
.box_chk input{width:270px;border: 2px solid #3c9593;}
.box_chk p{line-height:140%; padding:12px 0 22px; font-size:14px; color:#555;}
.box_chk button + button{margin:0 0 0 7px;}




/* board_search */
.board_search{clear:both; width:100%; margin:10px 0 20px 0; padding:20px 0 20px 0; text-align:center; background:#f9f9f9; border-top:1px solid #ccc; border-bottom:1px solid #ccc; position: relative;}
.board_search dt {float:left; width: 20%; margin-bottom: 5px; font-size:14px;}
.board_search dd {text-align: left; margin-bottom: 5px; margin-bottom: 5px;}
.board_search form .search{padding:0 10px 0 0; text-align:center;}
.board_search form select{background:#fafafa;}
.board_search .btnSearch{padding:0 0 0 5px; border:0;}
.board_search * {vertical-align:middle;}
.board_search .btn{min-width:60px; height:42px; line-height:40px;}

.board_search label{font-size:14px;margin:0 5px 0 20px;vertical-align:middle;}
.board_search select{font-size:14px;padding:4px;border:1px solid #cbcbcb;}
.board_search input{margin:0;padding:4px;font-size:14px;border:1px solid #cbcbcb;}
.board_search .form01{display:inline}
.board_search .form02{display:inline}
.board_search .form01 img{vertical-align:middle}
.board_search .form02 input[type="checkbox"]{margin-left:10px}
.board_search .form_btn{display:inline; padding:6px 15px;background-color:#008183;border-radius:5px;color:#fff;text-align:center;width:50px;font-size:14px;display:inline-block;}
.board_search a.form_btn:hover{background-color:#64636e; text-decoration-line: none;}
.round_txt dt {float:left; width: 20%; margin-bottom: 5px; font-size:14px;}
.round_txt dd {text-align: left; margin-bottom: 5px; margin-bottom: 5px;}
.round_txt p {text-align: left; margin-bottom: 5px; margin-bottom: 8px;}

.round_txt .form_btn{display:inline; padding:6px 15px;background-color:#008183;border-radius:5px;color:#fff;text-align:center;width:50px;font-size:14px;display:inline-block;}
.round_txt a.form_btn:hover{background-color:#64636e; text-decoration-line: none;}
.round_txt input{margin:0;padding:4px;font-size:14px;border:1px solid #cbcbcb;}

/* board_sch */
.board_total{padding:13px 0 21px 0; color:#666; box-sizing:border-box;}
.board_total:before{content:''; display:inline-block; width:22px; height:13px; margin:-3px 0 0 0; vertical-align:middle; background:url("../../images/board_total.png") no-repeat;}
.board_total strong{color: #292e44;}

.board_sch{float:right; width:416px; margin:0 0 20px; text-align:center;}
.board_sch fieldset{display:block; position:relative; padding:0 63px 0 133px;}
.board_sch .sel{position:absolute; top:0; left:0; width:130px;}
.board_sch .sel:after{content:''; display:block; position:absolute; top:50%; right:9px; transform:translateY(-50%); border-top:5px solid #000; border-left:3px solid transparent; border-right:3px solid transparent;}
.board_sch select,
.board_sch input[type="text"]{width:100%; height:40px; line-height:38px; padding:0 0 0 9px; border:1px solid #d2d2d2; box-sizing:border-box; background:none; background-color:#fff;}
.board_sch select{padding:0 0 0 6px; -webkit-appearance:none; -moz-appearance:none; -moz-appearance:none;}
.board_sch select::-ms-expand{display:none;}
.board_sch .btn{position:absolute;top:0;right:0;height:40px;width:60px;min-width:0;padding:0;font-size:0;text-indent:-999px;border:none;border-radius:0;background: #3c9593;}
.board_sch .btn:before,
.board_sch .btn:after{content:''; display:block; position:absolute; top:9px; left:19px; width:18px; height:18px; border:3px solid #fff; border-radius:50%; box-sizing:border-box;}
.board_sch .btn:after{left:32px; top:24px; width:9px; height:4px; border:none; border-radius:2px; transform:rotate(45deg); background:#fff;}
.board_sch select:focus,
.board_sch input[type="text"]:focus{box-shadow:1px 1px 4px rgba(0,0,0,0.15);}
.board_sch .btn:hover{background-color:#2a3649;}

#sub_gallery .boardSearch{overflow:hidden; width:100%; height:20px; border-bottom:2px solid #8da6d1; padding:0 0 10px 0; margin:0 0 23px 0;}
#sub_gallery .total{float:left;}
#sub_gallery .boardSearch fieldset{float:right;}
#sub_gallery .boardSearch select{width:78px; border:1px solid #7f9db9; line-height:18px; height:18px;}
#sub_gallery .boardSearch #key{width:110px; height:16px; line-height:16px; margin:0; padding:0;}
#sub_gallery .none{padding:50px 0; background:#f9f9f9; border-top:1px solid #ccc; border-bottom:1px solid #ccc; text-align:center;}


.board_btn{clear:both; overflow:hidden; width:100%; margin:0 0 10px 0; padding:30px 0 0 0; text-align:right;}

/* normal table */
.normal{width:100%; border-collapse:collapse; text-align:center;}
.normal th,
.normal td{padding:12px 5px; border-left:1px solid #eaeff2; border-bottom:1px solid #ddd; border-top:1px solid #ddd;}
.normal th{font-weight:600; border-left:none; background:#f7f7f7;}
.normal .sbj,
.normal .con{padding-left:10px; text-align:left; word-break:keep-all;}
.normal img{max-height:90px; margin-left:10px;}

/* photo */
.photo_list{clear:both; width:100%; width:calc(100% + 24px); margin:0 -20px;}
.photo_list:after{content:''; display:block; clear:both; width:100%;}
.photo_list li{float:left; width:24.3%; padding:0 5px; margin:0 0 27px 0; box-sizing:border-box; vertical-align:top;} 
.photo_list li *{display:block;}
.photo_list li a{overflow:hidden; box-shadow:0 0 8px rgba(0,0,0,0.2); height:250px; border-radius:15px; border:1px solid #ddd; background:#fff;}
.photo_list li a:hover{box-shadow: 0 0 0 2px #3c9593;transition:0.25s ease-in-out;}
.photo_list li .img{overflow:hidden; text-align:center;}
.photo_list li .img img{display:inline; width:100%; height:180px; object-fit: cover;  transition:all 0.25s ease-in-out;}
.photo_list li a:hover img,
.photo_list li a:focus img{transform:scale(1.1);}
.photo_list li .title{ text-align: center;overflow:hidden; width:90%; padding:5px; 0 5px; text-overflow:ellipsis; white-space:nowrap; font-weight:600;}
.photo_list li .date{color:#838383;text-align: center; font-size:95%;  padding:5px; 0 5px;}



/* cast */
.cast_list {overflow:hidden; width:100%; margin:0 0 2em 0;}
.cast_list .img{float:left; width:213px; margin:3px 0 0 0;}
.cast_list .img img{border:3px solid #d1d1d1;}
.cast_list .txt{float:right; width:70%;}
.cast_list .txt li{padding:0.3em 0; border-top:1px solid #e7e7e7;}
.cast_list .txt li:first-child{border-top:none; padding-top:0;}
.cast_list .txt li *{display:inline-block; vertical-align:top;}
.cast_list .txt li .tit{width:45px;}
.cast_list .txt li .con{width:75%; overflow:hidden; text-overflow:ellipsis; word-wrap:normal;}


@media all and (max-width:1240px) {
.profile dt{left:4.5%; width:35%; max-width:140px;}
.profile .name{padding:3px 0 20px;}
.profile .name strong{line-height:32px; font-size:23px;}
}

@media all and (max-width:1024px){
.profile{width:49%;}
.profile dl{padding:0 0 0 38%;}
.profile dt{left:4.5%; width:35%; max-width:155px;}
.profile dt img{width:87%; max-width:119px;min-width: 0; height:auto;}
.profile dd{min-height:187px;}
.profile .name{padding:0 0 15px;}
.profile .name strong{font-size:25px;}
.profile dd li{padding-bottom:7px;}	
	
    .board_view .pic{width:85%;}
    .board_view .pic img{max-width:100%;}
    .board_view .info{width:85%;}
    .board_view .txt{width:80%;}

    table.bbs_gallery div#attach_content_container {margin:0 auto 10px;max-width:520px;} /* 160325     ȣ */
    .photo li{float:none; display:inline-block; padding:0 0.5em 1.5em 0.5em;}

	.board_search2 select{width:20%;}
	.board_search2 input[type="text"]{width:44%;}

	#attach_content .pdf_list .pdf_link,
    #attach_content .pdf_list .pdf_link iframe{width:520px !important;}

	.cast_list .img{width:24%;}
	
	.magazine .img img{height:250px; max-width:100%;}
}

@media all and (max-width:768px){
	
.sub_tab_Area li a{font-size:0.9em;}
.sub_tab_Area li{display: inline-block; width:90%; margin-right: 5px;  height:46px; text-align:center; border-top:1px solid #ddd; border-right:1px solid #ddd; border-left:1px solid #ddd;}
	
#pro_popupArea h2 {color:#fff; font-size:25px; background:#6faca3; line-height: 50px; padding: 0 10px;}
#pro_popupArea dl{position:relative; float:left; width:100%; padding:0 0 0 50%; box-sizing:border-box;}
#pro_popupArea dt{position: absolute; top:0; left:7.7%;}
#pro_popupArea dt img{max-width:110px;  border:1px solid #e5e5e5;}
#pro_popupArea dd{float:left; width:100%; min-height:200px;}
#pro_popupArea .name {overflow:hidden; width:100%; padding:8px 0 20px 0; font-family: 'PTAnbo'}
#pro_popupArea .name strong{float:left; display:block; line-height:30px; font-size:27px; font-weight:900; color:#000; letter-spacing:-2px;}
#pro_popupArea dd ul{clear:both; width:90%;}
#pro_popupArea dd li{position:relative; padding:0 0 4px 87px; line-height:135%; box-sizing:border-box;}
#pro_popupArea dd li *{display:inline-block; vertical-align:top;}
#pro_popupArea dd li:before{border:none;background: #5ca49a;top: 8px;width: 4px;height: 4px;}
#pro_popupArea dd li em{position:absolute;top:0;left: 11px;width:85px;letter-spacing:2px;}
#pro_popupArea dd li:first-child em{letter-spacing:13px;}
#pro_popupArea dd li:nth-child(3) em{letter-spacing:0;}
#pro_popupArea dd li span{width:100%; word-break:break-all;}
#pro_popupArea dd li .colon{position:absolute;top:0;left: 78px;width:auto;}	
#pro_popupArea .pop_memb {padding: 5px;}	

.icon_btn{ width:100%; text-align: left; margin-bottom: 10px;}
.icon_btn a.cal_btn01{display:inline-block; line-height:25px; border-radius: 5px; width:30px;  height:25px; text-align: center; color:#fff; font-weight: 400; font-size: 14px; background-color:#449596; padding:5px 10px;}
.icon_btn a.cal_btn03{display:inline-block; line-height:25px; border-radius: 5px; width:50px;  height:25px; text-align: center; color:#fff; font-weight: 400; font-size: 14px; background-color:#446280; padding:5px 10px;}
.icon_btn a.cal_btn02{display:inline-block; line-height:25px; border-radius: 5px; width:50px;  height:25px; text-align: center; color:#fff; font-weight: 400; font-size: 14px; background-color:#446280; padding:5px 10px;}	
	
	
.profile{overflow:hidden; width:100%; height:auto; padding:20px 0 0 0;}
.profile dl{padding:0 0 27px 170px;}
.profile dt{left:3.5%;}
.profile dd{min-height:135px;}
.profile .name strong{font-size:23px;}
.profile .btns{margin:1em 0 0 0;}	
	
.member_list > ul > li{width:100%}
.member_list > ul > li > dl > dt > span a{display:inline-block;   min-width:300%;}
.member_list > ul > li > dl > dt > p img{max-width:120px; max-height:145px; margin:10px;  border:1px solid #e5e5e5;min-width: 120px;}  
.member_list > ul > li > dl > dt > span{display:block;width:100%;  box-sizing:border-box;margin-top:40px;text-align:center; }
.member_list > ul > li > dl > dt > span a{display:inline-block;   min-width:300%; height:50px; line-height:50px;color:#292e45; font-size:14px;}
.member_list > ul > li > dl > dd > p{font-size:20px; font-weight:900; color:#000; margin:30px 0 20px 0;}
	
	.calendar div a.reserve{font-size:11px;letter-spacing: -0.05em;border-radius: 5px; padding: 3px;margin-bottom: 5px}
	.calendar div a.reserve_01{font-size:11px;letter-spacing: -0.05em;border-radius: 5px; padding: 3px;margin-bottom: 5px}
	.calender_btn span.title{width:100%; font-size: 1.2em; padding: 20px;}
	.calender_btn { clear:both; width: 100%; text-align: left;}
	.ico_new{margin:1px 0 0 3px;}
	.file_list{right:auto; left:20px; width:300px;}

   .board_list {background:none;}
    .board_list colgroup,
	.board_list thead,
    .board_list td:first-child,
    .board_list td:nth-child(5){display:none;}

	.board_list tr{float:left; width:100%; padding:11px 2px 10px 5px; border-bottom:1px solid #d4d4d4; box-sizing:border-box;}
    .board_list td{display:block; position:relative; float:left; line-height:135%; padding:1px; border:none; box-sizing:border-box; text-align:left; color:#737373;}
	.board_list td.sbj,
	.board_list td.con{width:100%; padding:2px 1px 4px; font-weight:600; font-size:103%; color:#565656;}
	.board_list td:after{content:''; display:inline-block; width:1px; height:11px; margin:4px 12px 0 12px; vertical-align:top; background:#ccc;}
	.board_list td.sbj:after,
	.board_list td.con:after,
	.board_list td:last-child:after{display:none;}
	.board_list tbody tr:last-child th, .board_list tbody tr:last-child td{border-bottom:none;}
	.board_list tbody tr:last-child{border-bottom-color:#567c98;}
	
	.paging{text-align:center;padding-bottom:40px;}
	.paging a{display:inline-block;border:1px solid #c4c4c0;width:auto;height:auto;line-height:inherit;padding:5px}
	.paging strong{display:inline-block;border:1px solid #3c9593;width:auto;height:auto;line-height:inherit;color:#3c9593;padding:5px}
	.paging a:hover{display:inline-block;border:1px solid #3c9593;width:auto;height:auto;line-height:inherit;color:#3c9593;font-weight:bold;}
	.paging a:focus{display:inline-block;border:1px solid #3c9593;width:auto;height:auto;line-height:inherit;color:#3c9593;font-weight:bold;}
	.paging a.on{display:inline-block;border:1px solid #3c9593;width:auto;height:auto;line-height:inherit;color:#3c9593;}
	.paging a.l_font{width:auto;height:auto;line-height:inherit;vertical-align:top;}
	.paging a.l_font:hover{line-height: inherit}
	
	.bbs_bill td{width:50%; color:#565656; box-sizing:border-box;}
	.bbs_bill th + td{width:100%;}
	.bbs_bill td:first-child,
	.bbs_bill td:nth-child(5){display:block;}
	.bbs_bill td:before{content:attr(data-cell-header); display:inline-block; padding:0 4px 0 0; vertical-align:top; color:#565656;}
	.bbs_bill td:after{position:absolute; right:10px; top:50%; margin:-7px 0 0 0;}
	.bbs_bill td:first-child:after,
	.bbs_bill td:nth-child(even):after{display:none;}

.report_list li .img{width:100%}	
	
.board_view{background:none;}
.board_view .sb_hit,
.board_view .con_hit,
.board_view colgroup{display:none;}
.board_view thead th:last-child{font-size:110%; text-shadow:0 1px 0 #f3f3f3;}
.board_view tr:first-child th,
.normal tr:first-child th{width:20%;}
#attach_content .pdf_list .pdf_link{width:95% !important;}
#attach_content .pdf_list .pdf_link iframe{width:100% !important;}
   
.board_total{padding:0 0 17px 0; font-size:14px;}
.board_total .page:before{margin:-2px 8px 0;}
.board_sch{float:none; width:100%; margin:0 0 7px;}
.board_sch fieldset{padding:0 63px 0 113px;}
.board_sch .sel{width:110px;}
	

.photo_list li{margin:0 0 24px;}
.photo_list li a{height:250px;}
.photo_list li .img img{max-height:155px;}
.photo_list li{width:50%; }	
.photo {text-align:center;}
.photo li{padding:0 0.3em 1.5em 0.3em;}
table.bbs_gallery div#attach_content_container {margin:0 auto 10px;max-width:330px;} /* 160325     ȣ */

.board_search2 .total,
.board_search2 form{width:100%; text-align:left;}
.board_search2 .total{margin:0 0 0.3em 0;}

#sub_auth #auth_opt .opt_list{width:100%;}
#sub_auth #opt_phone{margin:0 0 25px;}

.vod_tit .tit{font-size:21px;}
.vod_tit p{line-height:110%; font-size:13px;}
.vod_list .txt em{font-size:16px;}
	
.table_wrap{overflow-x:auto; overflow-y:hidden;}
.table_info{display:block;}
.table_wrap .board_n_list{width:567px;}
	
.magazine .inner{padding:25px 0 0 0;}
.magazine .img img{height:210px; box-shadow:1px 1px 10px rgba(0,0,0,0.11);}
.magazine .date{padding:9px 0 0 11px; font-size:13px;}
.magazine .btns{height:50px;}
.magazine .btn{line-height:50px;}
.magazine .btn:after{margin-left:6px;}
}
@media all and (max-width:660px) {
	.vod_list a{height:200px;}
}
@media all and (max-width:568px) {
.profile dl{padding:0 0 23px 38%;}
.profile .name{padding:0 0 12px;}
.profile .name strong{font-size:21px;}
.profile dd li{padding:0 0 5px 80px;}
.profile dd li:before{top:5px;}
.profile .btns a{height:47px; line-height:47px;}
.profile dd li .colon{left:75px;}

.sub_tab_Area{font-size:0.9em;}}	
	
.file_list{right:auto; left:-148px; width:280px;}
.ico_file.on + .file_list{top:30px;}



.board_n_list .taL,
.board_n_list .sbj,
.board_n_list .con{padding-left:10px;}
.box_chk .tit{font-size:21px;}
#sub_auth h4:before{width:80px; height:80px; background-size:23px;}
			
	
}

@media all and (max-width:480px) {
.board_view .board_movie{width:100%; margin:0 auto; text-align:center;}

}

@media all and (max-width:380px) {
.profile dd li:first-child em{letter-spacing:12px;}
.profile dd li .colon{left:72px;}
.profile .name strong{font-size:20px;}
.profile .sns{width:100%; padding:5px 0 0 0;}
	
	

.sub_tab_Area{font-size:0.9em;}
.table_info{font-size:12px;}
.vod_list a{height:165px;}
.board_list,
.board_n_list{font-size:14px;}
	
.box_chk .tit{font-size:20px;}
	
.board_total{padding:0 0 15px 0; font-size:13px;}
.board_total .page:before{margin:-2px 7px 0;}
.board_sch fieldset{padding:0 53px 0 88px;}
.board_sch .sel{width:85px;}
.board_sch .btn{width:50px; height:35px;}
.board_sch .btn:before{width:16px; height:16px; top:8px; left:16px;}
.board_sch .btn:after{top:21px; left:26px;}
.board_sch select,
.board_sch input[type="text"]{height:35px; line-height:34px; padding:0 0 0 6px;}
.board_sch select{padding:0 0 0 3px;}
	
.photo_list li{margin:0 0 14px;}
.photo_list li a{height:175px;}
.photo_list li .img img{max-height:101px;}
.photo_list li .title{padding:0 0 2px;}
	
}
