
  @font-face {
    font-family: 'PTAnbo';
	font-style:normal;
	font-weight: 400;
    src:url('../../common/fonts/PTAnbo.eot') ,
		url('../../common/fonts/PTAnbo.eot?#iefix') format('embedded-opentype'),
        url('../../common/fonts/PTAnbo.otf') format('opentype'),
	   url('../../common/fonts/PTAnbo.woff2') format('woff2'),
	   url('../../common/fonts/PTAnbo.ttf') format('truetype');
}


@font-face {
    font-family: 'PTAnbo';
	font-style:normal;
	font-weight: 600;
    src:url('../../common/fonts/PTAnbo.eot') ,
		url('../../common/fonts/PTAnbo.eot?#iefix') format('embedded-opentype'),
        url('../../common/fonts/PTAnbo.otf') format('opentype'),
	   url('../../common/fonts/PTAnbo.woff2') format('woff2'),
		url('../../common/fonts/PTAnbo.ttf') format('truetype');
}

   @font-face {
    font-family: 'PTAnbo';
	font-style:normal;
	font-weight: 800;
    src:url('../../common/fonts/PTAnbo.eot'),
		url('../../common/fonts/PTAnbo.eot?#iefix') format('embedded-opentype'),
        url('../../common/fonts/PTAnbo.otf') format('opentype'),
	   url('../../common/fonts/PTAnbo.woff2') format('woff2'),
		url('../../common/fonts/PTAnbo.ttf') format('truetype');
}

 @font-face {
    font-family: 'PTBandoche';
	font-style:normal;
	font-weight: 300;
    src:url('../../common/fonts/PTBandocheR.eot'),
		url('../../common/fonts/PTBandocheR.eot?#iefix') format('embedded-opentype'),
        url('../../common/fonts/PTBandocheR.otf') format('opentype'),
		 url('../../common/fonts/PTBandocheR.woff2') format('woff2'),
		url('../../common/fonts/PTBandocheR.ttf')format('truetype');
}

@font-face {
    font-family: 'PTBandoche';
	font-style:normal;
	font-weight: 400;
    src:url('../../common/fonts/PTBandocheR.eot'),
		url('../../common/fonts/PTBandocheR.eot?#iefix') format('embedded-opentype'),
        url('../../common/fonts/PTBandocheR.otf') format('opentype'),
		 url('../../common/fonts/PTBandocheR.woff2') format('woff2'),
		url('../../common/fonts/PTBandocheR.ttf')format('truetype');
}

 /*가려놓기 
 @font-face {
    font-family: 'PTBandoche';
	font-style:normal;
	font-weight: 600;
    src:url('../../common/fonts/PTBandocheR.eot'),
		url('../../common/fonts/PTBandocheR.eot?#iefix') format('embedded-opentype'),
        url('../../common/fonts/PTBandocheR.otf') format('opentype'),
		 url('../../common/fonts/PTBandocheR.woff2') format('woff2'),
			url('../../common/fonts/PTBandocheR.ttf')format('truetype');
}
*/

 @font-face {
    font-family: 'PTBandoche';
	font-style:normal;
	font-weight: 600;
    src:url('../../common/fonts/PTBandocheR.eot'),
		url('../../common/fonts/PTBandocheR.eot?#iefix') format('embedded-opentype'),
        url('../../common/fonts/PTBandocheR.otf') format('opentype'),
		 url('../../common/fonts/PTBandocheR.woff2') format('woff2'),
			url('../../common/fonts/PTBandocheR.ttf')format('truetype');
}

 @font-face {
    font-family: 'PTBandoche';
	font-style:normal;
	font-weight: 700;
    src:url('../../common/fonts/PTBandocheR.eot'),
		url('../../common/fonts/PTBandocheR.eot?#iefix') format('embedded-opentype'),
        url('../../common/fonts/PTBandocheR.otf') format('opentype'),
		 url('../../common/fonts/PTBandocheR.woff2') format('woff2'),
			url('../../common/fonts/PTBandocheR.ttf')format('truetype');
}

 
   @font-face {
    font-family: 'PTNoeul';
	font-style:normal;
	font-weight: 400;
    src:url('../../common/fonts/PTNoeulR.otf') format('opentype'),
			url('../../common/fonts/PTNoeulR.ttf')format('truetype');
}
   @font-face {
    font-family: 'PTNoeul';
	font-style:normal;
	font-weight: 600;
    src:url('../../common/fonts/PTNoeulR.otf') format('opentype'),
		url('../../common/fonts/PTNoeulR.ttf')format('truetype');}
@font-face {
    font-family: 'PTNoeul';
	font-style:normal;
	font-weight: 800;
    src:url('../../common/fonts/PTNoeulR.otf') format('opentype'),
		url('../../common/fonts/PTNoeulR.ttf')format('truetype');
}

   @font-face {
    font-family: 'PTNoeul';
	font-style:normal;
	font-weight: 400;
    src:url('../../common/fonts/PTNoeulB.otf') format('opentype'),
	   url('../../common/fonts/PTNoeulB.woff2') format('woff2'),
		url('../../common/fonts/PTNoeulB.ttf')format('truetype');
}
   @font-face {
    font-family: 'PTNoeul';
	font-style:normal;
	font-weight: 600;
    src:url('../../common/fonts/PTNoeulB.otf') format('opentype'),
	   url('../../common/fonts/PTNoeulB.woff2') format('woff2'),
		url('../../common/fonts/PTNoeulB.ttf')format('truetype');
}
}
   @font-face {
    font-family: 'PTNoeul';
	font-style:normal;
	font-weight: 800;
    src:url('../../common/fonts/PTNoeulB.otf') format('opentype'),
	   url('../../common/fonts/PTNoeulB.woff2') format('woff2'),
		url('../../common/fonts/PTNoeulB.ttf')format('truetype');
}
}


@font-face {
	font-family:'NanumBarunGothic';
	font-style:normal;
	font-weight:500;
	src: url('../../common/font/NanumBarunGothic.otf') format('opentype'),;
	}
	
	@font-face {
	font-family:'NanumBarunGothic';
	font-style:normal;
	font-weight:600;
	src: url('../../common/font/NanumBarunGothicBold.otf') format('opentype');
	}
	
	@font-face {
	font-family:'NanumBarunGothic';
	font-style:normal;
	font-weight:400;
	src: url('../../common/font/NanumBarunGothicLight.otf') format('opentype');
	}
	
	@font-face {
	font-family:'NanumBarunGothic';
	font-style:normal;
	font-weight:800;
	src: url('../../common/font/NanumBarunGothicUltraLight.otf') format('opentype');
	}
	
