@charset "utf-8";
/* CSS Document */
@import url("font_style.css");
@import url("common.css");
@import url("board_lyout.css");

#skip-navigation{z-index:9999; position:absolute; left:0; top:0;}
#skip-navigation *{list-style:none; margin:0; padding:0;}
#skip-navigation a{display:block; width:1px; height:1px; overflow:hidden; color:#000; white-space:nowrap;}
#skip-navigation a:focus,
#skip-navigation a:active{width:100px; height:auto; background:#ffd;}
#fontSize{float:left; width:100%;}


#top{position:relative; width:100%; height:44px; background: #c4c4c4;}
#top:after{content:''; display:block; clear:both; width:100%;}

.inner{position:relative; width:1280px; margin:0 auto; box-sizing:border-box;}
.inner:after{content:''; display:block; clear:both; width:100%;}

.top_link {float:left;height: 53px;display: flex;flex-wrap: wrap;line-height:20px; letter-spacing:-2px;font-weight:400;}
.top_link > li{float:left;position:relative;}
.top_link > li > a { display:block;font-size:18px;  color:#fff;line-height:44px;height:44px;width:200px;text-align:center; text-decoration:none; background:#a9a9a9;border-right:6px solid #c4c4c4;}
/* top_link on  */
.top_link  > li > a.on{background:#fff;color:#000000;}
.top_link  > li > a.ptcity{background:#a8a8a8;color:#fff;}
.top_link  > li > a.sangim{background:#65a263;color:#fff;}
.top_link  > li > a.special{background:#6ca7a8;color:#fff;}
.top_link  > li > a.teen{background:#cd7369;color:#fff;}
.top_link  > li:first-child{margin-left:0;}
.top_link  > li > .top_link_sub{display:none;position:absolute;left:1px;right:6px;top:44px;z-index:1000;background:#c1d7c0;text-align:center;color:fff;}
.top_link  > li > .top_link_sub ul{margin:0 5px;}
.top_link  > li > .top_link_sub li{border-top:1px solid #fff;}
.top_link  > li > .top_link_sub li a{display:block;font-size:12px;height:32px;line-height:32px;}
.top_link  > li > .top_link_sub li a:hover{color:#458343;}
.top_link  > li > .top_link_sub li a:focus{color:#458343;}
.top_link  > li > .top_link_sub  li:first-child{border-top:0;}

#header {position:relative; width:100%; height:220px; background-image: url("../../images/topline_bg.gif"); background-repeat : repeat-x ;}
#header:after{ display:block; clear:both; width:100%;}
/*logo*/
/*logo*/
.logo {z-index:94;position:absolute;top: 50px;left:0;line-height:100%; text-align:left;}
.logo *{display:inline-block;vertical-align: middle;}
.logo a{text-decoration:none;color: #000;}
.logo img{margin:0 5px 0 0;}
.logo p{padding: 2px 0 3px;line-height:110%;font-family: 'PTBandoche';font-size: 36px;font-weight: 400;letter-spacing: -3px;}
.logo span > span{display:block;line-height:100%;font-size: 16px;font-weight: 300;color: rgba(51,51,51,0.8);letter-spacing: -2px;text-transform:uppercase;} 


/* menu */
#menuArea{overflow:hidden;position:absolute;left:0;top:172px;width:100%;z-index:93;  letter-spacing:-2px;border-bottom:1px solid #e2e2e2;  background:#fff  repeat-x;}
#menuArea.on{box-shadow:0 15px 15px rgba(0,0,0,0.15);}
#menuArea:before{z-index:1; content:''; display:block; position:absolute; top:59px; left:0; width:100%; height:1px; background:#e2e2e2;}
#menuArea .bar{display:block; position:absolute; top:57px; left:0; width:60px; height:3px; opacity:0; z-index:98; transition:0.3s;}

#topmenu{float:left; margin-left: 50px;  width:100%; padding:0 64px 0 0; box-sizing:border-box;}
#topmenu > li{position:relative; float:left; width:13.5%; line-height:0;}
#topmenu li.menu8,
#topmenu li.last{display:none;}
#topmenu > li > a{display:block;line-height:59px;font-family:'PTbandoche';font-size:24px;font-weight: 500;  text-align:center;text-decoration:none;z-index:97;}

#topmenu > li:hover > a,
#topmenu > li > a:hover,
#topmenu > li > a:active,
#topmenu > li > a:focus,
#topmenu > li.current_on > a{font-weight:600;color:#2b9900;}

#topmenu li .menu{display:none; z-index:96; width:100%; height:280px; padding:15px 0 0 0; margin:1px 0 0 0; box-sizing:border-box; border-right:1px solid #e5e5e5; background:#fff;}
#topmenu li:first-child .menu{border-left:1px solid #e5e5e5;}
#topmenu li:focus .menu,
#topmenu li:hover .menu{background:#fbfbfb;}

#topmenu li ul li{float:none; width:100%;}
#topmenu li ul li a{display:block; margin:0 0 10px 0; padding:0 3px 0 7px; color:#151515; font-size:16px; text-align:left; line-height:120%;}

#topmenu li li a:hover,
#topmenu li li a:active,
#topmenu li li a:focus,
#topmenu li li.current_on a{color:#184c87;}

#topmenu ul ul{display:none !important;}



.btn_menu{z-index:95;position:absolute;top: 172px;right:50%;width:50px;margin:10px -650px 0 0;font-weight:400;color:#5e5e5e;}
.btn_menu .bar{display:block; width:21px; height:3px; margin:5px 0 5px 13px; background:#5e5e5e; transition:0.25s ease-in-out;}
.btn_menu .bar2{width:13px;}
.btn_menu span:not(.bar){display:block; line-height:100%; padding:5px 0 0 0; font-size: 0;}
.btn_menu:hover .bar2{width:21px;}

.btn_menu_close{display:block; z-index:96; position:absolute; top:27px; right:3%; width:50px; height:50px; border-radius:50%; border:2px solid #fff; background:none;}
.btn_menu_close .bar{position:absolute; top:24px; left:12px; display:block; width:25px; height:2px; background:#fff;}
.btn_menu_close .bar1{transform:rotate(45deg);}
.btn_menu_close .bar2{transform:rotate(-45deg);}






/* sns */
#header #sns {position: absolute; top: 64px; right: 491px; display: flex; flex-wrap: wrap; align-items: center;}
#header #sns li a {display: block; margin:0px; font-size: 0; width: 42px; height: 42px; background: url("../../images/sns_icon.png")no-repeat 0 0; }
#header #sns li a {filter: grayscale(100%);transition: filter 0.1s ease;}
#header #sns li :hover {filter: grayscale(0%);}
#header #sns li a.yt {background-position: -42px 0;}
#header #sns li a.inst {margin: 0;background-position: -84px 0;}
#header #sns li a.blog {margin: 0;background-position: -129px 0;}




#search h2{color: #fff; padding: 10px;}
#search{z-index:94;position: absolute;top: 62px;right: 126px;}
#search form{width: 344px;height: 34px;padding:0 60px 0 0;border: 4px solid rgba(94,188,186,29);border-radius: 20px;background:#fff;box-sizing:border-box;transition:0.25s ease-in-out;}
#search input[type="text"]{width:100%;height: 25px; color:#499492; line-height: 1;padding:0 0 0 25px;border-radius: 20px;border-color:#fff;border:none;text-align:left;box-sizing:border-box;}
#search ::-webkit-input-placeholder{color:#999;}
#search :-ms-input-placeholder{color:#999;}
#search ::placeholder{color:#999;}
#search button{position:absolute;top: 3px;right: 10px;width: 40px;height: 30px;padding:0;font-size:0;text-indent:-999px;border-radius: 0 3px 3px 0;}
#search button:before,
#search button:after{content:'';display:block;position:absolute;top: 5px;left: 5px;width: 15px;height: 15px;border: 2px solid #5ebcba;border-radius:50%;box-sizing:border-box;}
#search button:after{left: 16px;top: 18px;width: 7px;height: 3px;border:none;border-radius:3px;transform:rotate(45deg);background: #5ebcba;}
#search .btn_search{display:none; position:absolute; top:0; right:15px; width:30px; height:30px; padding:0; font-size:0; text-indent:-999px; background:transparent;}
#search .btn_search:before,
#search .btn_search:after{content:''; display:block; position:absolute; top:3px; left:3px; width:18px; height:18px; border:3px solid #318e8a; border-radius:50%; box-sizing:border-box; transition:0.25s ease-in-out;}
#search .btn_search:after{top:auto; left:auto; bottom:4px; right:6px; width:10px; height:3px; border:none; border-radius:3px; transform:rotate(45deg); transform-origin:100% 100%; background:#318e8a;}
#search ul{padding:0 0 0 3px;}
#search li{margin-bottom:10px; padding-left: 10px; font-size:15px;}
#search li:before{background:#fff;width: 5px; height: 5px; top: 8px;border: none;}




#zoom_control {position: absolute;top: 55px;right: 0; margin:9px 0 0 0;}
#zoom_control ul{float:left; background: url("../../images/zoom.png") no-repeat ;}
#zoom_control ul > li{float:left; text-align:center;}
#zoom_control ul > li > a{display:block;width:37px;height:37px;line-height: 37px;margin:0 0 0 3px;font-size:16px;font-weight:400;box-sizing:border-box;text-decoration:none;}
#zoom_control li.zoomin a{text-indent:-999px;font-size:0;}
#zoom_control li.zoomout a{text-indent:-999px;font-size:0;}








/* copyRight*/
.linksite{z-index:1;position:relative; height:50px; background: #333; clear:both;width:100%; margin: 20px 0 40px;}
.linksite:after{content:''; display:block; clear:both;}
.linksite .inner {display:flex; flex-wrap:wrap;  }
.linksite .inner > li{position: relative;float:left;width: 25%;background:#686868;text-align: center; margin-right: 5px;}
.linksite .inner > li.on{background:#111;}
.linksite .inner > li > a{position:relative;display:block;height: 50px;line-height: 50px;padding:0 0 0 29px;color:#fff;text-decoration:none;letter-spacing:-0.5px;}
.linksite .inner > li > a:after{content:''; display:block; position:absolute; top:50%; right:40px; width:12px; height:6px; margin:-3px 0 0 0; background:url("../../images/main/foot_site_open.png") no-repeat; transition:0.25s ease-in-out;}
.linksite .inner > li:nth-child(4) > a:after{width:20px; background-position:100% 0;}

.linksite .inner > li.on:not(:nth-child(4)) > a:after{transform:rotate(180deg); }
.linksite li div{display:none; text-align: left; z-index:56;position:absolute;bottom:50px;left:0;overflow:hidden;width:100%;border-radius:10px 10px 0 0;box-shadow:3px -5px 15px rgba(0,0,0,0.1);border:1px solid #ddd;border-bottom:none;box-sizing:border-box;background:#ddd;}
.linksite li.on div{display:block;}
.linksite li div ul{width:100%;overflow-x: hidden;overflow-y:auto;max-height:350px;min-height:155px;margin:0 auto;padding:19px 0.7em 24px 22px;box-sizing:border-box;}
.linksite li div ul li{position:relative;float:left;width: 100%;margin:0 1.2%;box-sizing:border-box;border-bottom:1px solid #fff; }
.linksite li div ul li:before{content:''; display:block; position:absolute; top:50%; left:0; width:2px; height:2px; margin:-1px 0 0 0; background:#aaa;}
.linksite li div ul li a{display:block;padding:12px 0 12px 10px;color:#333;transition:0.35s ease-in-out;box-sizing: border-box;}
.linksite li div ul li a:hover{box-shadow:inset 0 50px 0 rgba(0,0,0,0.04);}

#footer{position:relative; padding-bottom: 80px;  float:left;width:100%;}
#footer .info{position:relative; padding:0 0 0 300px; box-sizing:border-box;}
#footer:after{content:''; display:block; clear:both; width:100%;}
#footer .link{float:left; padding:3px 0 17px;}
#footer .link li{position:relative; display:inline-block;margin-right: 20px;}
#footer .link li:first-child:before{display:none;}
#footer .link li a {font-weight: 400;color: #666;}
#footer .link .privacy a{color: #ff3300;}
#footer .link .privacy a:hover{color: #ff3300;}
#footer .link .total {background: #333;  font-size:14px; padding: 5px 10px ; border-radius: 20px;  line-hight:50px; color: #fff;}
#footer .link .total span{ color: #c59209;margin-right: 20px;}
#footer .logo{top:0; color: #acacac; font-family: 'PTBandoche'; }
#footer .logo strong {font-size:36px; margin:15px 0 0 ;font-weight:400; color:#666;}
#footer .logo img {filter:grayscale(100%)}
#footer .logo span span{padding: 20px 0 0 0; ;font-family: 'PTBandoche';font-size: 12px;font-weight: 300;color: rgba(172,172,172,0.8);letter-spacing: 0;}
#footer address{clear:both;width:100%;padding: 0 0 10px; font-size:14px; font-weight: 300;color: #333; letter-spacing: -1px;}
#footer  address span{display: block; width:100%;}
#footer .copyright{color:rgba(126,126,126,0.7);font-size:14px;font-weight: 300;  text-transform:uppercase;}

/*
서브 레이아웃
*/
#subContent{position:relative;  max-width:1280px; margin:28px auto 0; padding:0 0 5em 0;}
#subContent:after{content:''; display:block; clear:both;}
#subContent #content{float:right; width:75%; }

/* 서브메뉴 */

#submenuArea{z-index:1;position:relative;float:left;width:20%;}
#submenuArea .sm_tit{overflow:hidden;position:relative;width:100%;height:120px;display: flex;flex-direction: column;justify-content: center;text-align:center;color:#fff;border-radius: 20px;background:#3e9a97 url("../../images/sub_title_bg.png") no-repeat;background-size:cover;}
#submenuArea .sm_tit h2{position:relative;padding: 25px 0 25px;font-size:36px;font-weight: 900; font-family:'PTAnbo';}

#submenuArea .sm_tit p{font-size: 15px;color:rgba(255,255,255,0.6);text-transform:uppercase;}
#submenuArea .depth2 {width:100%; margin:19px 0 0 0; box-sizing:border-box;}
#submenuArea .depth2 > li{line-height:0; margin-bottom:5px; }
#submenuArea .depth2 > li > a.hasUl:after {top: 17px;transform: rotate(0deg);}
#submenuArea .depth2 > li > a{position:relative;display: flex;flex-wrap: wrap;align-items: center;height:55px;padding: 0 45px 0 29px;font-size:18px;font-weight:300;color:#333;line-height: 1;border:1px solid #ddd; border-radius: 10px; text-decoration:none;box-sizing:border-box;background:#fff;}
#submenuArea .depth2 > li > a:after,
#submenuArea .depth2 > li > a:before{content:'';position:absolute;top:50%;right:20px;width: 19px;height: 19px;transform: translateY(-50%) rotate(-90deg);background: #cfcfcf url("../../images/sbm_icon.png") no-repeat 5px -56px ;border-radius:50%;}
#submenuArea .depth2 > li.current_on > a{color: #fff;font-weight:500; background: #3c9593; border-radius: 10px;}
#submenuArea .depth2 > li.current_on > a.hasUl {border-radius:5px 5px 0 0;}
#submenuArea .depth2 > li.current_on > a:before{display:none;}
#submenuArea .depth2 > li.current_on > a:after{background-position: 5px 8px;background-color: rgba(255,255,255,1);}
#submenuArea .depth2 li ul {display:none;padding: 10px 30px;background: linear-gradient(90deg, rgba(221,221,221,0.5) 0%, rgba(221,221,221,0.5) 80%);  border-radius: 10px; border-bottom: 1px solid #ddd;}

#submenuArea .depth2 li ul li a{position:relative;display:block;height: 34px;line-height: 34px;font-size: 16px;font-weight: 300;color:#333;text-decoration:none;}
#submenuArea .depth2 li ul li a:hover,
#submenuArea .depth2 li ul li a:focus,
#submenuArea .depth2 li ul li a:active,
#submenuArea .depth2 li ul li.current_on a{color: #076a77;font-weight:500;}


#subTitle{position:relative; width:100%;}
#subTitle h3{position:relative; padding:0px 0 45px 0; line-height:100%; font-family:'PTAnbo'; font-size:40px; font-weight:800;}

@media all and (max-width:1430px) {
	.logo{left:15px;}
	
	
	#mainmenu,.inner{width:100%;padding:0 15px;box-sizing:border-box;}
	.btn_menu{right:15px; margin:0;}
	
	#topmenu li .tit{left:15px; width:20%;}
	#topmenu .menu{padding:50px 15px 0 20%;}
	
}


@media all and (max-width:1280px) {
	.logo strong{font-size: 28px;}
	.logo span{font-size: 16px;}

	#topmenu > li > a{font-size:19px;}
	
	
	
	.linksite li div{left:15px; width:calc(100% - 30px);}
	.linksite .inner > li:first-child:before{left:15px;}
	#footer .info{padding:0 0 0 250px;}
	#footer .link li:before{margin:-2px 15px 0 13px;}
	#footer address{line-height:150%;}
}
@media all and (max-width:1024px) {
	#subContent #content{float:right; width:98%; }
	
	#header {position:relative; width:100%; height:100px; background-image: url("../../images/topline_bg.gif"); background-repeat : repeat-x ;}
	.logo{top:13px; left:15px;}
	.logo *{vertical-align:top;}
	.logo img{height:44px; margin:0 2px 0 0;}
	.logo span{text-align:left;font-size: 22px;}
	.logo strong{padding: 5px 0 2px;font-size: 24px;}
	.logo span > span{font-size: 16px;padding: 0;}
	
	img{max-width:100%;}
	.m{display:inline-block !important;}
	.w{display:none;}
	
	.btn_menu{top: 65px;}
	.btn_menu span:not(.bar){padding:5px 0 0 0;}
	
	/*  반응형 모바일메뉴 */
	.m_menu{position:fixed; top:0; right:-100%; width:60%; height:100%; overflow-y:auto; z-index:100; background:#ddd; transition:right 0.25s ease-in-out;}
	.m_menu .tit{display:none;}
	.m_menu.on{right:0;}
	.m_menu .m_top{position:relative; height:110px; background:##3d877c;}
	.m_menu .logo{position:absolute; top:35px; left:12px; color:#fff; text-align:left;}
	.m_menu > ul{float:left; width:100%; height:calc(100% - 110px);  box-sizing:border-box;}
	.m_menu > ul a{display:block; text-decoration:none; cursor:pointer;}
	.m_menu > ul > li{width:43%; border-bottom:1px solid #fff;}
	.m_menu > ul > li > a{position:relative; height:3em; padding:0 0 0 1em; line-height:3em; font-size:130%; font-weight:400; color:#fff; background:#72a6a5;}
	.m_menu > ul > li > a:before{display:none; content:''; position:absolute; top:50%; right:-8px; width:0; height:0; margin:-8px 0 0 0; border-left:15px solid #fff; border-top:15px solid transparent; transform:rotate(45deg);}
	.m_menu > ul > li.current_on > a,
	.m_menu > ul > li > .on{font-weight:600; background:#65a263;}
	.m_menu > ul > li.current_on > a:before,
	.m_menu > ul > li > .on:before{display:block;}
	.m_menu > ul > li > div {position:absolute; top:110px; left:43%; display:none; width:57%; height:calc(100% - 110px); padding:13px 0.8em 0 1.2em; border-top:3px solid ##9dc257; background:#fff; box-sizing:border-box;}
	.m_menu > ul > li.current_on .menu,
	.m_menu > ul > li .on + .menu{display:block !important;} 
	.m_menu > ul > li > div > ul > li {margin:0 0 2px; border-bottom:1px solid #e6e6e6;}
	.m_menu > ul > li > div > ul > li > a{position:relative; padding:8px 0 8px 1.2em; font-size:115%; font-weight:400;}
	.m_menu > ul > li > div > ul > li > a:before,
	.m_menu > ul > li > div > ul > li a[target="_blank"]:after{content:''; position:absolute; top:50%; right:8px; display:block; width:10px; height:10px; margin:-5px 0 0 0; }
	.m_menu > ul > li > div ul li.hasUl > a:after{content:'';display:block; position:absolute; top:50%; right:10px; width:8px; height:8px; margin:-7px 0 0 0; border-bottom:2px solid #555; border-right:2px solid #555; transition:transform 0.3s; transform:rotate(45deg); background:none;}
	.m_menu > ul > li > div ul li.hasUl > a.on:after{margin:-4px 0 0 0; transform:rotate(225deg);}
	.m_menu > ul > li > div ul li:not(.hasUl) > a[target="_blank"]:after{width:14px; height:14px; margin:-7px 0 0 0; }
	.m_menu > ul > li > div > ul > li > a:before{position:absolute;top: 15px;left:0.2em;width:13px;height:13px;margin:0;border:4px solid #9dc257;border-left:4px solid #9dc257;border-top:4px solid #9dc257;border-radius:50%;background:none;}
	.m_menu > ul > li > div > ul > li > ul{overflow:hidden; width:100%; margin:2px 0 0 0; padding:0.6em 0 0.5em 0.5em; box-sizing:border-box; background:#f3f3f3;}
	.m_menu > ul > li > div > ul > li > ul li a{position:relative; padding:4px 0 4px 13px;}
	.m_menu > ul > li > div > ul > li > ul li a:before{content:'';display:block;position:absolute;top: 13px;left:4px;width:4px;height:4px;border-radius:50%;background:#333;}
	.m_menu > ul > li.current_on .current_on > a{font-weight:600; color:#222;}
	
	#header #sns {position: absolute; top:20px; right:150px;}
	#header #sns li a {margin:0; width:42px; height:42px; border-radius:0; background-position:-1px -1px;}
	#header #sns li a.yt {background-position: -42px -1px;}
	#header #sns li a.inst {margin: 0;background-position: -84px -1px;}
	#header #sns li a.blog {margin: 0;background-position: -130px -1px;}
	
	#zoom_control ul{display:none;}
	#zoom_control{margin:5px 0 0 0;}
	
	#search{position:absolute; top:20px; left:0; width:100%;}
	#search:before{opacity:0; visibility:hidden; content:''; position:absolute; top:60px; left:50%; width:0; height:100%; transition:0.3s ease-in-out;}
	#search.on:before{opacity:1; visibility:visible; left:0; width:100%; background:rgba(0,0,0,0.5);}
	#search form{visibility:hidden; opacity:0; position:absolute; top:45px; left:50%; width:0; height:auto; padding:40px 65px 40px 20px; border-color:#318e8a; background:#318e8a;}
	#search.on form{opacity:1; visibility:visible; width:100%; left:0; padding:20px 65px 40px 20px; border:none;}
	#search button{top:40px; right:20px;}
	#search .btn_search{ display: block; top: 0; left: auto; right: 55px;}
	#search.on .btn_search{display:block;}
	#search button:before{ border-color:#fff;}
	#search button:after{background-color:#fff;}
	
	.linksite .inner > li > a{height:50px; line-height:50px; padding:0 0 0 25px;}
	.linksite .inner > li > a:after{right:15px;}
	.linksite li div{bottom:52px;}
	#footer address span{display:block;}
	#footer .copyright{font-size:13px;}
}
@media all and (max-width:768px) {
	#header {position:relative; width:100%; height:130px; background-image: url("../../images/topline_bg.gif"); background-repeat : repeat-x ;}
	.logo {top:10px; left:10px;}
	.logo img{height:41px;}
	.logo strong{font-size: 23px;}
	.logo span > span{ font-size: 14px;letter-spacing:-0.6px;}
	
	.inner{padding-right:10px; padding-left:10px;}
	
	.btn_menu{top:  60px;right:10px;width:40px;}
	.btn_menu .bar{width:24px; margin:5px auto;}

	.btn_menu_close{top:17px; width:35px; height:35px;}
	.btn_menu_close .bar{top:16px; left:4px;}
	.btn_menu span:not(.bar){font-size:0; text-indent:-999px;}
	
	
	.m_menu .m_top{height:72px;}
	.m_menu .m_top .logo{top:15px;color: #fff;}
	.m_menu > ul {height:calc(100% - 72px);}
	.m_menu > ul > li > a{padding:0 0 0 0.7em; font-size:16px;}
	.m_menu > ul > li > a:before{right:-7px; margin:-7px 0 0 0; border-left:13px solid #fff; border-top:13px solid transparent;}
	.m_menu > ul > li > div{top:72px; height:calc(100% - 72px); padding:0.6em 0.7em 0.5em 0.7em;}
	.m_menu > ul > li > div > ul > li > a{font-size:15px; background-size:13px;}
	.m_menu > ul > li > div > ul > li > a:before{top: 14px;width:10px;height:10px;border-width:3px;}
	.m_menu > ul > li > div > ul > li > ul{padding:0.5em 0 0.4em 0.4em;}
	.m_menu > ul > li > div > ul > li > ul li a{font-size:14px;}
	.m_menu > ul > li > div > ul > li > ul li a:before{top: 11px;}
	.m_menu > ul > li > div ul li:not(.hasUl) > a[target="_blank"]:after{width:11px; height:11px; background-size:cover;}
	
	.top_link {padding:0 3px ;}
	.top_link > li{width:100px; margin-right: 5px;}
	.top_link > li > a{width:100%;}
	.top_link > li > a.ptcity { width:100%;}
	
	#header {position:relative; width:100%; height:70px; background-image: url("../../images/topline_bg.gif"); background-repeat : repeat-x ;}
	#header #sns { position: absolute; top:10px; right:100px;}
	#header #sns li a {width:42px;height:42px;background-position: -3px -4px;}
	#header #sns li a.yt {background-position: -45px -3px;}
	#header #sns li a.inst {margin: 0;background-position: -85px -4px;}
	#header #sns li a.blog {margin: 0;background-position: -123px -3px;}
	
	 #zoom_control{margin:4px 0 0 0;}
	
	.linksite {font-size:15px;}
	.linksite h2{font-size:0; text-indent:-999px;}
	.linksite .inner > li{position:relative;width:100%;border: 1px solid rgba(255,255,255,0.2);border-bottom:none;border-radius: 0;}
	.linksite .inner > li:first-child{border-top:none;}
	.linksite .inner > li > a{height:38px;line-height:38px;text-align: left;}
	.linksite .inner > li:first-child:before,
	.linksite .inner > li > a:before{display:none;}
	.linksite li div{bottom:38px; left:-1px; width:calc(100% + 2px);}
	.linksite li div ul{padding:12px 14px 16px 14px;}
	.linksite li div ul li{width: 100%;}
	.linksite li div ul li a {text-align:left;}
	.linksite{z-index:1;position:relative; height:116px; background: #333; clear:both;width:100%; margin: 20px 0 40px;}
	
	#footer{padding:0 0 30px; font-size:14px; text-align:center;}
	#footer .info{width:100%;padding: 0;}
	#footer .logo{position:static; text-align:center;}
	#footer .logo strong {font-size: 22px;}
	#footer .logo span span {font-size:10px;}
	#footer .link{float:none;padding: 20px 5px 10px;}
	#footer .link li:before{margin:-2px 10px 0;}
	#footer .copyright{font-size:11px;}
	#footer .btn_call{height:27px; line-height:27px; margin:0 3px; font-size:13px; background-position:13px 45%;}
	#footer .link .total { border-radius: 0px; background: #333; width: 100%; margin: 10px;  font-size:14px; padding: 5px 10px ;  line-hight:50px; color: #fff;}
    #footer .link .total span{ color: #c59209;margin-right: 20px;}
}
@media all and (max-width:568px) {
	
    .logo img{height:39px;}
	.logo strong{padding: 7px 0 0;font-size:19px;}
	.logo span > span{letter-spacing:-0.9px;}
	
	#header {position:relative; width:100%; height:130px; background-image: url("../../images/topline_bg.gif"); background-repeat : repeat-x ;}
	#header #sns { position: absolute; top:80px; right:50%;}
	#header #sns li a {width:42px;height:42px;background-position: -3px -4px;}
	#header #sns li a.yt {background-position: -45px -3px;}
	#header #sns li a.inst {margin: 0;background-position: -85px -4px;}
	#header #sns li a.blog {margin: 0;background-position: -123px -3px;}
	
	.linksite li div ul li a{padding:10px 0 10px 0.5em;}
	#footer .logo strong {padding:5px 0 0;}
	#footer .copyright{font-size:10px;}
}


@media all and (max-width:380px) {
	
	.logo img{height:39px;}
	.logo strong{padding: 7px 0 0;font-size:19px;}
	.logo span > span{letter-spacing:-0.9px;}
	
	#header {position:relative; width:100%; height:130px; background-image: url("../../images/topline_bg.gif"); background-repeat : repeat-x ;}
	#header #sns { position: absolute; top:80px; right:30%;}
	#header #sns li a {width:42px;height:42px;background-position: -3px -4px;}
	#header #sns li a.yt {background-position: -45px -3px;}
	#header #sns li a.inst {margin: 0;background-position: -85px -4px;}
	#header #sns li a.blog {margin: 0;background-position: -123px -3px;}
	
	.linksite li div ul li a{padding:10px 0 10px 0.5em;}
	#footer .logo strong {padding:5px 0 0;}
	#footer .copyright{font-size:10px;}
}
