@charset "utf-8";

#main_content{position:relative; overflow:hidden; width:100%;}
#main_content h4{font-family:"PTBandoche"; font-size: 32px;}
#main_content h4 span{font-weight: 900;}


.main_wrap{box-sizing:border-box; }
 .swiper-slide {  width: 100%;   height: 100%;   background-size: cover;  background-position: center;  transition: transform 1s ease, opacity 1s ease;
    }


/* ptcuncilimg */
#ptcuncil_img {float:left; position:relative; width:48.5%;  height: 501px; background:#eee; border-radius: 50px; overflow: hidden;}
#ptcuncil_img p {display:block; position:absolute; top:3em; left:48%; background: url("../../images/main/stress_con.png") no-repeat;  width:188px; height:84px; z-index:3;}
#ptcuncil_img h3 { font-size:3.2em; position:absolute; top:1.3em; left:10%;  color:#202020; z-index:2; font-family:'PTAnbo';  text-shadow: -3px 0 #fff, 0 3px #fff, 3px 0 #fff, 0 -3px #fff; }
#ptcuncil_img h3 > * {display:block; line-height:1.4;}
#ptcuncil_img h3 strong em { color:#1ba300; }
#ptcuncil_img h3 span { margin-left:2.3em; color:#e84200;}
#ptcuncil_img h3 span em { color:#0055c5; }
#ptcuncil_img img{ width:100%; height:100%;  object-fit: cover;}
#ptcuncil_img .controls {display:flex; position:absolute; top:26.5em; left:60%; z-index:3;}
#ptcuncil_img .controls button {display:block; position:relative; width:3.85em; height:3.85em; border-radius:100%; text-indent:-9999px; overflow:hidden; background:rgba(0,58,92,.80);margin-right:5px;}
#ptcuncil_img .controls button:before {content:""; display:block; position:absolute; top:50%; left:50%; margin:-.6em 0 5px -.6em; width:1.2em; height:1.2em; background:url("../../images/spr_controls.svg") no-repeat 0 -2.4em; background-size:auto 6em;}
#ptcuncil_img .controls button:focus,
#ptcuncil_img.controls button:hover {background:#002b44;}
#ptcuncil_img .controls button:focus:before,
#ptcuncil_img .controls button:hover:before {}
#ptcuncil_img .controls #prevButton:before {background-position-x:0;}
#ptcuncil_img .controls #nextButton:before {background-position-x:-1.2em;}
#ptcuncil_img .controls #resumeButton:before {background-position-x:-4.8em;}
#ptcuncil_img .controls #stopButton:before {background-position-x:-3.8em;}

    /* 평택이미지 */
    .bg-1 {background-image: url('../../images/main/ptcuncil_img_01.png'); }
    .bg-2 {background-image: url('../../images/main/ptcuncil_img_02.png');}
    .bg-3 {background-image: url('../../images/main/ptcuncil_img_03.png');}

.main_wrap .con{float:right; width:48%;}

/* 의장인사말 */
#chairperson{position:relative; width:100%; height: 246px; margin:0 0 40px; border-radius: 20px;   background: url("../../images/main/chairperson_bg.png")no-repeat center;  background-size: cover;  box-sizing: border-box;  overflow: hidden;  z-index: 1;}
#chairperson h4 {position: relative;  font-family:'PTAnbo'; display: inline-block; padding:42px 0 0 50px; margin: 0 0 25px; font-size: 28px; font-weight: 900; color: #263752;}
#chairperson h4 em{color:#27908c;font-size: 1.3em;}
#chairperson h4:after {content: ''; display: block; position: absolute; bottom: 0; left: 0; width: 100%; }
#chairperson .txt {padding:0 0 0 50px; font-size:16px; color:#666666;}
#chairperson .greeting {position: relative; display: block; margin: 20px 0 0 0; width: 143px; height: 33px; line-height: 33px; font-size: 18px; font-weight: 400; color: #fff; background: #c9905e; border-radius: 28px; text-align:center; transition: 0.2s; text-decoration: none;}
#chairperson .greeting:hover, #chairperson .greeting:focus, #chairperson .greeting:active {background-color: #ad6a2f;}
#chairperson .greeting:before {content: ''; display: inline-block; margin: 0 6px -4px 0;}
#chairperson span{ position: absolute; display:inline-block; background: url("../../images/main/greeting_icon.png") no-repeat;   line-height: 33px; width: 7px; height:33px;background-position: left center; margin-left: 5px;}
#chairperson .pic { position: absolute; bottom: 1px; right: 19px; z-index: -2;}

/* 공지사항 */
#boardArea{position:relative; height:234px; box-sizing:border-box;}
#boardArea > ul{position:relative; box-sizing:border-box; padding:0 58px 0 0;}
#boardArea > ul:after{content:''; display:block; clear:both;}
#boardArea > ul > li{float:left; width:30%;}
#boardArea > ul > li + li{margin:0 0 0 0.8%;}
#boardArea li h5{line-height:0; border: 1px solid rgba(221,221,221,0.8);border-radius: 15px;box-sizing: border-box;transition: 0.2s;font-size:18px;}
#boardArea li h5 a{position:relative; display:block; width:100%; height:50px; line-height:52px; box-sizing:border-box; border-radius:15px; border:1px solid #e5e5e5; color:#7d7d7d; text-decoration:none; text-align:center; background:#fff; transition:0.35s ease; font-size:18px;}
#boardArea li:not(:last-child) h5 a:after {content:'';display:block;position:absolute;}
#boardArea li:first-child h5 a {padding-left:5;}
#boardArea li h5 span{position:relative; display:block;padding:0 20px; line-height:50px;}
#boardArea li.on h5 a{border: 1px solid rgba(221,221,221,0.8);border-radius: 15px;  background: #1eb200;color: #fff;}
#boardArea .con{visibility:hidden; opacity:0; position:absolute; top:49px; left:0; width:100%;}
#boardArea .on .con{visibility:visible;opacity:1;top: 59px;transition:0.25s ease-in-out;}
#boardArea .con ul{ padding:6px 0 0 0; box-sizing:border-box;}
#boardArea .con li{position:relative; float:left; width:100%; height:30px; box-sizing:border-box; }
#boardArea a:hover .tit,
#boardArea a:focus .tit,
#boardArea a:active .tit{color:#333;}
#boardArea   .tit{ background: url("../../images/main/ico-blank.png")no-repeat ; background-position-y: 8px; line-height:15px; padding:5px 0 0 15px;display:inline-block;vertical-align:middle;max-width:78%; overflow:hidden;text-overflow:ellipsis;white-space:nowrap; box-sizing:border-box; font-weight:400;}


#boardArea .new{display:inline-block;vertical-align:middle;width:18px;height:18px;line-height:19px;margin: 2px 0 0 -24px;font-size:10px;font-weight:400;text-align:center;color:#fff;border-radius:50%;background: #ff7d13;text-transform:uppercase;}
#boardArea .date{display:block; position:absolute; right:33px; top:8px; line-height:15px; font-size:15px; color:#929292; font-weight:400; letter-spacing:-0.5px;}
#boardArea .none{width:100%; padding:3em 0 0 0 !important; text-align:center; background:none;}
#boardArea .more{position: absolute;top: 7px;right: 0;display:none;width: 105px;height: 39px;line-height: 36px;font-size: 15px;font-weight: 400;color: #6b6b6b;text-align: center;text-decoration: none;}
#boardArea .more:hover {}
#boardArea .on .more{display:block;}

#boardArea .first {padding:5px; border-radius:10px; box-sizing:border-box; }
#boardArea .first a{display:block;position:relative;width:100%;height:104px;padding: 10px 10px 0 120px;box-sizing:border-box;text-decoration:none;border-bottom:2px solid #e2e2e2;}
#boardArea .first .title{display:inline-block;vertical-align:top;max-width:98%;line-height:34px;padding: 15px 20px 8px 0;font-weight:500;font-size:19px;color:#333;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;box-sizing:border-box;}
#boardArea .first .title span{display:inline-block;vertical-align:top;width:92px;height:34px;line-height: 34px;margin: 0 12px 0 0;font-size:15px;font-weight:300;color:#fff;background: #0383b3;border-radius: 10px;text-align:center;}
#boardArea .first .detail{display:block;width:100%;font-size:15px;color: #666;font-weight:400;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
#boardArea .first .new{margin-top:20px;}
#boardArea .first .date{display:table;right:auto;top:10px;left:0; width:108px;height:89px;line-height:100%;font-size:14px;color:#666;font-weight:300;font-family: 'PTAnbo'; background: #ddd;border-radius: 30px;text-align:center;box-sizing:border-box;transition:0.25s ease-in-out;}
#boardArea .first .date div{display:table-cell;vertical-align:middle; }
#boardArea .first .date strong{display:block;padding:0 0 6px; margin-top: 13px; line-height:100%;font-size:23px;font-weight:700;color: #0383b3;}
#boardArea .first a:hover .title{text-decoration:underline;}
#boardArea .first a:hover .date{border-color: #e4e8f0;}


/* farvoedmenu */
#favoredmenu{position:relative; background:#e6efef; top:20px;}
#favoredmenu .tit{position:absolute; top:0; left:0; width: 269px; height: 100px;  border-radius: 0 0 30px 30px; background: #fff; padding:20px 0 0 12px; background-size:cover;}
#favoredmenu .tit h2{padding:0 0 12px; margin-left:10px; font-family: 'PTAnbo';  display: inline-block;  font-size: 32px; color: #0086a3; letter-spacing: -2px; box-sizing: border-box;}
#favoredmenu .tit h2 span{ color:#00b196; letter-spacing:-2px;}
#favoredmenu .tit p{font-family: 'PTBandoche'; color:#222; letter-spacing:-1px; font-size:15px;}

#favoredmenu ul{overflow:hidden; width:100%; box-sizing:border-box; padding:20px 0 15px 350px;}
#favoredmenu li {float:left; width:14.28%;}
#favoredmenu li a{position:relative; display:block; width:100%; padding:100px 0 0; text-align:center; transition:0.3s ease-in; font-size:16px; font-weight:800; color:#727272;}
#favoredmenu li a:before{content:''; display:block; position:absolute; top:0; left:50%; transform:translateX(-50%); width:90px; height:90px; border-radius:50%; box-sizing:border-box; border:1px solid #c9e1e1;  background:#fff url(../../images/main/favorit_icon_01.png) no-repeat; box-shadow:0 0 15px rgba(0,0,0,0.15); transition:0.35s ease;}
#favoredmenu li.fa1 a:before{background-image:url(../../images/main/favorit_icon_01.png); background-position:1em;}
#favoredmenu li.fa2 a:before{background-image:url(../../images/main/favorit_icon_02.png); background-position:1em;}
#favoredmenu li.fa3 a:before{background-image:url(../../images/main/favorit_icon_03.png); background-position:1.2em;}
#favoredmenu li.fa4 a:before{background-image:url(../../images/main/favorit_icon_04.png); background-position:1.2em;}
#favoredmenu li.fa5 a:before {background-image:url(../../images/main/favorit_icon_05.png); background-position:1.2em;}
#favoredmenu li.fa6 a:before{background-image:url(../../images/main/favorit_icon_06.png); background-position:1.2em;}
#favoredmenu li.fa7 a:before{background-image:url(../../images/main/favorit_icon_07.png); background-position:1.2em;}

#favoredmenu li.fa1 a:hover:before{background-image:url(../../images/main/favorit_icon_01_on.png); background-position-y:1.2em;}
#favoredmenu li.fa2 a:hover:before{background-image:url(../../images/main/favorit_icon_02_on.png); background-position-y:1.2em;}
#favoredmenu li.fa3 a:hover:before{background-image:url(../../images/main/favorit_icon_03_on.png); background-position-y:0.8em;}
#favoredmenu li.fa4 a:hover:before{background-image:url(../../images/main/favorit_icon_04_on.png); background-position-y:1.3em;}
#favoredmenu li.fa5 a:hover:before{background-image:url(../../images/main/favorit_icon_05_on.png); background-position-y:0.8em;}
#favoredmenu li.fa6 a:hover:before{background-image:url(../../images/main/favorit_icon_06_on.png); background-position-y:1.2em;}
#favoredmenu li.fa7 a:hover:before{background-image:url(../../images/main/favorit_icon_07_on.png); background-position-y:1.2em;}




/*  의원검색 */

#member_search{ position: absolute;  right: 45%;   font-family: 'PTBandoche';  font-size: 15px;  z-index: 5; top: 0;
width: 392px;height: 43px;padding:0 60px 0 0;border: 4px solid rgba(94,188,186,29);border-radius: 20px;background:#fff;box-sizing:border-box;transition:0.25s ease-in-out;}
#member_search form{}
#member_search input[type="text"]{width:100%;height: 30px; color:#00b196; line-height: 1;padding:0 0 0 25px;border-radius: 20px;border-color:#fff;border:none;text-align:left;box-sizing:border-box;}
#member_search ::-webkit-input-placeholder{color:#999;}
#member_search :-ms-input-placeholder{color:#999;}
#member_search ::placeholder{color:#999;}
#member_search button{position:absolute;top: 0;right: 10px;width: 40px;height: 30px;padding:0;font-size:0;text-indent:-999px;border-radius: 0 3px 3px 0;}
#member_search button:before,
#member_search button:after{content:'';display:block;position:absolute;top: 8px;left: 8px;width: 20px;height: 20px;border: 4px solid #5b9693;border-radius:50%;box-sizing:border-box;}
#member_search button:after{left: 24px;top: 24px;width: 8px;height: 4px;border:none;border-radius:3px;transform:rotate(45deg);background: #5b9693;}




/* member_list */
#member {margin: 0 0 60px;padding: 50px 0 73px; font-family: 'PTBandoche'; background: url("../../images/main/member_bg.jpg")no-repeat center; background-size: cover; box-sizing: border-box;}
#member h4 {display: block; margin: 0 0 25px; font-family: 'PTAnbo'; width:300px; font-size: 32px; color: #97dedc; letter-spacing: -2px; box-sizing: border-box;}
#member h4 span{color: #fff; letter-spacing: -2px; }


#member .big_wrap {float: left; position: relative; padding: 36px 40px 0 45px; width: 533px; height: 326px; color: #fff;  background: #3e9a97 url("../../images/main/member_list_bg.png") no-repeat; background-position: top right;  border-radius: 0 0 50px 0; box-sizing: border-box;}

#member .big_wrap .control {position: absolute; bottom: 30px; right: 40px; display: flex; flex-wrap: wrap; align-items: center;}
#member .big_wrap .control button {width: 45px;height: 45px;font-size: 0;border-radius: 50%;background: rgba(0,0,0,0.25) url("../../images/main/ico_ctrol_btn.png")no-repeat 14px 13px;}
#member .big_wrap .control .btn_stop {margin: 0 7px; background-position: -82px 13px;}
#member .big_wrap .control .btn_stop.on {background-position: -163px 13px;}
#member .big_wrap .control .btn_next {background-position: -227px 13px;}

#member .list .txt {float: left;width: 217px;}
#member .list .name strong {float: left;margin: 4px 0 0;font-family: 'PTBandoche'; font-size: 26px; font-weight: 600;}
#member .list .name a {display: block; float: left; margin: 0 0 0 15px; width: 32px; height: 32px; background: url("../../images/main/member_more_icon.png")no-repeat center; border-radius: 50%; font-size: 0;}
#member .list .dash {margin: 20px 0 0;}
#member .list .dash > li {padding: 0 0 10px 16px; font-size: 17px;}
#member .list .dash > li:last-child {padding-bottom: 0;}
#member .list .dash > li:before {top: 10px; width: 6px; height: 3px; background: #fff;}
#member .list .pic {float: right;}
#member .list img{ width: 120px;  height: 160px; object-fit: cover;}
#member .list .dash > li > span {font-size:15px;}

#member .small_wrap {float: right;width: calc(100% - 600px);}
#member .small_list {display: flex;flex-wrap: wrap;}
/*#member .small_list a {display: block;margin: 0 1% 4px 0;width: 11.9%;height: 106px;overflow: hidden;background: #fff;box-sizing: border-box;}*/
#member .small_list a {display: block;margin: 0 2% 4px 0;width: 13.9%;height: 106px;overflow: hidden;background: #fff;box-sizing: border-box;}
#member .small_list a:nth-child(6n) {margin-right: 10px;}
#member .small_list a.active {border: 3px solid #f64500;}
#member .small_list a img {width: 100%;height: 100%;object-fit: cover;object-position: top;}

/* gallery */

#gallery {position: relative;  width:700px; box-sizing: border-box;}
#gallery h4 {position: relative; font-family: 'PTAnbo';   font-size: 32px; color: #494949; letter-spacing: -2px; box-sizing: border-box;}
#gallery h4 span{ color: #f64500;}
#gallery h4 span .more {  position: absolute;  right:0; line-height: 30px;  font-family: 'PTBandoche';  font-size: 16px;  z-index: 5; top: 0;}
#gallery .gallery_list { float:left; display: block;  width:331px; height:310px; margin: 30px 8px; border: 1px solid #fff;  border-radius:20px; box-shadow: 0 0 5px 5px rgba(204, 204, 204, 0.5); }
#gallery .list .img {display: block; width: 100%; height: 213px; border-radius: 20px 20px 0 0; overflow: hidden;}
#gallery .list a{text-decoration: none;}
#gallery .list a .img img {width: 100%; height: 100%; object-fit: cover; transition: 0.6s ease-in-out; }
#gallery .list a:hover .img img {transform: scale(1.2);}
#gallery .subject {display: flex; color:#fff; flex-wrap: wrap; align-items: center; height:97px; padding: 0 0 0 20px; border-radius: 0 0 20px 20px; background: #532e06;}
#gallery .tit {width: 100%;}
#gallery .date{color:#b58a5c;}
#gallery .new{position:relative; z-index:1; display:inline-block; vertical-align:top; width:18px; height:18px; line-height:19px; margin:0 0 0 5px; font-size:11px; border-radius:50%; text-transform:uppercase; text-align:center; color:#fff; background:#ff9c00;}


/* pr_vr */

#prvod { position: relative; float: right;  width: 40%;  right:0;  top:-35px;}
#prvod h4{position:relative; font-family: 'PTAnbo'; font-size: 32px; line-height: 62px; text-align: center; height:62px; color: #7e4b8d; background: #b59cc3 url( "../../images/main/prvod_title_bg.png") no-repeat; border-radius: 30px 30px 0 0; }
#prvod h4 span{color:#fff; }
#prvod h4 .more a{ position: absolute;  right: 10%; line-height: 62px;  z-index: 1;  width: 33px;  height: 31px;  display: inline-block; background: url("../../images/main/prvod_more_off.png") no-repeat; top: 15px;}
#prvod h4 .more a:hover{background: url("../../images/main/prvod_more_on.png") no-repeat;}
#prvod .pr_list {position: relative}
#prvod .pr_list a:after {content: ''; position: absolute; top:30%; left:40%;  width: 63px; height: 63px; background: url("../../images/main/vod_play.png")no-repeat; z-index: 1;}
#prvod .pr_list { height: 313px; border-radius: 0 0 30px 30px; padding: 13px 0 0 30px;  background: #e4e4e4 url("../../images/main/vod_img.png") no-repeat; background-position: right bottom;}
#prvod .pr_list .img { display: block;  width:80%; height: 250px; border-top:5px solid #fff; border-bottom:5px solid #fff;border-right: 20px solid #fff; border-left: 20px solid #fff;  box-shadow: 0 0 5px 5px rgba(204, 204, 204, 0.5); border-radius: 20px; overflow: hidden;}
#prvod .pr_list .img img { width:100%; height: 100%; object-fit: cover; border-radius:20px; }
#prvod .pr_list .subject {display: flex; margin:15px 0 0 20px; color:#333; }




@keyframes ani_bg{
	0%{transform:rotate(0);}
	20%{transform:rotate(-10deg);}
	40%{transform:rotate(10deg);}
	60%{transform:rotate(-10deg);}
	80%{transform:rotate(10deg);}
	100%{transform:rotate(0deg);}
}



@media all and (max-width:1220px) {
	#favoredmenu:before{width:250px;}
    #favoredmenu ul{padding-left:255px;}
    #favoredmenu li a{padding:105px 0 0; font-size:17px;}
    #favoredmenu li a:before{width:90px; height:90px; background-size:45px;}
	
	#member_search{ position: absolute;  right:15px; font-family: 'PTBandoche';  font-size: 15px;  z-index: 5; top: 0;}
	#member .small_wrap {width:calc(100% - 600px)}
	
	#gallery {position: relative; width:100%; box-sizing: border-box;}
	#gallery .gallery_list { float:left; display: block;  width:45%; height:100%; margin: 30px 8px; border: 1px solid #fff;  border-radius:20px; box-shadow: 0 0 5px 5px rgba(204, 204, 204, 0.5); }
	 #prvod { width:100%; margin: 35px 10px;}
	
	
}

@media all and (max-width:1024px) {
	    
    .main_wrap{padding:0;}
    .main_wrap .con{width:100%; padding:20px 0;}
    
    #ptcuncil_img{width:100%; height:200px; border-radius: 20px; top:0;}
	#ptcuncil_img h3 {font-size:2.5em;}
	#ptcuncil_img p{display: none;}
	#ptcuncil_img .controls {display:flex; position:absolute; top:9em; left:80%;  z-index:3;}
    #ptcuncil_img .controls button {display:block; position:relative; width:2.85em; height:2.85em; border-radius:100%; text-indent:-9999px; overflow:hidden; background:rgba(0,58,92,.80);}
    #ptcuncil_img .controls button:before {content:""; display:block; position:absolute; top:50%; left:50%; margin:-.6em 0 0 -.6em; width:1.2em; height:1.2em; }
    
	#chairperson{margin:0 0 20px;}  
    
	#favoredmenu:before, #link .tit p br{display:none;}
    #favoredmenu .tit{position:static; padding:35px 0 0; width:100%; background: none; font-size:1em; color:#333; text-align:center;}
    #favoredmenu .tit h4 span{display:inline; font-size:1em; color:#1fa4c3;}
    #favoredmenu ul{padding:10px 0 25px;}
	
	#member_search{ position: absolute;  right:15px; font-family: 'PTBandoche';  font-size: 15px;  z-index: 5; top: 0;}
	
    #member {padding:45px 0 35px;margin: 0 0 40px;}
	#member .small_list .more {padding:55px 10px 0; font-size:12px; background-position:center top 10px; background-size:auto 40px;}
	#member .big_wrap {width: 400px;height: 290px;padding: 35px; margin:10px 0 10px;}
	#member .list .txt {width:60%;}
	#member .list .name strong {font-size: 24px;}
	#member .list .name a {margin:0 0 0 10px;}
	#member .list .pic {width:120px;}
	#member .big_wrap .control {bottom: 20px;right: 30px;}
	#member .small_wrap {width:100%;}
	#member .big_wrap {width:100%;}
	
	
	#gallery { margin:30px 0 0;}
	#gallery h4 {font-size:30px;}
	#gallery .tit_wrap .more {margin:0 0 0 180px;}
	#gallery:after {height:320px;}
    #gallery .list a {width:100%; margin: 0;}
    .slick-slide {margin: 0 10px;}
    .slick-list {margin: 0 -10px;}
	#gallery .list .img {height:200px;}
    #gallery .date {margin: 0 10px 0 0;width: 72px;height: 61px;font-size: 13px;}
    #gallery .date span {font-size: 20px;}
	#gallery .tit {max-width: calc(100% - 85px);}
	
	#gallery {position: relative; width:100%; box-sizing: border-box;}
	#gallery .gallery_list { float:left; display: block;  width:45%; height:100%; margin: 30px 8px; border: 1px solid #fff;  border-radius:20px; box-shadow: 0 0 5px 5px rgba(204, 204, 204, 0.5); }
	 #prvod { width:100%; margin: 35px 10px;}
}

@media all and (max-width:768px) {
	
	#ptcuncil_img .controls {display:flex; position:absolute; top:9em; left:75%;  z-index:3;}
	#ptcuncil_img .control, #ptcuncil_img .page { right: 20%; } 
	
	
	#chairperson h4 {position: relative;  font-family:'PTAnbo'; display: inline-block; padding:42px 0 0 20px; margin: 0 0 25px; font-size: 28px; font-weight: 900; color: #263752;}
    #chairperson h4 em{color:#27908c;font-size: 1.0em;}
	#chairperson .txt {padding:0 0 0 20px; font-size: 0.9em; color:#666666;}
	#chairperson .greeting {position: relative; display: block; margin-top: 5px; width: 143px; height: 33px; line-height: 33px; font-size: 18px; font-weight: 400; color: #fff; background: #c9905e; border-radius: 28px; text-align:center; transition: 0.2s; text-decoration: none;}
   
	
    #favoredmenu li{width:25%;}
    #favoredmenu li:nth-child(-n + 3){width:33.33%; margin:0 0 20px;}
    #favoredmenu li a{font-size:1em;}
    #boardArea li h5 a{height:38px; line-height:15px; font-size:15px;}
	#boardArea li h5 a span{ line-height:38px; font-size:15px;}
	#boardArea li h5 span{position:relative; display:block;padding:0; line-height:50px;}
    #boardArea .on ul{top:50px;}
    .more{height:38px; background-position:top 10px center;}
   	#boardArea .more{position: absolute;top: 7px;right: 0;display:none;width: 60px;height: 39px;line-height: 36px;font-size: 11px;font-weight: 400;color: #6b6b6b;text-align: center;text-decoration: none;}
	#boardArea .con{visibility:hidden; opacity:0; position:absolute; top:10px; left:0; width:100%;}
	#boardArea .on .con{visibility:visible;opacity:1;top: 25px;transition:0.25s ease-in-out;}
	
	
	#member_search { position: relative; }
	#member h4 {position: relative; top:10px; font-size:22px;}
	#member .big_wrap {padding:25px 20px; top:40px;height: 230px;border-radius: 0 0 30px 0;}
	#member .list .name a {width:28px; height:28px;}
	#member .list .pic {width:100px;}
	#member .list .name strong {font-size:20px;}
	#member .list .dash > li {font-size:14px;}
	#member .big_wrap .control {bottom:10px; right:25px;}
	#member .small_wrap {margin-top:40px;}
	

}
@media all and (max-width:568px) {
	
	#ptcuncil_img .control, #ptcuncil_img .page{right:100px; bottom:10px;}
	#ptcuncil_img h3 {font-size:2em;}
	#ptcuncil_img p{display: none;}
	#ptcuncil_img .controls {display:flex; position:absolute; top:9em; left:60%;  z-index:3;}
    #ptcuncil_img .controls button {display:block; position:relative; width:2.85em; height:2.85em; border-radius:100%; text-indent:-9999px; overflow:hidden; background:rgba(0,58,92,.80);}
    #ptcuncil_img .controls button:before {content:""; display:block; position:absolute; top:50%; left:50%; margin:-.6em 0 0 -.6em; width:1.2em; height:1.2em; background:url("../../images/spr_controls.svg") no-repeat 0 -2.4em; background-size:auto 6em;}
	
       
    #boardArea li h5 a{height:45px; line-height:47px; font-size:17px;}
    #boardArea .on ul{top:60px;}
    .more{height:45px; background-position:top 13px center;}
    #boardArea ul ul .date{font-size:13px;}
    #boardArea ul ul .date strong{padding:7px 0 3px; font-size:14px;}
	#boardArea .con{visibility:hidden; opacity:0; position:absolute; top:10px; left:0; width:100%;}
		
    #favoredmenu .tit h4{padding:0 0 5px;}
    #favoredmenu li a{padding:80px 0 0;}
    #favoredmenu li a:before{width:70px; height:70px; background-size:30px;}
	
	
	#member_search form{width: 100%;height: 43px;padding:0 60px 0 0;border: 4px solid rgba(94,188,186,29);border-radius: 20px;background:#fff;box-sizing:border-box;transition:0.25s ease-in-out;}
	#member {padding:40px 0 30px;}
	#member h4 {font-size:22px;}
	#member .small_list a {height:75px;}
    #member .small_list .more {font-size: 0; background-position:center;}
	#member .big_wrap {padding:25px;height: 240px;}
	#member .list .dash {margin:12px 0 0;}
	#member .list .dash > li {padding-bottom:5px;}
	
	#member .big_wrap .control button {width:30px;height:30px;background-position: 8px 6px;}
	#member .big_wrap .control .btn_stop {margin: 0 2px;background-position: -89px 5px;}
	#member .big_wrap .control .btn_stop.on {background-position: -170px 5px;}
	#member .big_wrap .control .btn_next {background-position: -235px 6px;}
    
   
	
	#gallery:after {height: 272px;}
	#gallery h4 {font-size:28px; text-align:left;}
	#gallery .tit_wrap:after {transform:translateX(0); left:0;}
	#gallery .tit_wrap .more {margin:0;left:auto;right:0;top: 0;transform:translateX(0);}
	#gallery .list .img {height:160px;}
	#gallery .date {padding: 0;width:100%;height: 32px;flex-direction: row-reverse;justify-content: center;border-width: 3px;}
	#gallery .date span {margin: 0 0 0 6px;font-size: 16px;}
	#gallery .tit {margin:10px 0 0;max-width: 95%;}
	#gallery .new {vertical-align: baseline;margin: 0 0 0 -18px;}
	#gallery .subject {display: flex; color:#fff; flex-wrap: wrap; align-items: center; height:90px; padding: 0 0 0 20px; border-radius: 0 0 20px 20px; background: #532e06;}
	#gallery .gallery_list { float:left; display: block;  width:45%; height:100%; margin: 30px 8px; border: 1px solid #fff;  border-radius:20px; box-shadow: 0 0 5px 5px rgba(204, 204, 204, 0.5); }
	#prvod {height: auto;}
	
}
@media all and (max-width:380px) {
	#ptcuncil_img .controls {display:flex; position:absolute; top:10em; left:50%;  z-index:3;}
	
	

    #boardArea{height:220px;}
    #boardArea li h5 a{height:38px; line-height:15px; font-size:15px;}
	#boardArea li h5 a span{ line-height:38px; font-size:15px;}
    #boardArea .on ul{top:50px;}
    .more{height:38px; background-position:top 10px center;}
    #boardArea ul ul a{padding:3px 0 0 60px; }
    #boardArea ul ul .date{width:25px; font-size:13px;}
    #boardArea ul ul .date strong{padding:7px 0 5px; font-size:12px;}
	#boardArea .con{visibility:hidden; opacity:0; position:absolute; top:49px; left:0; width:100%;}
    #boardArea .on .con{visibility:visible;opacity:1;top: 40px;transition:0.25s ease-in-out;}
	#boardArea .first {padding:5px; border-radius:10px; box-sizing:border-box; }
#boardArea .first a{display:block;position:relative;width:100%;height:80px;padding: 10px 10px 0 90px;box-sizing:border-box;text-decoration:none;border-bottom:2px solid #e2e2e2;}
	#boardArea .new{display:inline-block;vertical-align:middle;width:15px;height:15px;line-height:19px;margin: 2px 0 0 0px;font-size:8px;font-weight:400;text-align:center;color:#fff;border-radius:50%;background: #ff7d13;text-transform:uppercase;}
	#boardArea .first .date{display:table;right:auto;top:10px;left:0; width:80px;height:60px;line-height:100%;font-size:14px;color:#666;font-weight:300; background: #ddd;border-radius: 10px;text-align:center;box-sizing:border-box;transition:0.25s ease-in-out;}
	#boardArea .first .date div{ font-size:11px; }
   #boardArea .first .date strong{display:block;padding:0 0 6px; margin-top: 13px; line-height:100%;font-size:18px;font-weight:700;color: #0383b3;}
	#boardArea .first .title{display:inline-block;vertical-align:top;max-width:91%; line-height:34px;padding:0;font-weight:500;font-size:12px;color:#333;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;box-sizing:border-box;}
    #boardArea .first .title span{display:inline-block;vertical-align:top;width:60px;height:34px;line-height: 34px;margin: 0;font-size:12px;font-weight:300;color:#fff;background: #0383b3;border-radius: 10px;text-align:center;}
    #boardArea .first .detail{display:block;width:100%;font-size:12px;color: #666;font-weight:400;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
	#boardArea .more{position: absolute;top: 7px;right: 0;display:none;width: 60px;height: 39px;line-height: 36px;font-size: 11px;font-weight: 400;color: #6b6b6b;text-align: center;text-decoration: none;}
	#boardArea li h5 span{position:relative; display:block;padding:0; line-height:50px;}
	#boardArea a:hover .tit,
    #boardArea a:focus .tit,
    #boardArea a:active .tit{color:#000;}
    #boardArea .tit{ background:url("../../images/main/ico-blank.png") no-repeat;vertical-align:top;max-width:95%;height:15px;line-height:20px;font-size: 12px;color:#333;font-weight:400; overflow:hidden; text-overflow: ellipsis; white-space:nowrap; box-sizing:border-box;}
	#boardArea .first .new{margin-top:10px;}
	#boardArea .con ul{overflow:hidden; width:100%; padding:6px 0 0 0; box-sizing:border-box;}
    #boardArea .con li{position:relative; float:left; width:100%; height:30px; box-sizing:border-box; }
    #boardArea .con li a{position:relative; float:left; width:100%; padding:9px 120px 9px 10px; box-sizing:border-box; text-decoration:none;}  
	
	
	#favoredmenu li a{padding:65px 0 0;}
    #favoredmenu li a:before{width:55px; height:55px; background-size:25px;}
	
	#member h4 {position: absolute; top:-30px; font-size:22px;}
	#member .big_wrap {padding:25px 20px; top:40px;height: 230px;border-radius: 0 0 30px 0;}
	#member .list .name a {width:28px; height:28px;}
	#member .list .pic {width:100px;}
	#member .list .name strong {font-size:20px;}
	#member .list .dash > li {font-size:14px;}
	#member .big_wrap .control {bottom:10px; right:25px;}
	#member .small_wrap {margin-top:40px;}
	
	#gallery:after {height:247px;}
	#gallery h4 {font-size:24px;}
	#gallery .list .img {height:140px;}
	#gallery .slick-arrow {top:60px;}
	#gallery {position: relative; width:100%; box-sizing: border-box;}
	#gallery .gallery_list { float:left; display: block;  width:100%; height:100%; margin: 30px 8px; border: 1px solid #fff;  border-radius:20px; box-shadow: 0 0 5px 5px rgba(204, 204, 204, 0.5); }
	
}