/*layer popup*/
.layer {display: none;position: fixed;_position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: 10000;}
.layer .bg {position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: #000;opacity: .5;filter: alpha(opacity = 50);}
.layer_pop{display:none;position: absolute;top: 50%;left: 50%;width:40%;max-height:700px;background-color: #fff;z-index: 10;padding:20px;border-radius: 10px}
.layer_pop > h1{font-size:22px; font-weight:600; margin: 20px 0;color:#000; }
.layer_pop > p{font-size:16px; line-height: 180%; font-weight: 300; color:#6f6f6f; margin-bottom: 20px}
.layer_pop > .layer_media{width: 100%;height: 100%;padding-top:15px; border-top:1px solid #d2d2d2; border-bottom:1px solid #d2d2d2; max-height:600px; overflow: auto}
.layer_pop > .layer_media img, .layer_pop > .layer_media media{position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
.layer_pop > .layer_media img, .layer_pop > .layer_media video{width: 100%}
.close_btn{margin:10px 0; position: absolute; right:20px; top: 10px}

/* Common */
.hide{width:1px;height:1px;line-height:1px;font-size:1px;position:absolute;left:-9999px;overflow:hidden;text-indent:-9999px;}
