@charset "utf-8";


#sub_default h4 {clear: both; position:relative; font-weight: 600; padding:10px; font-size: 24px;  }
#sub_default h4:before{ content:'';display: inline-block; vertical-align: middle; width:25px;height:25px;margin:0 10px 0 0 ; border:7px solid #368e33;border-left:7px solid #5ab357;border-top:7px solid #5ab357;border-radius:50%;background:none;}

#sub_default ul.bul1 li { list-style: none;  position: relative; padding-left: 20px; margin-bottom: 5px;  }
#sub_default ul.bul1 li:before { content: ''; position: absolute; left: 0; top: 50%; transform: translateY(-50%); width: 10px; height: 10px; background-color: white; border-width: 3px;  border-style: solid;  border-image: linear-gradient(to bottom, #ddd, #ddd 50%) 1;  box-sizing: border-box; }
.dot1{ margin-left: 10px;  }
.dot1::before{  content: ''; display: inline-block; transform: translateY(-50%); width: 10px; height: 10px; background-color: white; border-width: 3px;  border-style: solid;  border-image: linear-gradient(to bottom, #ddd, #ddd 50%) 1;  box-sizing: border-box; margin-right:10px; vertical-align: middle;  }
#sub_default ul.bul2 li {list-style: none; position: relative; padding-left: 20px;}
#sub_default ul.bul2 li:before { content: ''; position: absolute;left: 0; top: 50%; transform: translateY(-50%); width: 3px; height: 3px;  background-color: #ddd;}
#sub_default ul.list_bul1 {position: relative; margin-bottom: 30px;}
#sub_default ul.list_bul1 li { list-style: none;  position: relative; padding-left: 20px; margin-bottom: 5px;  }
#sub_default ul.list_bul1 li:before { content: ''; position: absolute; left: 0; top: 50%; transform: translateY(-50%); width: 20px; height: 20px; background-color: white; border-width: 3px;  border-style: solid;  border-image: linear-gradient(to bottom, #3c9593, #ddd 50%) 1;  box-sizing: border-box; }

#sub_default ul.list_bul2 {position: relative; margin-bottom: 30px;}
#sub_default ul.list_bul2 li {list-style: none; position: relative; padding-left: 20px;}
#sub_default ul.list_bul2 li:before { content: ''; position: absolute;left: 0; top: 50%; transform: translateY(-50%); width: 3px; height: 3px;  background-color: #ddd;}
#sub_default .round_txt {position: relative; background: #f3f3f3; border-radius:20px; padding: 20px; margin:10px  0;}
#sub_default .round_txt strong {font-weight:800; color:#228182;}
#sub_default .round_txt span{display:inline-block; font-weight: 600; margin-bottom: 10px;}
#sub_default .square_txt {position: relative;  background: #fff; border:1px #ddd solid; border-radius:20px; padding:40px; 20px; margin:10px  0;}
#sub_default  ol.numbertxt{  line-height:200%;font-weight: 400;}

.list_double{margin-bottom:35px}
.list_double > ul > li{position: relative;  margin-left: 20px; padding:2px 0 2px 20px;line-height:150%;font-size:15px;font-weight: 400}
.list_double > ul > li:before{content: ''; position: absolute; left: 0; top: 12px; transform: translateY(-50%); width: 10px; height: 10px; background-color: #fff; border-width: 3px;  border-style: solid;  border-image: linear-gradient(to bottom, #3c9593, #3c9593 50%) 1;  box-sizing: border-box;}
.list_double > ul > li.none{background: none}
.list_double > ul > li > ul{padding:5px 0 5px 0;}
.list_double > ul > li > ul > li{position: relative; line-height:150%;padding-left:10px}
.list_double > ul > li > ul > li:before {content: ''; position: absolute;left: 0; top: 10px; transform: translateY(-50%); width: 3px; height: 3px;  background-color: #ddd;}
.list_double > ul > li > ul > li b{margin:5px 0 0 0;font-weight:600;color:#228182;display:block;}
.list_double > ul > li > ul > li > ul{padding:5px 0 5px 10px;}
.list_double > ul > li > ul > li > ul > li{padding-left:5px;}
.list_double > ul > li > ul > li > ul > li > ul > li{padding-left:5px}
.list_double > ul > li b{font-weight:600;color:#228182;}
.list_double > ul > li .span_txt{color:#e56404;}


/* 의원인사말 */
.sub_greeting01{ position: relative; height:101px; line-height: 30px; padding:20px 50px 0; font-family: 'PTNoeul'; font-size: 24px; background:#ececec url("../../images/intro/sub_greeting01_bg.png") no-repeat; background-position: right bottom; border-radius:20px ; }
.sub_greeting01 span{font-size:30px; color:#218994;  }
.sub_greeting01 .pic {position: absolute; right: 0;}
.sub_greeting01 .pic img{width:100% }
.sub_greeting02 {padding-left: 50px; width: 50%;}
.sub_greeting02 p{margin-top: 20px; padding: 10px; line-height:30px;}
.sub_greeting02 .name {position: absolute; margin-top:50px; right:0; font-family: 'PTAnbo'; font-size:25px; z-index: 1;}
.sub_greeting02 .name span {color:#218994; font-size:1.2em;}

/* 의회연혁 */
.history01{background:#89adae url("../../images/intro/history_img.png") no-repeat; height:155px; border-radius:10px;  }
.history01 h2{position: absolute; font-size:18px; color:#fff; right:0; padding:50px;}
.history01 h2 span{display: block; font-family:'PTAnbo'; font-size:1.2em;}
.history_d {position: relative; top:20px;}
.history_d > li{position:relative; padding:10px 0 42px 150px; margin-top: 25px; border-top:1px solid #dcdcdc; box-sizing:border-box;}
.history_d > li:before{content:''; display: block; position:absolute; top:34px; left:101px; width:80px; border-top:1px dashed #aaa;}
.history_d .histrory_tit{display:block; position:absolute; font-family:'PTAnbo'; whid:130px; height:90%; top:-1px; left:0; line-height:71px; color:#077686; background: #e6e6e6; font-size:30px; font-weight:900; text-align: center; border-radius: 0 0 20px 20px;}
.history_d .histrory_tit:before{content:''; display:block; width:130px; height:4px; background:#077686;}
.history_d .h_list p{ width: 80%; background:#86babb; border-radius: 10px; color:#fff; padding:10px 20px; }
.history_d .h_list > li{position:relative; padding: 0 0  15px 30px; font-size:15px; line-height: 30px;}
.history_d  h_list ul li{ word-break:keep-all;}
.dot3  li {margin:7px 0 0 30px;}
.dot3 li > strong{  font-weight:600; margin-right: 30px;}
.h_list ul.dot3  li::before{ content: ''; position: absolute; margin:10px 0 0 20px; left: 20px;   width: 5px; height: 5px; background:#6c9798;}
.h_list ul.dot3 span{ display: block; margin-left: 120px;}



/* 의회조직*/
h4 + .org {margin: 0 0 50px;}
.org {position: relative;height: 658px;border: 1px solid #e5e5e5;box-sizing: border-box;}
.org span {display:flex;justify-content:center;align-items:center;position: absolute;top:50px;left:50%;transform:translateX(-50%);color: #fff;text-align:center;}
.org .org1 > span{height:76px;width:201px;line-height:110%;margin:0 0 47px;font-weight:900;font-size:24px;border-radius:10px;background:#c86235 url("../../images/intro/org1_bg.png") no-repeat;background-size:contain;}
.org .org2 span{top:160px; width: 21%;height: 76px;font-size: 18px;font-weight:800;background: #2c8788 url(../../images/intro/org2_bg.png) no-repeat 100% 50%;background-size:cover;border-radius: 10px;}
.org .org3 span{top:320px; width:30%; left:25%;background:#51a26c url(../../images/intro/org2_bg.png) no-repeat; background-position: right bottom;}
.org .org3_2 span {left:80%; background:#66b9a6 url(../../images/intro/org2_bg.png) no-repeat; background-position: right bottom;}
.org .org4 span,
.org .org5 span {top:467px;left:8%;padding: 5px;width:9.9%;height:80px;font-size:16px;line-height: 1.2;background: #9eb1a4;border-radius:10px;box-sizing: border-box;}
.org .org4_2 span {left:18.5%;}
.org .org4_3 span {left:29%;}
.org .org4_4 span {left:39.5%;}

.org .org5_1 span {left:auto; right:13.5%;}
.org .org5_2 span {left:auto; right:3%}


.org-2 {height:484px;}
.org-2 .org1 > span{width:30%;height:76px;font-size: 18px;background:#4f76bd url(../../images/intro/org1_bg.png) no-repeat;border-radius: 10px;}
.org-2 .org2 > span {top: 151px;left:80%;width:30%;background: #bc9a50 url(../../images/intro/org2_bg.png) no-repeat;background-position:right bottom;}
.org-2 .org2_2 span{left: 67%;}
.org-2 .org3 span {top:330px;left:23%;padding: 5px;width:15%;height:80px;font-size:16px;line-height: 1.2;background: #9eb1a4;border-radius:10px;box-sizing: border-box;}
.org-2 .org3_2 span {left:38.8%;}
.org-2 .org3_3 span {left:54.8%;}
.org-2 .org3_4 span {left: 70.8%;}
.org-2 .org3_5 span{left:86.8%}

.org li::after {z-index:-1;content:'';position:absolute;top: 50px;left:50%;transform:translateX(-50%);width:1px;height: 231px;background:#e0e0e0;}
.org .org3::after {top:280px;left:53%; width:57%; height:160px; background:transparent; border:1px solid #e0e0e0; border-bottom:none;}
.org .org4::after {top:440px; left:23.5%; width:30.8%; height:100px; background:transparent; border:1px solid #e0e0e0; border-bottom:none;}

.org .org5::after {top:440px; left:80.8%; width:10%; height:100px; background:transparent; border:1px solid #e0e0e0; border-bottom:none;}

.org-2 li::after {z-index:-1;content:'';position:absolute;top: 50px;left:50%;transform:translateX(-50%);width:1px;height: 230px;background:#e0e0e0;}
.org-2 .org2::after {top:200px;left:60%;width:20%;height:1px;}
.org-2 .org3::after {top:280px;left:45%; width:48%; height:50px; background:transparent; border:1px solid #e0e0e0; border-bottom:none;}
.org-2 .org3_2::after {left: 46%;width:16%;}
.org-2 .org3_3::after {left: 76.9%;width:16%;}

/*의회기능, 의회권한, 회기소집및 운영 , 의안처리절차 , 행정사무감사/조사 */
.dl_style01{margin:30px 0 20px 20px;}
.dl_style01 > dl {overflow:hidden;width:100%;margin:10px 0;}
.dl_style01 > dl > dt {border-radius:20px;background:#66b9a6 url("../../images/intro/funct_bg.png") no-repeat; background-position:right bottom;  padding:10px 15px;color:#fff;width:25%;min-height:85px;margin-right:2%;float:left;box-sizing:border-box;display:table;}
.dl_style01 > dl > dt > dl {overflow:hidden;display:table-cell;vertical-align:middle;}
.dl_style01 > dl > dt > dl > dt{display:table-cell;vertical-align:middle;font-size:30px;font-weight:600;text-align:left;padding-right:15px;}
.dl_style01 > dl > dt > dl > dd{display:table-cell;vertical-align:middle;font-size:16px;word-break:break-all;letter-spacing: -0.05em}
.dl_style01 > dl > dd{border-radius:20px;border:1px solid #ddd;min-height:85px;float:left;box-sizing:border-box;display:table;padding:10px 20px;width:73%;}
.dl_style01 > dl > dd ul{display:table-cell;vertical-align:middle;}
.dl_style01 > dl > dd ul li{font-size:15px;padding-left:5px;font-weight: 400}

.dl_style02{margin:30px 0 20px 20px;}
.dl_style02 > dl {overflow:hidden;width:100%;margin:10px 0;}
.dl_style02 > dl > dt {border-radius:20px;background:#499a64 url("../../images/intro/funct_bg.png") no-repeat; background-position:right bottom;  padding:10px 15px;color:#fff;width:25%;min-height:85px;margin-right:2%;float:left;box-sizing:border-box;display:table;}
.dl_style02 > dl > dt > dl {overflow:hidden;display:table-cell;vertical-align:middle;}
.dl_style02 > dl > dt > dl > dt{display:table-cell;vertical-align:middle;font-size:30px;font-weight:600;text-align:left;padding-right:15px;}
.dl_style02 > dl > dt > dl > dd{display:table-cell;vertical-align:middle;font-size:16px;word-break:break-all;letter-spacing: -0.05em}
.dl_style02 > dl > dd{border-radius:20px;border:1px solid #ddd;min-height:85px;float:left;box-sizing:border-box;display:table;padding:10px 20px;width:73%;}
.dl_style02 > dl > dd ul{display:table-cell;vertical-align:middle;}
.dl_style02 > dl > dd ul li{font-size:15px;padding-left:5px;font-weight: 400}

.dl_style03{margin:30px 0 20px 20px;}
.dl_style03 > dl {overflow:hidden;width:100%;margin:10px 0;}
.dl_style03 > dl > dt {border-radius:20px;background:#81a759 url("../../images/intro/funct_bg.png") no-repeat; background-position:right bottom;  padding:10px 15px;color:#fff;width:25%;min-height:85px;margin-right:2%;float:left;box-sizing:border-box;display:table;}
.dl_style03 > dl > dt > dl {overflow:hidden;display:table-cell;vertical-align:middle;}
.dl_style03 > dl > dt > dl > dt{display:table-cell;vertical-align:middle;font-size:30px;font-weight:600;text-align:left;padding-right:15px;}
.dl_style03 > dl > dt > dl > dd{display:table-cell;vertical-align:middle;font-size:16px;word-break:break-all;letter-spacing: -0.05em}
.dl_style03 > dl > dd{border-radius:20px;border:1px solid #ddd;min-height:85px;float:left;box-sizing:border-box;display:table;padding:10px 20px;width:73%;}
.dl_style03 > dl > dd ul{display:table-cell;vertical-align:middle;}
.dl_style03 > dl > dd ul li{font-size:15px;padding-left:5px;font-weight: 400}

.dl_style04{margin:30px 0 20px 20px;}
.dl_style04 > dl {overflow:hidden;width:100%;margin:10px 0;}
.dl_style04 > dl > dt {border-radius:20px;background:#b59042 url("../../images/intro/funct_bg.png") no-repeat; background-position:right bottom;  padding:10px 15px;color:#fff;width:25%;min-height:85px;margin-right:2%;float:left;box-sizing:border-box;display:table;}
.dl_style04 > dl > dt > dl {overflow:hidden;display:table-cell;vertical-align:middle;}
.dl_style04 > dl > dt > dl > dt{display:table-cell;vertical-align:middle;font-size:30px;font-weight:600;text-align:left;padding-right:15px;}
.dl_style04 > dl > dt > dl > dd{display:table-cell;vertical-align:middle;font-size:16px;word-break:break-all;letter-spacing: -0.05em}
.dl_style04 > dl > dd{border-radius:20px;border:1px solid #ddd;min-height:85px;float:left;box-sizing:border-box;display:table;padding:10px 20px;width:73%;}
.dl_style04 > dl > dd ul{display:table-cell;vertical-align:middle;}
.dl_style04 > dl > dd ul li{font-size:15px;padding-left:5px;font-weight: 400}

.dl_styleL{margin:30px 0 20px 20px;}
.dl_styleL > dl {overflow:hidden;width:100%;margin:10px 0;}
.dl_styleL > dl > dt {border-radius:20px;background:#499a64 url("../../images/intro/funct_bg.png") no-repeat; background-position:right bottom;  padding:10px 15px;color:#fff;width:35%;min-height:85px;margin-right:2%;float:left;box-sizing:border-box;display:table;}
.dl_styleL > dl > dt > dl {overflow:hidden;display:table-cell;vertical-align:middle;}
.dl_styleL > dl > dt > dl > dt{display:table-cell;vertical-align:middle;font-size:30px;font-weight:600;text-align:left;padding-right:15px;}
.dl_styleL > dl > dt > dl > dd{display:table-cell;vertical-align:middle;font-size:16px;word-break:break-all;letter-spacing: -0.05em}
.dl_styleL > dl > dd{border-radius:20px;border:1px solid #ddd;min-height:85px;float:left;box-sizing:border-box;display:table;padding:10px 20px;width:60%;}
.dl_styleL > dl > dd ul{display:table-cell;vertical-align:middle;}
.dl_styleL > dl > dd ul li{font-size:15px;padding-left:5px;font-weight: 400}


/*  청원/진정 처리절차 */

.peti {position: relative;width: 100%;height: 600px;border: 1px solid #e5e5e5;box-sizing: border-box; background: url("../../images/intro/peti_line_bg.png") no-repeat;  background-size:100% 600px;}
.peti span{display:flex;justify-content:center;align-items:center;position: absolute;top:50px;left:60%;transform:translateX(-50%);color: #fff;text-align:center;height:10%;width:23%;font-size: 1.1em; background:#2c8788 url(../../images/intro/org2_bg.png) no-repeat; border-radius:10px; background-position:  bottom right; }

.peti .pet1 span{top:50px;}
.peti .pet2 span{top:150px;}
.peti .pet2_1 span{left:18%; background:#517bc6 url(../../images/intro/org2_bg.png) no-repeat; background-position:  bottom right;}
.peti .pet3 span{top:250px;}
.peti .pet4 span{top:350px;}
.peti .pet5 span{top:450px;}
.peti .pet1 span::after{ z-index:-1;content:'';position:absolute; top: 70px;left:30%;  width:50px; height:50px; background: url("../../images/intro/basic_step1.gif") no-repeat;}
.peti .pet1 span::before{z-index:-1;content:'';position:absolute; top: 60px;left:50%; transform: translateY(-50%) rotate(-180deg); width:50px; height:50px; background: url("../../images/intro/basic_step1.gif") no-repeat;}
.peti .pet2 span::after{z-index:-1;content:'';position:absolute; top: 70px;left:43%;  width:50px; height:50px; background: url("../../images/intro/basic_step1.gif") no-repeat;}
.peti .pet2_1 span::before{z-index:-1;content:'';position:absolute; top:19px; left:162%; transform: translateY(-50%) rotate(-90deg);  width:50px; height:50px; background: url("../../images/intro/basic_step1.gif") no-repeat;}
.peti .pet2_1 span::after{z-index:-1;content:'';position:absolute; top:80px; left:30.5%; transform: translateY(-50%) rotate(-180deg);  width:50px; height:50px; background: url("../../images/intro/basic_step1.gif") no-repeat;}
.peti .pet3 span::after{z-index:-1;content:'';position:absolute; top: 70px;left:43%;  width:50px; height:50px; background: url("../../images/intro/basic_step1.gif") no-repeat;}
.peti .pet4 span::after{z-index:-1;content:'';position:absolute; top: 70px;left:43%;  width:50px; height:50px; background: url("../../images/intro/basic_step1.gif") no-repeat;}
.peti .pet5 span::before{z-index:-1;content:'';position:absolute; top:-150px;left:90%; transform: translateY(-50%) rotate(90deg); width:50px; height:50px; background: url("../../images/intro/basic_step1.gif") no-repeat;}    
.peti .pet5 span::after{z-index:-1;content:'';position:absolute; top:-350px;left:90%; transform: translateY(-50%) rotate(90deg); width:50px; height:50px; background: url("../../images/intro/basic_step1.gif") no-repeat;}               .peti .tit1,.tit2{font_size:10px; color:#d7801c}    
.peti .pet1 .tit1{z-index:1;content:'';position:absolute; top: 120px;left:50%;}
.peti .pet1 .tit2{z-index:1;content:'';position:absolute; top: 120px;left:67%;}
.peti .pet2_1 .tit1{z-index:1;content:'';position:absolute; top: 160px;left:30%;}
.peti .pet2_1 .tit2{z-index:1;content:'';position:absolute; top: 450px;left:30%;}
.peti .pet5 .tit1{z-index:1;content:'';position:absolute; top: 300px;left:75%;}


/*방청안내 */
.btn_group .watch_btn{display:inline-block; background-image: linear-gradient(to right, #3c9593, #00676d); color:#fff;font-size:18px;text-align:center;height:50px;line-height:50px;font-weight:400;margin:0 2px;padding:0 20px; border-radius: 10px;}




/* 오시는길 */
#map{ background: #f3f3f3;position: relative;}
#map .addr { position: absolute; color:#fff;  right:0; bottom:0; padding: 20px 30px; width: 40%; height: 60px; border-radius: 30px 0px 0px 0px; background: #3d8e93 url("../../images/intro/org1_bg.png") no-repeat;  z-index: 2;box-sizing: border-box;}


  
/* 윤리강령 */
#sub_default span.pt_ethics{position: relative; width:100%; display: block; font-family: 'PTNoeul'; font-size:32px; text-align: center; padding:30px;}
#sub_default span.pt_ethics_tit{position: relative; width:100%; display: block; font-family: 'PTNoeul'; font-size:18px;}

/*상임의원회 */

#acts_list ul li {position: relative; float:left; width:25%; height: 200px; border-radius: 20px; border: 1px #ddd solid; background-image:linear-gradient(to bottom, #fff, #ddd); margin: 10px; padding:50px 20px; text-align: center;}
#acts_list ul li.acts_01 a::before{ content:''; display:block; position: absolute; width:116px; height:114px; background: url("../../images/acts/stand_icon01.png") no-repeat; bottom:10%; left:20%; }
#acts_list ul li.acts_02 a::before{ content:''; display:block; position: absolute; width:116px; height:114px; background: url("../../images/acts/stand_icon02.png") no-repeat; bottom:10%; left:20%; }
#acts_list ul li.acts_03 a::before{ content:''; display:block; position: absolute; width:116px; height:114px; background: url("../../images/acts/stand_icon03.png") no-repeat; bottom:10%; left:20%; }
#acts_list ul li.acts_04 a::before{ content:''; display:block; position: absolute; width:116px; height:114px; background: url("../../images/acts/stand_icon04.png") no-repeat; bottom:10%; left:20%; }

#acts_list ul li.acts_01 a:hover::before{ content:''; display:block; position: absolute; width:116px; height:114px; background: url("../../images/acts/stand_icon01.png") no-repeat; bottom:12%; left:20%; }
#acts_list ul li.acts_02 a:hover::before{ content:''; display:block; position: absolute; width:116px; height:114px; background: url("../../images/acts/stand_icon02.png") no-repeat; bottom:12%; left:20%; }
#acts_list ul li.acts_03 a:hover::before{ content:''; display:block; position: absolute; width:116px; height:114px; background: url("../../images/acts/stand_icon03.png") no-repeat; bottom:12%; left:20%; }
#acts_list ul li.acts_04 a:hover::before{ content:''; display:block; position: absolute; width:116px; height:114px; background: url("../../images/acts/stand_icon04.png") no-repeat; bottom:12%; left:20%; }


/* 안내 txt */
.round_txt em{ position: relative; float: right;  padding:3% 20px; width: 75%; }
.round_txt span.right{clear: both; width:100% }
.round_txt > span.phone::before{content: ''; display:inline-block; width:60px; height: 60px; border-radius: 50%; background: #3c9593 url("../../images/intro/phone_icon.png") no-repeat; background-position: 50%; margin:0  10px 0;}
.round_txt > span.acts_icon::before{content: ''; display:inline-block; width:123px; height: 123px; border-radius: 50%; background: #fff url("../../images/acts/acts_bg_img.png") no-repeat; background-position: 50%; margin:0  10px 0;}
.round_txt > span.visit_icon::before{content: ''; display:inline-block; width:123px; height: 123px; border-radius: 50%; background: #fff url("../../images/intro/visit_bg_img.png") no-repeat; background-position: 50%; margin:0  10px 0;}
.round_txt > span.photo_icon::before{content: ''; display:inline-block; width:60px; height: 60px; border-radius: 50%; background: #fff url("../../images/base/photo_bg_img.png") no-repeat; background-position: 50%; margin:0  10px 0;}
.round_txt > span.cast_icon::before{content: ''; display:inline-block; width:123px; height: 123px; border-radius: 50%; background: #fff url("../../images/cast/cast_bg_img.png") no-repeat; background-position: 50%; margin:0  10px 0;}
.round_txt > span.news_icon::before{content: '';  position: relative; float: left; width:123px; height: 123px; border-radius: 50%; background: #fff url("../../images/base/news_bg_img.png") no-repeat; background-position: 50%; margin:0  10px 0;}
.round_txt > span.tour_icon::before{content: ''; display:inline-block; width:123px; height: 123px; border-radius: 50%; background: #fff url("../../images/base/tour_bg_img.png") no-repeat; background-position: 50%; margin:0  10px 0;}
.round_txt > span.tip_icon::before{content: ''; display:inline-block; width:123px; height: 123px; border-radius: 50%; background: #fff url("../../images/tip/tip_bg_img.png") no-repeat; background-position: 50%; margin:0  10px 0;}
.round_txt > span.search_icon::before{content: ''; display:inline-block; width:123px; height: 123px; border-radius: 50%; background: #fff url("../../images/base/search_bg_img.png") no-repeat; background-position: 50%; margin:0  10px 0;}
/*주민조례청구 */
#propOrdinance .step {display:flex;flex-wrap:wrap;}
#propOrdinance .step li {position: relative;width:28.5%;margin: 0 5% 30px 0;border: 1px solid #ddd;border-radius: 5px;box-sizing: border-box;}
#propOrdinance .step li:not(:last-child):after {content:'';display: block;position: absolute;top: 50%;right: -27px;transform: translateY(-50%) rotate(-45deg);width: 12px;height: 12px;margin: 0 0px 3px 12px;border-right: 2px solid #167b79;border-bottom: 2px solid #167b79;transition:transform 0.25s ease-in-out;}
#propOrdinance .step li:nth-child(3n) {margin-right:0;}
#propOrdinance .step li .cont {display: block;padding: 10px 0 0;text-align:center;background: #eff8fb; }
#propOrdinance .step li .cont em {margin: 10px 0 0;display: flex;flex-wrap: wrap;justify-content: center; color:#e15f00; align-content: center;background: #fff;height: 55px;}
#propOrdinance .tit{ border: 1px solid #ddd; border-style:  dashed ; border-radius: 10px; padding: 10px; margin: 10px; font-size:14px;}



/* 사이트맵 */

#sitemapArea .site_list{overflow:hidden; width:100%; padding:20px 0 0 0; border-top:1px solid #d6d6d6;}
#sitemapArea .site_list h4{float:left; width:22%; font-size:161%; box-sizing:border-box;}
#sitemapArea .site_list > ul{float:left; width:78%; padding:0;}
#sitemapArea .site_list > ul > li {float:left; width:30%; padding:0 1.5% 30px;}
#sitemapArea .site_list > ul > li > a{display:block; color:#fff; line-height:40px; border-radius:5px;background:#66b9a6 url("../../images/intro/funct_bg.png") no-repeat; background-position:right bottom; text-align:center; font-size:115%;}
#sitemapArea .site_list > ul > li > a:hover,
#sitemapArea .site_list > ul > li > a:focus{background:#167b79 url("../../images/intro/funct_bg.png") no-repeat; background-position:right bottom;}
#sitemapArea .site_list > ul > li > ul{padding:10px 0 0 0;}


@media all and (max-width:1240px) {
.round_txt em{ position: relative; float: right; ;  padding:3% 20px; width: 70%; }
.round_txt span.right{clear: both; width:100% }

}

@media all and (max-width:900px) {
.round_txt em{ position: relative; float: right; ;  padding:3% 20px; width: 70%; }
.round_txt span.right{clear: both; width:100% }
#sitemapArea .site_list{padding:10px 0 0 0;}
#sitemapArea .site_list h4{width:95%; font-size:140%;}
#sitemapArea .site_list > ul{width:100%; padding:0 0 0.4em 0;}
#sitemapArea .site_list > ul > li{padding-bottom:20px;}


}

@media all and (max-width:768px) {

#sub_default h4 {font-size: 1.1em; }	

#subTitle h3 { font-size: 1.6em; }		

.round_txt em{ font-size: 0.9em;   top:20%; padding:0 20px; width: 55%;  }

.round_txt > span.acts_icon::before{content: ''; display:inline-block; width:90px; height: 90px;  border-radius: 50%; background: #fff url("../../images/acts/acts_bg_img.png") no-repeat; background-position: 50%; margin:0  10px 0; background-size: cover; }
.round_txt > span.visit_icon::before{content: ''; display:inline-block; width:90px; height: 90px; border-radius: 50%; background: #fff url("../../images/intro/visit_bg_img.png") no-repeat; background-position: 50%; margin:0  10px 0; background-size: cover;}

.round_txt > span.cast_icon::before{content: ''; display:inline-block; width:90px; height: 90px; border-radius: 50%; background: #fff url("../../images/cast/cast_bg_img.png") no-repeat; background-position: 50%; margin:0  10px 0; background-size: cover;}
.round_txt > span.news_icon::before{content: '';  position: relative;  width:90px; height: 90px; border-radius: 50%; background: #fff url("../../images/base/news_bg_img.png") no-repeat; background-position: 50%; margin:0  10px 0; background-size: cover;}
.round_txt > span.tour_icon::before{content: ''; display:inline-block; width:90px; height: 90px; border-radius: 50%; background: #fff url("../../images/base/tour_bg_img.png") no-repeat; background-position: 50%; margin:0  10px 0; background-size: cover;}
.round_txt > span.tip_icon::before{content: ''; display:inline-block; width:90px; height: 90px; border-radius: 50%; background: #fff url("../../images/tip/tip_bg_img.png") no-repeat; background-position: 50%; margin:0  10px 0; background-size: cover;}
.round_txt > span.search_icon::before{content: ''; display:inline-block; width:90px; height: 90px; border-radius: 50%; background: #fff url("../../images/base/search_bg_img.png") no-repeat; background-position: 50%; margin:0  10px 0; background-size: cover;}
	
	
.sub_greeting01 {height:250px; }	
.sub_greeting01 p {width: 80%; font-size:0.8em; }
.sub_greeting01 .pic {position: absolute; width:100px; bottom:0;  right: 0;}
.sub_greeting02 { width: 80%;}
.sub_greeting02 p{margin-top: 20px; padding: 10px; line-height:30px;}
.sub_greeting01 .pic {position: absolute; width:180px; bottom:0;  right: 0;}	
.sub_greeting02 .name {position: absolute; margin-top:50px; left:20px; bottom:30px; font-family: 'PTAnbo'; font-size:25px; z-index: 1; }
.sub_greeting02 .name span {color:#218994; font-size:1.2em;}
	
h4 + .org {margin: 0 0 35px; }
.org br {display:none}
.org, .org-2 {height:auto;}
.org span {position:static; margin: 0 auto; transform:translateX(0);}
.org .org1 > span {margin:30px auto;}
.org .org2 span {position:static;margin-bottom:25px;width:90%;height: 50px;}
.org .org4:not(:last-child) span, 
.org .org5:not(:last-child) span,
.org-2 .org3:not(:last-child) span{margin-bottom:10px;}

.org-2 .org1 > span {width:90%;}
.org-2 .org3 > span {width:90%; height: 50px;}
.org li:not(.org1)::after,
.org-2 li.org3::before{display:none;}
.org li::after{height:84%;}
.org-2 .org1::after{height:80%;}
.org2.org2_1 span{margin:30px auto;}

	
#sub_default span.pt_ethics{position: relative; width:100%; display: block; font-family: 'PTNoeul'; font-size:20px; text-align: center; padding:30px;}
#sub_default span.pt_ethics_tit{position: relative; width:100%; display: block; font-family: 'PTNoeul'; font-size:16px;}	
	

#propOrdinance .step li {position: relative;width:98%;margin: 0 5% 20px 0;border: 1px solid #ddd;border-radius: 5px;box-sizing: border-box;}
#propOrdinance .step li:not(:last-child):after {content:'';display: block;position: absolute;top:95%;left:50% ;transform: translateY(50%) rotate(45deg);width: 12px;height: 12px;margin: 0 0px 3px 12px;border-right: 2px solid #2a4e9f;border-bottom: 2px solid #2a4e9f;transition:transform 0.25s ease-in-out;}
#propOrdinance .step li:nth-child(3n) {margin-right:0;}
	

.history_d {position: relative; top:20px;}
.history_d > li{position:relative; padding:55px 0 10px 0px; margin-top: 25px; border-top:1px solid #dcdcdc; box-sizing:border-box;}
.history_d > li:before{content:''; display: block; position:absolute; top:34px; left:101px; width:80px; border-top:1px dashed #aaa;}
.history_d .histrory_tit{ width:100%; font-size:1.5em; padding-bottom: 30px;}
.history_d .histrory_tit:before{content:''; display:block; width:130px; height:4px; background:#077686;}
.history_d .h_list p{ width: 90%; background:#86babb; border-radius: 10px; color:#fff; padding:10px 20px; }
.history_d .h_list > li{position:relative; padding: 0 0  15px 10px; font-size:15px; line-height: 30px;}
.history_d  h_list ul li{ word-break:keep-all;}
.dot3  li {margin:7px 0 0 30px; font-size:0.8em;}
.dot3 li > strong{  font-weight:600; margin-right: 30px;}
.h_list ul.dot3  li::before{ content: ''; position: absolute; margin:10px 0 0 10px; left: 20px;   width: 5px; height: 5px; background:#6c9798;}
.h_list ul.dot3 span{ display: block; margin-left: 120px;}	

#acts_list ul li { width:95%; height: 150px; padd-left:5px; }
#acts_list ul li span{ font-size:0.8em; }
#acts_list ul li.acts_01 a::before{ content:''; display:block; position: absolute; width:116px; height:114px; background: url("../../images/acts/stand_icon01.png") no-repeat; bottom:5%; left:30%; }
#acts_list ul li.acts_02 a::before{ content:''; display:block; position: absolute; width:116px; height:114px; background: url("../../images/acts/stand_icon02.png") no-repeat; bottom:5%; left:30%; }
#acts_list ul li.acts_03 a::before{ content:''; display:block; position: absolute; width:116px; height:114px; background: url("../../images/acts/stand_icon03.png") no-repeat; bottom:5%; left:30%; }
#acts_list ul li.acts_04 a::before{ content:''; display:block; position: absolute; width:116px; height:114px; background: url("../../images/acts/stand_icon04.png") no-repeat; bottom:5%; left:30%; }	

#acts_list ul li.acts_01 a:hover::before{ content:''; display:block; position: absolute; width:116px; height:114px; background: url("../../images/acts/stand_icon01.png") no-repeat; bottom:8%; left:30%; }
#acts_list ul li.acts_02 a:hover::before{ content:''; display:block; position: absolute; width:116px; height:114px; background: url("../../images/acts/stand_icon02.png") no-repeat; bottom:8%; left:30%; }
#acts_list ul li.acts_03 a:hover::before{ content:''; display:block; position: absolute; width:116px; height:114px; background: url("../../images/acts/stand_icon03.png") no-repeat; bottom:8%; left:30%; }
#acts_list ul li.acts_04 a:hover::before{ content:''; display:block; position: absolute; width:116px; height:114px; background: url("../../images/acts/stand_icon04.png") no-repeat; bottom:8%; left:30%; }		
	
.dl_style01{}
.dl_style01 > dl {width:97%;border-radius:10px;border:1px solid #ddd;}
.dl_style01 > dl > dt {border-radius:0;background-color:#fff;padding:5px 15px;color:#000;width:100%;min-height:40px;margin-right:0;float:none;}
.dl_style01 > dl > dd{border-radius:0;border:none;min-height:auto;float:none;padding:5px 15px 10px 15px;width:100%;}
.dl_style01 > dl > dt > dl > dt{font-size:22px; padding-right:10px}
.dl_style01 > dl > dd ul li{font-size:13px}

.dl_style02{}
.dl_style02 > dl {width:97%;border-radius:10px;border:1px solid #ddd;}
.dl_style02 > dl > dt {border-radius:0;background-color:#fff;padding:5px 15px;color:#000;width:100%;min-height:40px;margin-right:0;float:none;}
.dl_style02 > dl > dd{border-radius:0;border:none;min-height:auto;float:none;padding:5px 15px 10px 15px;width:100%;}
.dl_style02 > dl > dt > dl > dt{font-size:22px; padding-right:10px}
.dl_style02 > dl > dd ul li{font-size:13px}

.dl_style03{}
.dl_style03 > dl {width:97%;border-radius:10px;border:1px solid #ddd;}
.dl_style03 > dl > dt {border-radius:0;background-color:#fff;padding:5px 15px;color:#000;width:100%;min-height:40px;margin-right:0;float:none;}
.dl_style03 > dl > dd{border-radius:0;border:none;min-height:auto;float:none;padding:5px 15px 10px 15px;width:100%;}
.dl_style03 > dl > dt > dl > dt{font-size:22px; padding-right:10px}
.dl_style03 > dl > dd ul li{font-size:13px}


.dl_style04{}
.dl_style04 > dl {width:97%;border-radius:10px;border:1px solid #ddd;}
.dl_style04 > dl > dt {border-radius:0;background-color:#fff;padding:5px 15px;color:#000;width:100%;min-height:40px;margin-right:0;float:none;}
.dl_style04 > dl > dd{border-radius:0;border:none;min-height:auto;float:none;padding:5px 15px 10px 15px;width:100%;}
.dl_style04 > dl > dt > dl > dt{font-size:22px; padding-right:10px}
.dl_style04 > dl > dd ul li{font-size:13px}

.dl_styleL{}
.dl_styleL > dl {width:97%;border-radius:10px;border:1px solid #ddd;}
.dl_styleL > dl > dt {border-radius:0;background-color:#fff;padding:5px 15px;color:#000;width:100%;min-height:40px;margin-right:0;float:none;}
.dl_styleL > dl > dd{border-radius:0;border:none;min-height:auto;float:none;padding:5px 15px 10px 15px;width:100%;}
.dl_styleL > dl > dt > dl > dt{font-size:22px; padding-right:10px}
.dl_styleL > dl > dd ul li{font-size:13px}	
	
#propOrdinance .step {font-size:0.9em;}	

#sitemapArea .site_list h4{font-size:130%;}
#sitemapArea .site_list > ul{padding:0 0 1em 0;}
#sitemapArea .site_list > ul > li{width:48%; padding:0 1% 10px;}
#sitemapArea .site_list > ul > li > a{font-size:105%;}

.round_txt span.right{ width:100% }	
	
}
@media all and (max-width:568px) {
	
.round_txt > span.acts_icon{ height:220px;}	
#sub_default {font-size:0.9em;}		
	
.sub_greeting01 {height:250px; }	
.sub_greeting01 p {width: 80%; }
.sub_greeting01 .pic {position: absolute; width:180px; bottom:0;  right: 0;}
.sub_greeting02 { width: 80%;}
.sub_greeting02 p{margin-top: 20px; padding: 10px; line-height:30px;}
.sub_greeting02 .name {position: absolute; margin-top:50px; left:20px; font-family: 'PTAnbo'; font-size:25px; z-index: 1;}
.sub_greeting02 .name span {color:#218994; font-size:1.2em;}


}
@media all and (max-width:380px) {
.round_txt em{  width: 50% }
}
